{% extends "theme_base.html" %}

{% load url from future %}

{% load cache %}
{% load compress %}
{% load static %}
{% load metron_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title_base %}{% block head_title %}{% endblock %} | PyCon 2015 in Montr&#233;al{% endblock %}

{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less" />
        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <meta property="og:image" content="https://us.pycon.org/2014/site_media/static/img/logo.png" />
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
    <header class="main">
        <a id="skip" href="#content">{% trans "Skip to main content" %}</a>
        <div class="container">
        <div class="account-bar{% if user.is_authenticated %} {% trans "loggedin" %}{% endif %}">
            {% block account_bar %}
            {% include "_account_bar.html" %}
            {% endblock %}
        </div>
        {% block main_nav %}
            <nav>
                <div class="container">
                    <a class="logo-small" href="{% url 'home' %}">PyCon 2015 in Montr&#233;al</a>
                    <div class="navbar navbar-inverse">
                        <div class="navbar-inner">
                            {% block topbar %}
                                {% block nav %}
                                {% sitetree_menu from "main" include "trunk" %}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        </div>
    </header>
    {% block banner %}{% endblock %}
{% endblock %}

{% block body_base %}
    <div id="content">
        {% block body_outer %}
            <div class="page-head">
                <div class="container">
                    <div itemprop="summary" class="logo">
                        <a href="{% url 'home' %}"><img class="img-responsive logo" src="{{ STATIC_URL }}img/pycon2015-logo.png" alt="PyCon 2015 Montreal Canada"></a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                {% include "_messages.html" %}
                {% block page_content %}
                <div class="container">

                    <div class="row">
                        <div class="row pageTitle">
                            <div class="container">
                                <h1>{% block page_title %}{% endblock %}</h1>
                                {% block breadcrumbs %}{% endblock %}
                                <div class="skyline"></div>
                            </div>
                        </div>
                        <div class="span9">
                            {% block edit_page %}{% endblock %}
                            <div class="box">
                                <div class="box-content">{% block body %}{% endblock %}</div>
                            </div>
                        </div>
                        <aside class="span2">
                            {% block sidebar %}
                            {% cache 600 "sidebar" %}
                                <div class="sponsor-list">
                                    <h2>{% trans "SPONSORS" %}</h2>
                                    {% sponsor_levels as levels %}
                                    {% for level in levels %}
                                        {% if level.sponsors %}
                                            <h3{% if forloop.first %} style="margin-top: 20px;"{% endif %}>{{ level.name }}</h3>
                                            {% for sponsor in level.sponsors %}
                                                <a href="{{ sponsor.external_url }}">
                                                    <img src="{% thumbnail sponsor.website_logo '100x60' %}" alt="{{ sponsor.name }}" />
                                                </a>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endcache %}
                            {% endblock %}
                        </aside>
                    </div>
                </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class=bottombg>
        <img class="img-responsive" src="{{ STATIC_URL }}img/bottombg.png" alt="bottom band background">
    </div>
    <footer>
        <div class="container">
        {% block footer %}
            <div class="row-fluid footer-content col-centered">
                <div class="span5">
                    <div class="footer-left">
                        <p>
                          {% blocktrans %}
                            PyCon 2015 in Montr&#233;al is a production of the <a href="http://python.org/psf/">Python Software Foundation</a>.
                            Site built by <a href="http://caktusgroup.com">Caktus Consulting Group, LLC.</a> using <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
                          {% endblocktrans %}
                        </p>
                    </div>
                </div>
                <div class="span2">
                    <div class="row-fluid">
                        <a href="http://caktusgroup.com">
                            <img class="caktus-logo col-centered" src="{{ STATIC_URL }}img/caktusgroup-logo.png" alt="Caktus Consulting Group">
                        </a>
                    </div>
                </div>
                <div class="span5">
                    <div class="footer-right">
                        <p>
                          {% blocktrans %}
                            Hosting provided by <a href="http://osuosl.org">OSU Open Source Lab</a>.
                            Questions? Comments? Contact <a href="mailto:pycon-organizers@python.org">pycon-organizers@python.org</a>
                          {% endblocktrans %}
                        </p>
                    </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </footer>
{% endblock %}

{% block script_base %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
