{% extends "site_base.html" %}

{% load sitetree %}

{% block body_class %}venue{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body_outer %}
    <div class="span12">
        <div class="page-head">
            <h1>{% sitetree_page_title from "main" %}</h1>
            {% sitetree_breadcrumbs from "main" %}
        </div>
    </div>
    <div class="row">
        <div class="span3 sidebar">
            {% sitetree_menu from "main" include "this-children,this-siblings" template "sitetree/menu_sidebar.html" %}
        </div>
        <div class="span9">
            <div class="{% block content_class %}box{% endblock %}">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
