{% extends "venue/base.html" %}

{% load boxes_tags %}

{% block extra_class %}venue-info{% endblock %}

{% block content %}
    <div class="map">
        <iframe width="614" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Santa+Clara+Convention+Center+5001+Great+America+Parkway+Santa+Clara,+California+USA+95054+&amp;aq=&amp;sll=37.404085,-121.975408&amp;sspn=0.011114,0.022724&amp;ie=UTF8&amp;hq=Santa+Clara+Convention+Center&amp;hnear=5001+Great+America+Pkwy,+Santa+Clara,+California+95054&amp;cid=13973534836186469092&amp;ll=37.406574,-121.974506&amp;spn=0.027272,0.100422&amp;z=13&amp;output=embed&iwloc=near"></iframe>
        <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Santa+Clara+Convention+Center+5001+Great+America+Parkway+Santa+Clara,+California+USA+95054+&amp;aq=&amp;sll=37.404085,-121.975408&amp;sspn=0.011114,0.022724&amp;ie=UTF8&amp;hq=Santa+Clara+Convention+Center&amp;hnear=5001+Great+America+Pkwy,+Santa+Clara,+California+95054&amp;cid=13973534836186469092&amp;ll=37.406574,-121.974506&amp;spn=0.027272,0.100422&amp;z=13">View Larger Map</a>
    </div>

    {% box "venue_info" %}

{% endblock %}
