{% load i18n %}

<h4>{% trans "STATUS" %}</h4>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label
  {% if application.get_status_display == "Rejected" or application.get_status_display == "Declined" %}
    label-important
  {% elif application.get_status_display == "Information needed" %}
    label-info
  {% else %}label-success{% endif %}
  ">
  {{ application.get_status_display }}
</span>

<h4>{% trans "TIMESTAMP" %}</h4>
<ul class="timestamp unstyled">
  <li>
   <strong>{% trans "Submitted:" %}</strong>
    {{ application.timestamp }}
  </li>

  {% if application.timestamp != application.last_updated %}
    <li>
     <strong>{% trans "Last updated:" %}</strong>
      {{ application.last_update }}
    </li>
  {% endif %}
</ul>


  {% if application.pyladies_grant_requested %}
<hr>
  <h4>{% trans "GRANT(S) REQUESTED" %}</h4>
  <ul class="grants unstyled">
    <li>{% trans "PyLadies grant requested" %}<li>
  </ul>
<hr>
  {% endif %}


<h4>{% trans "APPLICANT INFO" %}</h4>
<ul class="unstyled applicant-info">
  <li>
    <strong>{% trans "Amount Requested" %}</strong>
    <p>{{ application.amount_requested }}</p>
  </li>
  <li>
    <strong>{% trans "Travel Plans" %}</strong>
    <p>{{ application.travel_plans }}</p>
  </li>
  <li>
    <strong>{% trans "Profession" %}</strong>
    <p>{{ application.profession }}</p>
  </li>
  <li>
    <strong>{% trans "Involvement" %}</strong>
    <p>{{ application.involvement }}</p>
  </li>
  <li>
    <strong>{% trans "How you use Python and how PyCon will help?" %}</strong>
    <p>{{ application.what_you_want }}</p>
  </li>
  {% if application.portfolios %}
    <li>
      <strong>{% trans "Portfolios" %}</strong>
      <p>{{ application.portfolios }}</p>
    </li>
  {% endif %}
  <li>
    <strong>{% trans "Presenting at PyCon:" %}</strong>
    <p>{{ application.get_presenting_display }}</p>
  </li>
  <li>
    <strong>{% trans "Experience level" %}</strong>
    <p>{{ application.experience_level }}</p>
  </li>
  <li>
    <strong>{% trans "Presented at PyCon before:" %}</strong>
    <p>{{ application.presented }}</p>
  </li>
  <li>
   <strong>{% trans "First time at PyCon:" %}</strong>
    <p>{{ application.first_time }}</p>
  </li>
</ul>
