{% load i18n %}

<h4>{% trans "STATUS" %}
<span class="label
  {% if application.get_status_display == "Rejected" or application.get_status_display == "Declined" %}
    label-important
  {% elif application.get_status_display == "Information needed" %}
    label-info
  {% else %}label-success{% endif %}
  ">
  {{ application.get_status_display }}
</h4>

<ul class="timestamp unstyled">
  <h4>{% trans "TIMESTAMP" %}</h4>
  <li>
   <strong>{% trans "Submitted:" %}</strong>
    {{ application.timestamp }}
  </li>

  {% if application.timestamp != application.last_updated %}
    <li>
     <strong>{% trans "Last updated:" %}</strong>
      {{ application.last_update }}
    </li>
  {% endif %}
</ul>

<hr>

<ul class="grants unstyled">
  <h4>{% trans "GRANT(S) REQUESTED" %}</h4>
  {% if application.pyladies_grant_requested %}
    <li>{% trans "PyLadies grant requested" %}<li>
  {% endif %}
</ul>

<hr>

<ul class="unstyled applicant-info">
  <h4>{% trans "APPLICANT INFO" %}</h4>
  <li>
    <strong>{% trans "Amount Requested" %}</strong>
    <p>{{ application.amount_requested }}</p>
  </li>
  <li>
    <strong>{% trans "Travel Plans" %}</strong>
    <p>{{ application.travel_plans }}</p>
  </li>
  <li>
    <strong>{% trans "Profession" %}</strong>
    <p>{{ application.profession }}</p>
  </li>
  {% if application.involvement %}
    <li>
      <strong>{% trans "Involvement" %}</strong>
      <p>{{ application.involvement }}</p>
    </li>
  {% endif %}
  <li>
    <strong>{% trans "What do you want to get out of attending PyCon?" %}</strong>
    <p>{{ application.what_you_want }}</p>
  </li>
  {% if application.portfolios %}
    <li>
      <strong>{% trans "Portfolios" %}</strong>
      <p>{{ application.portfolios }}</p>
    </li>
  {% endif %}
  <li>
    <strong>{% trans "Use of Python" %}</strong>
    <p>{{ application.use_of_python }}</p>
  </li>
  <li>
    <strong>{% trans "Presenting at PyCon:" %}</strong>
    {{ application.get_presenting_display }}
  </li>
  <li>
    <strong>{% trans "Experience level" %}</strong>
    <p>{{ application.experience_level }}</p>
  </li>
  {% if application.presented %}
    <li>
      <strong>{% trans "Presented at PyCon before:" %}</strong>
      {{ application.presented }}
    </li>
  {% endif %}
  {% if application.first_time %}
    <li>
     <strong>{% trans "First time at PyCon:" %}</strong>
      {{ application.first_time }}
    </li>
  {% endif %}
</ul>
