{% extends "finaid/base.html" %}

{% block body_id %}finaid_review{% endblock %}

{% block page_title %}Financial Aid Review{% endblock %}

{% load compress %}
{% load i18n %}
{% load bootstrap_tags %}
{% load account_tags %}
{% load review_tags %}

{% block body %}
  <p>
    <a class="btn btn-primary" href="{% url 'finaid_review' %}">
      <i class="icon-arrow-left"></i>
      Back to list of applications
    </a>
  </p>

  <header>
    <small>APPLICANT</small>
    <h2>
      <i class="icon-user"></i>
      {{ application.user }}
    </h2>
    <h3>
      <a href="mailto:{{ application.user.email }}">
        {{ application.user.email }}
      </a>
    </h3>
  </header>

  <div class="tabbable">

    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#application-detail" data-toggle="tab">
          <i class="icon-file"></i>
          Application
        </a>
      </li>
      <li>
        <a href="#application-messages" data-toggle="tab">
          <i class="icon-envelope"></i>
          Messages
          <span class="badge badge-info">{{ application.messages.all|length }}</span>
        </a>
      </li>
{#      <li><a href="#application-review" data-toggle="tab">Review data" %}</a></li>#}
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="application-detail">
        <div class="row">
          <div class="applicant span6">
            {% with is_reviewer=True %}
              {% include "finaid/_application_fields.html" %}
            {% endwith %}
          </div>
          <div class="review-form span3">
            <h4>REVIEW FORM</h4>
            <hr>
            {% with form=review_form %}
              {% if form.errors %}
                <div class="alert">
                  <p class="text-error">
                    There were errors in your form, please correct them and submit again." %}
                  </p>
                </div>
              {% endif %}

              <p>
                <strong>Sum:</strong>
                {{ form.instance.sum }}
              </p>

              <form action="" method="POST" accept-charset="utf-8">
                {% csrf_token %}
                <fieldset>
                  {{ form|as_bootstrap }}
                </fieldset>
                <div class="actions">
                  <button type="submit" name="review_submit" class="btn btn-success">{% trans "Submit" %}</button>
                </div>
              </form>

            {% endwith %}
          </div>
        </div>
      </div>

      <div class="tab-pane" id="application-messages">
        {% if review_messages %}
          <h3>
            <i class="icon-envelope"></i>
            Messages
          </h3>
          {% for message in review_messages %}
            <div class="comment-box{% if not message.visible %} private{% endif %}">
              <div class="commment-content">
                {% if not message.visible %}
                  <h4>
                    <i class="icon-eye-close"></i>
                    PRIVATE TO REVIEWERS
                  </h4>
                {% endif %}
                <strong>{% user_display message.user %}</strong>
                {{ message.submitted_at|timesince }} ago
                <br />
                {{ message.message|bleach|safe }}
              </div>
            </div>
          {% endfor %}

        {% else %}
          No messages
        {% endif %}
        <hr />

        <h3>
          <i class="icon-pencil"></i>
          Add a Message
        </h3>
        {% with form=message_form %}
          {% if form.errors %}
            <div class="alert">
              <p class="text-error">
                There were errors in your form, please correct them and submit again.
              </p>
            </div>
          {% endif %}
          <form action="" method="POST" accept-charset="utf-8">
            {% csrf_token %}
            <fieldset>
              {{ form|as_bootstrap }}
            </fieldset>
            <div class="actions">
              <button type="submit" name="message_submit" class="btn btn-success">{% trans "Submit" %}</button>
            </div>
          </form>
        {% endwith %}
      </div>
{#      <div class="tab-pane" id="application-review">#}
{#       #}
{#      </div>#}
    </div>
  </div>
{% endblock %}

{% block extra_script %}
  {% compress js %}
    <script src="{{ STATIC_URL }}symposion/js/jquery.history.js"></script>
    <script type="text/javascript">
      $(function() {
        var History = window.History;

        var on_anchor_change = function() {
          $(".nav-tabs a[href='" + location.hash + "']").click();
        };

        $(window).bind("anchorchange", on_anchor_change);

        // Initialize - if we're loading the page and the URL has an anchor
        // in it, switch to that tab
        on_anchor_change();

        $('.nav-tabs a[data-toggle="tab"]').on('shown', function (e) {
          if (History.enabled) {
            History.pushState(null, null, $(e.target).attr("href"));
          }
        });
      });
    </script>
  {% endcompress %}
{% endblock %}
