{% extends "site_base.html" %}
{% load account_tags %}

{% block body %}
    <h1>Sessions</h1>
    
    <ul class="unstyled">
        {% for session in sessions %}
            {% if session.sorted_slots %}
                <li>
                    <a href="{% url schedule_session_detail session.pk %}">Session #{{ session.id }}</a>
                    <div class="well">
                        <ul class="unstyled">
                            {% for role in session.sessionrole_set.all %}
                                <li>
                                    <b>{{ role.get_role_display }}</b>: {% user_display role.user %}
                                </li>
                            {% empty %}
                                <li>No volunteers signed up</li>
                            {% endfor %}
                        </ul>
                        <h4>Slots</h4>
                        <table class="table">
                            {% for slot in session.sorted_slots %}
                                <tr>
                                    <td>{{ slot }}</td>
                                    <td>
                                        {% if slot.content %}<a href="{% url schedule_presentation_detail slot.content.pk %}">{{ slot.content }}</a>{% endif %}
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>No slots in session.</tr>
                            {% endfor %}
                        </table>
                    </div>
                </li>
            {% endif %}
        {% empty %}
            <li>No sessions defined.</li>
        {% endfor %}
    </ul>
    
{% endblock %}