{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{{ sponsor }}{% endblock %}

{% block page_title %}{% trans "Sponsorship" %}{% endblock %}

{% block extra_head %}
{{ block.super }}
{{ form.media }}
{% endblock %}

{% block body %}
    <h2>{{ sponsor.name }} ({{ sponsor.level }})</h2>

    <form enctype="multipart/form-data" method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>

        {% include "sponsorship/contact_emails.html" with formset=email_formset %}

        <h3>{% blocktrans %}{{ sponsor.level }} Sponsor Benefits{% endblocktrans %}</h3>

        {{ benefit_formset.management_form }}
        {{ benefit_formset.non_form_errors }}

        {% for form in benefit_formset.forms %}
            <div class="control-group">
                <label class="control-label">{{ form.instance.benefit }}</label>
                <div class="controls">
                    {{ form }}
                    <p class="help-block">{{ form.instance.benefit.description }}</p>
                </div>
            </div>
        {% endfor %}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Save" %}" />
        </div>

    </form>
{% endblock %}

{% block extra_script %}
{% endblock %}
