<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8" />
        <title>PyCon &mdash; Server Error</title>
        <style>
            body {
                font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
            }
            .container {
                width: 940px;
                margin: auto 50px;
                zoom: 1;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ SITE_NAME }}</h1>

            <p>
                Oops, we've had a problem on the server. The web team have been informed and will be looking into it but if you have any questions, don't hesitate to email:
            </p>

            <p><a href="mailto:pycon-site@python.org"><em>pycon-site@python.org</em></a></p>
        </div>
    </body>
</html>
