{% extends "site_base.html" %}

{% block body_class %}auth{% endblock %}

{% block body_outer %}
    <div class="row">
        <div class="span12">
            <div class="page-head">
                <h1>{% block page_title %}{% endblock %}</h1>
                {% block breadcrumbs %}
                    <ul class="breadcrumb">
                        <li><a href="{% url dashboard %}">Dashboard</a></li>
                    </ul>
                {% endblock %}
            </div>
            <div class="box">
                <div class="box-content">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
