{% extends "site_base.html" %}

{% block body %}
    <h1>Dashboard</h1>
    
    <p>
        This is your dashboard where you can manage all aspects of your
        involvement in the conference, from talk proposals to sponsorship.
    </p>
    
    <h2>Speaking</h2>
    
    {% if user.speaker_profile %}
        <p><a href="{% url speaker_edit %}">Edit speaker profile</a></p>
        <p><a href="#">Submit a new proposal</a></p>
    {% else %}
        <p>To submit a proposal, first <a href="{% url speaker_create %}">create a speaker profile</a>.</p>
    {% endif %}
    
    <h2>Sponsorship</h2>
    
    <p><a href="{% url sponsor_info %}">Learn more</a> about sponsorship.</p>
    
    {% if user.sponsorships.exists %}
        <p>Your sponsorship:</p>
        <ul>
            {% for sponsorship in user.sponsorships.all %}
                <li>
                    {% if sponsorship.active %}
                        <a href="{% url sponsor_detail sponsorship.pk %}"><b>{{ sponsorship.name }}</b></a>
                        ({{ sponsorship.level }})
                    {% else %}
                        <b>{{ sponsorship.name }}</b>
                        ({{ sponsorship.level }})
                        <i>awaiting approval</i>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p><a href="{% url sponsor_apply %}">Apply to be a sponsor</a></p>
    {% endif %}
    
    {% if user.is_staff %}
        <h2>Staff</h2>
        
        <p>Go to Django <a href="{% url admin:index %}">Admin</a></p>
    {% endif %}
{% endblock %}