{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}
{% load biblion_tags %}

{% block head_title_base %}PyCon US 2013 | Santa Clara, CA | March 13th &ndash; March 21st{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <div class="banner">
        <div class="container" itemscope itemtype="http://data-vocabulary.org/Event">
            <div class="row">
                <div class="span7">
                    <h1 itemprop="summary"><a href="/" class="logo">PyCon 2013</a></h1>
                    <h2><span itemprop="locality">Santa Clara</span>, <span itemprop="region">CA</span>, <time itemprop="startDate" datetime="2013-3-13">March 13</time>&ndash;<time itemprop="endDate" datetime="2013-3-21">21</time></h2>
                </div>
                <div class="span5">
                    <p class="intro" itemprop="description">
                        The largest annual gathering<br />
                        for the community using and developing<br />
                        the open-source<br />
                        <strong>Python programming language</strong>
                    </p>
                </div>
                <span itemprop="geo" itemscope itemtype="http://data-vocabulary.org/​Geo">
                    <meta itemprop="latitude" content="37.405364" />
                    <meta itemprop="longitude" content="-121.975408" />
                </span>
            </div>
            <div class="dotted-ln"></div>
            <div class="row">
                <div class="span12">
                    <h4>Change the future - education, outreach, politeness, respect, tenacity and vision</h4>
                </div>
            </div>
            <div class="dotted-ln"></div>
            <div class="row">
                <div class="span4">
                    <ul class="unstyled">
                        <li><a href="#"><span>Tutorials:</span>  March 13&ndash;14</a></li>
                        <li><a href="#"><span>Main Conference:</span>  March 15&ndash;17</a></li>
                        <li><a href="#"><span>Development Sprints:</span>  March 18&ndash;21</a></li>
                    </ul>
                </div>
                <div class="span5">
                    <div class="presented">
                        <div class="bdr"></div>
                        <h6>Presented By</h6>
                        
                        {% cache 600 "homepage-sponsors-diamond" %}
                            {% sponsors "diamond" as diamond_sponsors %}

                            {% if diamond_sponsors|length == 0 %}
                                {% include "_sponsorship_link.html" %}
                            {% else %}
                                {% for sponsor in diamond_sponsors %}
                                    <a href="{{ sponsor.external_url }}">
                                        <img src="{% thumbnail sponsor.website_logo '200x120' %}" alt="{{ sponsor.name }}" class="diamond-sponsors" />
                                    </a>
                                {% endfor %}

                                {% if diamond_sponsors|length == 1 %}
                                    <div class="sponsorship-link">
                                        {% include "_sponsorship_link.html" %}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endcache %}
                        <div class="bdr bdr-r"></div>
                    </div>
                </div>
                <div class="span3 tickets-info" itemprop="tickets" itemscope itemtype="http://data-vocabulary.org/Offer">
                    <div class="tickets"></div>
                    <h6>Registration</h6>
                    <p>
                        <strong>Sold Out</strong>
                    </p>
                </div>
            </div>
            <div class="dotted-ln no-mrg-btm"></div>
        </div>
    </div>
{% endblock %}

{% block body_outer %}
<div class="row">
    <div class="span12 sponsor-crawl">
        {% cache 600 "homepage-sponsor-slider" %}
            <h3 class="scroll-title">Sponsors</h3>
            {% sponsors "diamond" as diamond_sponsors %}
            {% if diamond_sponsors|length > 1 %}
                <div class="sponsorship-link">
                    {% include "_sponsorship_link.html" %}
                </div>
            {% endif %}
            <div id="sponsorslider" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
              {% sponsors as all_sponsors %}
                {# sponsors without levels, 21 per each slide #}
                {% for sponsor in all_sponsors %}
                    {% if forloop.first or forloop.counter0|divisibleby:"21" %}
                        <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
                    {% endif %}

                    <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                        <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '95x95' %}')" data-background-2x="{% thumbnail sponsor.website_logo '190x190' %}"></div>
                    </a>
                    {% if forloop.counter|divisibleby:"21" or forloop.last %}</div>{% endif %}
                {% endfor %}
              </div>
              <!-- Carousel nav -->
              <nav id="slider-nav">
                {% for sponsor in all_sponsors %}
                    {% if forloop.first or forloop.counter0|divisibleby:"21" %}
                        <a href="#" class="{% if forloop.first %}activeSlide{% endif %}"></a>
                    {% endif %}
                {% endfor %}
              </nav>
            </div>
        {% endcache %}
    </div>

    {% latest_blog_posts as posts %}
    <div class="span8">
        <h3>Announcements</h3>
            {% for post in posts %}
                <div class="blog-post">
                    <div class="date">
                        <span class="month">{{ post.published|date:"M" }}</span> {{ post.published|date:"n" }}
                        <span class="year">{{ post.published|date:"Y" }}</span>
                    </div>
                    <div class="post-content">
                        <h2>{{ post.title }}</h2>
                        <p class="post_dateline">by <span class="author">{{ post.author.get_full_name }}</span></p>
                        <div class="teaser">{{ post.teaser_html|safe }}</div>
                    </div>
                </div>
            {% empty %}
                <p>No announcements have been published.</p>
            {% endfor %}
    </div>
    <div class="span4">
        {% box "homepage-about" %}
    </div>
</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(function(){
            var slider = $("#sponsorslider").carousel({interval: 7000});
            slider.bind("slid", function() {
                var index = $(this).find(".active").index();
                $(this).find("#slider-nav a").removeClass("activeSlide").eq(index).addClass("activeSlide");
            });
            $("#slider-nav a").click(function(e){
                var index = $(this).index();
                slider.carousel(index);
                e.preventDefault();
            });

            var retina = window.devicePixelRatio > 1.5 ? true : false;
            if (retina) {
                $("div.sponsor-scroll-item").each(function() {
                    var retinaimage = $(this).data("background-2x");
                    $(this).css("background-image", "url("+retinaimage+")");
                    // preload image
                    $('<img/>')[0].src = retinaimage;
                })
            };
        });
    </script>
{% endblock %}

