_build
*.pyc
*.swp
dev.db
.DS_Store
pycon/static/js/cssrefresh.js
pycon/static/less/bootstrap/bootstrap.css
pycon/static/less/bootstrap/variables.css
MANIFEST
.tox
pycon/settings/local.py
site_media
.ropeproject/
program_export/
.coverage
htmlcov/
env/
node_modules/
