_build
*.pyc
dev.db
.DS_Store
pycon_project/.gondor/config
pycon_project/static/.DS_Store
pycon_project/static/2012/img/icons/.DS_Store
symposion/static/.DS_Store
symposion/static/js/cssrefresh.js
symposion/static/less/bootstrap/.DS_Store
symposion/static/less/bootstrap/bootstrap.css
symposion/static/less/bootstrap/variables.css
symposion/templates/.DS_Store
symposion/templates_original/_account_bar.html
symposion/templates_original/_footer.html
symposion/templates_original/about/what_next.html
symposion/templates_original/homepage.html
symposion/templates_original/site_base.html
symposion/templates_original/sponsorship/_horizontal_by_level.html
symposion/templates_original/sponsorship/_sponsor_link.html
symposion/templates_original/sponsorship/_vertical_by_level.html
symposion/templates_original/sponsorship/_wall.html