{% extends "speakers/base.html" %}

{% load boxes_tags %}

{% block body %}
    <h1>Speakers</h1>
    
    {% if accepting_proposals %}
        <p>{% box "talk-proposals" %}</p>
        
        <p>To submit a talk:</p>
        
        <ol class="steps">
            <li class="done first">sign up and log in</li>
            <li class="next second"><a href="{% url speaker_create %}">create a speaker profile</a></li>
            <li class="third">submit one or more proposals</li>
        </ol>
        
        <p>You will be able to come back and revise your submission until the deadline.
            Remember that speakers must register and pay to attend the conference.</p>
    {% else %}
        <p>Talk submissions are now closed and the <a href="{% url schedule_list %}">schedule has been announced</a>.</p>
    {% endif %}
{% endblock %}
