body {
    background: #CCC;
    font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
    background: rgb(50, 99, 66);
    color: rgb(18, 40, 25);
    text-shadow: 0px 1px 0px rgb(72, 120, 88);

}
#heading {
    text-align: center;
    margin: 20px 0;
}
#heading h1 {
    margin: 0;
    padding: 0;
    font-size: 56pt;
    line-height: 48pt;
    font-weight: 900;
}
#heading h1 a {
    text-decoration: none;
}
#heading h1 span {
    color: rgb(255, 199, 87);
    text-shadow: 0px -1px 0px #000;
}
#heading h2 {
    color: rgb(18, 40, 25);
    margin: 5px 0 0 200px;
    padding: 0;
    font-size: 18pt;
    line-height: 20pt;
    font-weight: 500;
}

#nav {
    text-align: center;
    padding: 10px 20px 5px;
    background: rgb(18, 40, 25);
    text-shadow: none;
    color: rgb(255, 199, 87);
    font-size: 16pt;
}
#nav a {
    color: rgb(255, 199, 87);
    text-decoration: none;
    padding: 6px 20px;
}
#nav a:hover {
    color: rgb(255, 255, 255);
}
#nav ul {
    margin: 0;
    list-style: none;
}
#nav li {
    display: inline;
}

#body {
    margin: 0;
    padding: 40px 20px 60px;
    background: #FFF;
    text-shadow: none;
}
#body a:hover {
    color: rgb(72, 120, 88);
}
#wrapper {
    margin: 0 auto;
    width: 840px;
}
#main {
    float: left;
    width: 640px;
}
#right {
    float: left;
    width: 200px;
}
#footer {
    margin: 0 auto;
    width: 840px;
    padding: 10px;
    font-size: 10pt;
    line-height: 1.2em;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgb(72, 120, 88);
}
p {
}
b, strong {
    font-weight: bold;
}
p.main {
    margin-top: 30px;
    font-size: 16pt;
}
p.success {
    padding: 5px 10px;
    background: #9C9;
    color: rgb(35, 79, 50);
    text-shadow: 0px 1px 0px #EFE;
    font-size: 18pt;
}
p.error {
    padding: 5px 10px;
    background: #999;
    color: #444;
    text-shadow: 0px 1px 0px #EEE;
    font-size: 18pt;
}
a {
    color: rgb(18, 40, 25);
}
a:hover {
    color: rgb(255, 199, 87);
    text-shadow: none;
}
a img {
    border: 0;
}
.mainbox {
    color: rgb(72, 120, 88);
    background: rgb(18, 40, 25);
    padding: 25px 20px 5px;
    margin: 10px 0;
    font-size: 16pt;
    text-shadow: 0px -1px 0px #000;
}
.mainbox b {
    color: #FFF;
}
.mainbox a {
    color: #FFF;
    text-shadow: none;
}
.outerbox {
    text-align: center;
    width: 840px;
    margin: 0 auto 50px;
}
.box {
    color: rgb(72, 120, 88);
    background: rgb(18, 40, 25);
    padding: 25px 20px 5px;
    width: 220px;
    height: 160px;
    margin: 10px;
    float: left;
    font-size: 16pt;
    text-shadow: 0px -1px 0px #000;
}
.mainbox h2, .box h2 {
    font-weight: 500;
    font-size: 24pt;
    margin: 0;
    color: rgb(255, 199, 87);
}
.box p {
    margin: 10px 0 0;
}
.waitinglist {
    text-align: center;
}
.waitinglist input[type=text] {
    margin: 0;
    border: none;
    font-size: 14pt;
    padding: 4px 12px 3px;
    color: #666;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
}
.waitinglist input[type=submit] {
    margin: 0;
    color: #DEF;
    font-size: 12pt;
    background: rgb(18, 40, 25);
    padding: 6px 12px 5px;
    border: none;
    cursor: pointer;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
.waitinglist input[type=submit]:hover {
    background: rgb(35, 79, 50);
}

ol.steps {
    font-size: 16pt;
    color: rgb(35, 79, 50);
}
ol.steps li.next {
    font-weight: bold;
    color: rgb(18, 40, 25);
}
ol.steps li.done {
    text-shadow: none;
    text-decoration: line-through;
}

.map {
    background: #CCC;
    padding: 10px;
    margin: 0 0 10px 20px;
    float: right;
}
th, td {
    padding: 4px 8px;
    font-size: 14pt;
}
th {
    color: rgb(35, 79, 50);
    background: #EEE;
    border: 1px solid #CCC;
}
td {
    border: 1px solid #CCC;
}
.ticket-prices {
    margin-top: 2em;
}
.ticket-prices th, .ticket-prices td {
    text-align: center;
}

h2 {
    color: rgb(72, 120, 88);
    margin: 30px 0 10px;
}
h3 {
    color: rgb(90, 150, 110);
    margin: 30px 0 0;
}


.blog-post .author {
    font-weight: bold;
}
.blog-post .date {
    font-weight: bold;
}
.blog-post h1, .blog-post h2 {
    margin-bottom: 0;
}
.blog-post h2 a {
    text-decoration: none;
    color: rgb(72, 120, 88);
}
.blog-post .post_dateline {
    margin: 5px 0 0;
}
.blog-post .more {
    font-size: 11pt;
}
.blog-post .teaser {
    font-weight: normal;
    font-size: 120%;
}

.popup {
    text-shadow: none;
}
.popup td {
    border: none;
}

div.sponsors {
    margin: 20px 0 0 50px;
}
div.sponsors h2 {
    font-size: 14pt;
}
div.sponsors h3 {
    margin-top: 20px;
    font-size: 12pt;
}
.sponsor {
    margin: 10px 0;
}
.sponsor img {
    width: 150px;
}