/**************************************************************************** universal styles ** */
html, body {
  height: 100%;
}

body {
  background: white;
  color: #444444;
  font: normal 93% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 24px;
  border-top: 7px solid #033246;
}

abbr {
  cursor: help;
}

a, a:visited {
  color: #0a84c1;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-weight: normal;
  margin-bottom: 10px;
}

h1 {
  font-size: 167%;
  line-height: 1.4em;
}

h2 {
  font-size: 161.6%;
}

h3 {
  font-size: 131%;
}

h4 {
  font-size: 123.1%;
}

h5 {
  font-size: 116%;
}

h6 {
  font-size: 108%;
}

p, ul, ol {
  margin-bottom: 15px;
}

address {
  font-style: normal;
}

/**************************************************************************** library styles ** */
.hidden {
  display: none;
}

.clear {
  clear: both;
}

/** forms ** */
form, form.uniForm {
  padding: 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 6px solid #f2f2f2;
  margin-bottom: 10px;
  overflow: hidden;
}

form.uniForm .focused {
  background: #ececec;
}

form.uniForm .form_block {
  padding: 10px 5px;
}

#errorMsg ul {
  margin: 5px;
}

form.uniForm label {
  font-size: 85%;
  color: #222222;
  line-height: 1.4em;
}

input[type=text], input[type=password], input[type=file] {
  font-size: 85%;
  padding: 5px 6px;
  border: 1px solid #dddddd;
}

input[type=submit] {
  border: 2px solid #01a4e1;
  font-size: 85%;
  background: #0088bb;
  color: white;
  margin-top: 5px;
  padding: 4px 10px;
  float: right;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background: #02a5e2;
  color: white;
  border: 2px solid #01b7fb;
}

textarea {
  font-size: 108%;
  padding: 2px;
}

select {
  font-size: 85%;
}

.uniForm .ctrlHolder input[type="password"]:focus,
.uniForm .ctrlHolder input[type="text"]:focus {
  outline: none;
}

/** form toggle ** */
.form-toggle p {
  margin-bottom: 2px;
}
.form-toggle span {
  background: #ddeeff;
  padding: 3px 6px;
  border-top: 1px solid #99bbcc;
  border-left: 1px solid #99bbcc;
  border-right: 1px solid #99bbcc;
  cursor: pointer;
}
.form-toggle form {
  padding: 3px 6px;
  margin: 0;
  background: #ddeeff;
  border: 1px solid #99bbcc;
}

ul.errorlist {
  margin: 0;
  padding: 0;
  list-style: none;
  color: red;
}

/** messages ** */
ul#messages {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin-bottom: 20px;
}
ul#messages li {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  list-style-type: none;
}
ul#messages li span {
  display: block;
  width: 940px;
  margin: 0 auto;
}
ul#messages li a {
  float: right;
  color: #80dd00;
}
ul#messages .debug {
  border: 1px solid #cccccc;
  background: #eeeeee;
  color: #888888;
  text-shadow: 0px 1px 0px #f7f7f7;
}
ul#messages .info {
  border: 1px solid #c9e5f2;
  background: #e9f8ff;
  color: #819faa;
  text-shadow: 0px 1px 0px #f4fcff;
}
ul#messages .success {
  border: 1px solid #b7e6bc;
  background: #e9ffeb;
  color: #82a586;
  text-shadow: 0px 1px 0px #f7fff8;
}
ul#messages .warning {
  border: 1px solid #f5e791;
  background: #fff9e0;
  color: #93907c;
  text-shadow: 0px 1px 0px #fffdf2;
}
ul#messages .error {
  border: 1px solid #e6a8a8;
  background: #f9e1e1;
  color: #ad6d6d;
  text-shadow: 0px 1px 0px #fbeeee;
}

/* self-clearing floats */
.mod:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container {
  position: relative;
  width: 950px;
  margin: 0 auto;
}

/* columns */
.col-wrapper {
  clear: both;
  width: 100%;
  position: relative;
  overflow: hidden;
  /* 3 columns */
}
.col-wrapper .col {
  float: left;
  width: 31%;
  display: inline;
  margin-right: 2%;
}
.col-wrapper .col-2-thirds {
  width: 64%;
}
.col-wrapper .col-3-fourths {
  width: 72%;
}
.col-wrapper .col-1-fourths {
  width: 24%;
}
.col-wrapper .last {
  margin-right: 0;
}

/**************************************************************************** general layout styles ** */
/** header ** */
header {
  border-top: 1px solid #366376;
  background: #055374 url(../img/bg-p.png) repeat;
  position: relative;
  height: 100px;
}
header h1#logo {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 0;
}
header h1#logo a {
  display: block;
  width: 160px;
  height: 57px;
  background: url(../img/logo.png) no-repeat 0 0;
  float: left;
  padding-bottom: 12px;
  color:#fff;
  text-decoration:none;
  font-size:123.1%;
}
header h2#slogan {
  position: absolute;
  top: 43px;
  left: 140px;
  border-left: 1px solid #568aa0;
  color: #568aa0;
  font-size: 85%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  padding-left: 10px;
  font-weight: normal;
  line-height: 1.2em;
  text-shadow: 0 -1px 0 #033d56;
}
header .login {
  background: #033246;
  float: right;
  color: #7caec3;
  font-size: 77%;
  margin: -1px 3px 0 0;
  padding: 0 15px 6px;
  border: 1px solid #366376;
  border-top: 0;
  -moz-border-radius: 0 0 6px 6px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  line-height: 1.4em;
}
header .login a, header .login a:visited {
  color: #7caec3;
  text-decoration: none;
  font-weight: bold;
}
header .login a:hover {
  color: white;
  text-decoration: underline;
}

#locale_switcher {
  display: inline;
}

/** body ** */
section#body {
  padding: 30px 0;
  min-height: 400px;
  position: relative;
  border-top: 10px solid #033246;
}

/** footer ** */
/* sticky footer */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -100px;
}

.push {
  height: 100px;
}

footer {
  height: 20px;
  padding: 40px 0;
  font-size: 77%;
  background: #3f4346;
  color: #7a7a7a;
  text-shadow: 0px -1px 0px #2a2a2a;
  border-top: 9px solid #292b2d;
}
footer a, footer a:visited {
  color: #b6b6b6;
  text-decoration: none;
}
footer a:hover {
  color: white;
}

/**************************************************************************** elements */
/** subnav ** */
#subnav {
  margin: 0;
  padding: 0;
  background: #eeeeee;
  font-size: 85%;
  overflow: hidden;
}
#subnav ul {
  float: left;
  margin: 0 0 0 -20px;
  padding: 0;
}
#subnav li {
  display: inline;
  list-style-type: none;
}
#subnav a:link, #subnav a:visited {
  float: left;
  font-weight: bold;
  text-decoration: none;
  color: #444444;
  padding: 6px 20px 3px;
}
#subnav a:hover {
  background: #dddddd;
}

/** tabs ** */
#left_tabs {
  position: absolute;
  bottom: -1px;
  left: 0;
}

#right_tabs {
  position: absolute;
  right: 0;
  bottom: -1px;
}

ul.tabs {
  background: white;
  overflow: hidden;
  height: 30px;
  margin: 0 0 5px;
}
ul.tabs a, ul.tabs a:visited {
  padding: 5px 12px;
  color: #444444;
  font-weight: bold;
  text-decoration: none;
}
ul.tabs a:hover {
  color: #222222;
  background: #cccccc;
}
ul.tabs li {
  list-style-type: none;
  display: block;
  float: left;
  background-color: white;
  padding: 5px 0 4px;
  margin: 0 1px;
}

body.bidi div.right_panel {
  float: left;
}

/** main nav ** */
nav#main-nav {
  position: absolute;
  top: 30px;
  right: -18px;
}
nav#main-nav ul {
  overflow: hidden;
}
nav#main-nav ul li {
  float: left;
}
nav#main-nav ul li a {
  display: block;
  padding: 9px 18px;
  text-decoration: none;
  color: #ddeeff;
  overflow: hidden;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

nav#main-nav ul li a:hover,
nav#main-nav ul li.sfHover a, nav#main-nav ul li.sfhover a,
body#page-about nav#main-nav ul li a#link-about,
body#page-team nav#main-nav ul li a#link-team,
body#page-services nav#main-nav ul li a#link-services,
body#page-contact nav#main-nav ul li a#link-contact {
  color: white;
  cursor: pointer;
}

/* subnav */
nav#main-nav ul li ul {
  margin: 1px 0 0 0;
  display: block;
  left: -9999px;
  list-style: none;
  position: absolute;
  z-index: 10000;
  width: 150px;
  background: white;
  padding-top: 5px;
  -moz-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

nav#main-nav ul li:hover ul, nav#main-nav ul li.sfhover ul {
  left: auto;
}

nav#main-nav ul li ul li {
  float: none;
}

nav#main-nav ul li.sfhover ul li a, nav#main-nav ul li ul li a {
  color: #666666;
  text-shadow: 0px 1px 0px #dddddd;
  font-size: 93%;
  font-weight: normal;
  padding: 2px 15px;
  border: 0;
}

/* subnav rollover effects */
nav#main-nav ul li ul li a:hover {
  color: #444444;
  background: none;
}

/** sidebar nav ** */
nav.sidebar-nav ul li a {
  color: #7b7b7b;
  font-size: 93%;
  line-height: 36px;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #e9e9e9;
}

nav.sidebar-nav ul li a:hover {
  color: #0a84c1;
}

.block {
  background: white;
  margin-bottom: 15px;
  color: #444444;
}

.pd {
  padding: 20px;
}

.bdr {
  border: 1px solid #cccccc;
}

.holder {
  padding: 4px;
}

.sh {
  box-shadow: 0px 0px 4px #cccccc;
  -moz-box-shadow: 0px 0px 4px #cccccc;
  -webkit-box-shadow: 0px 0px 4px #cccccc;
}

.hr-line {
  height: 1px;
  background: url(../img/dots.png) repeat-x 0 0;
  clear: both;
  margin: 25px 0;
}

a.btn {
  color: #929292;
  background-color: #f2f2f2;
  padding: 8px 15px 8px 15px;
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

a.btn:hover {
  color: white;
  background-color: #02a5e2;
}

/**************************************************************************** page specific styles */
/** homepage ** */
body.home .banner {
  background: #055374 url(../img/bg-p.png) repeat;
  padding: 20px 0 0;
  color: white;
  border-bottom: 1px solid #366376;
}
body.home .banner #banner-content {
  position: relative;
  overflow: hidden;
  min-height: 270px;
}
body.home .banner #banner-content h1 {
  font-size: 200%;
  color: #f1eee5;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.04em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: normal;
}
body.home .banner #banner-content .blurb {
  width: 400px;
  line-height: 1.66em;
  font-size: 116%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
body.home .banner #banner-content .blurb a {
  color: #ddeeff;
  text-decoration: none;
  border-bottom: 1px dotted #a6a6a6;
}
body.home .banner #banner-content #screenshot {
  background: url(../img/screenshot.png) no-repeat 0 0;
  width: 554px;
  height: 279px;
  position: absolute;
  bottom: 0;
  right: -10px;
}

body.home .banner a.btn {
  display: block;
  font-size: 123.1%;
  font-weight: bold;
  background: #02a5e2;
  padding: 5px 20px 6px;
  color: white;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-top: 10px;
  float: left;
}

body.home .banner a.btn:hover {
  background: #0bb5f4;
}

#banner-links span {
  display: block;
  float: left;
  margin: 0 18px;
  font-weight: bold;
  font-size: 100%;
  line-height: 57px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

#banner-links a#learn-more {
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  float: left;
  font-style: italic;
  font-size: 108%;
  line-height: 59px;
  text-decoration: none;
  letter-spacing: 0.06em;
  color: #ddeeff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
