.container {width:902px;margin:0 auto;}
.showgrid {background:url(src/grid.png);}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
.span-1 {width:28px;}
.span-2 {width:66px;}
.span-3 {width:104px;}
.span-4 {width:142px;}
.span-5 {width:180px;}
.span-6 {width:218px;}
.span-7 {width:256px;}
.span-8 {width:294px;}
.span-9 {width:332px;}
.span-10 {width:370px;}
.span-11 {width:408px;}
.span-12 {width:446px;}
.span-13 {width:484px;}
.span-14 {width:522px;}
.span-15 {width:560px;}
.span-16 {width:598px;}
.span-17 {width:636px;}
.span-18 {width:674px;}
.span-19 {width:712px;}
.span-20 {width:750px;}
.span-21 {width:788px;}
.span-22 {width:826px;}
.span-23 {width:864px;}
.span-24, div.span-24 {width:902px;margin:0;}
input.span-1, textarea.span-1, select.span-1 {width:28px!important;}
input.span-2, textarea.span-2, select.span-2 {width:46px!important;}
input.span-3, textarea.span-3, select.span-3 {width:84px!important;}
input.span-4, textarea.span-4, select.span-4 {width:122px!important;}
input.span-5, textarea.span-5, select.span-5 {width:160px!important;}
input.span-6, textarea.span-6, select.span-6 {width:198px!important;}
input.span-7, textarea.span-7, select.span-7 {width:236px!important;}
input.span-8, textarea.span-8, select.span-8 {width:274px!important;}
input.span-9, textarea.span-9, select.span-9 {width:312px!important;}
input.span-10, textarea.span-10, select.span-10 {width:350px!important;}
input.span-11, textarea.span-11, select.span-11 {width:388px!important;}
input.span-12, textarea.span-12, select.span-12 {width:426px!important;}
input.span-13, textarea.span-13, select.span-13 {width:464px!important;}
input.span-14, textarea.span-14, select.span-14 {width:502px!important;}
input.span-15, textarea.span-15, select.span-15 {width:540px!important;}
input.span-16, textarea.span-16, select.span-16 {width:578px!important;}
input.span-17, textarea.span-17, select.span-17 {width:616px!important;}
input.span-18, textarea.span-18, select.span-18 {width:654px!important;}
input.span-19, textarea.span-19, select.span-19 {width:692px!important;}
input.span-20, textarea.span-20, select.span-20 {width:730px!important;}
input.span-21, textarea.span-21, select.span-21 {width:768px!important;}
input.span-22, textarea.span-22, select.span-22 {width:806px!important;}
input.span-23, textarea.span-23, select.span-23 {width:844px!important;}
input.span-24, textarea.span-24, select.span-24 {width:892px!important;}
.append-1 {padding-right:38px;}
.append-2 {padding-right:76px;}
.append-3 {padding-right:114px;}
.append-4 {padding-right:152px;}
.append-5 {padding-right:190px;}
.append-6 {padding-right:228px;}
.append-7 {padding-right:266px;}
.append-8 {padding-right:304px;}
.append-9 {padding-right:342px;}
.append-10 {padding-right:380px;}
.append-11 {padding-right:418px;}
.append-12 {padding-right:456px;}
.append-13 {padding-right:494px;}
.append-14 {padding-right:532px;}
.append-15 {padding-right:570px;}
.append-16 {padding-right:608px;}
.append-17 {padding-right:646px;}
.append-18 {padding-right:684px;}
.append-19 {padding-right:722px;}
.append-20 {padding-right:760px;}
.append-21 {padding-right:798px;}
.append-22 {padding-right:836px;}
.append-23 {padding-right:874px;}
.prepend-1 {padding-left:38px;}
.prepend-2 {padding-left:76px;}
.prepend-3 {padding-left:114px;}
.prepend-4 {padding-left:152px;}
.prepend-5 {padding-left:190px;}
.prepend-6 {padding-left:228px;}
.prepend-7 {padding-left:266px;}
.prepend-8 {padding-left:304px;}
.prepend-9 {padding-left:342px;}
.prepend-10 {padding-left:380px;}
.prepend-11 {padding-left:418px;}
.prepend-12 {padding-left:456px;}
.prepend-13 {padding-left:494px;}
.prepend-14 {padding-left:532px;}
.prepend-15 {padding-left:570px;}
.prepend-16 {padding-left:608px;}
.prepend-17 {padding-left:646px;}
.prepend-18 {padding-left:684px;}
.prepend-19 {padding-left:722px;}
.prepend-20 {padding-left:760px;}
.prepend-21 {padding-left:798px;}
.prepend-22 {padding-left:836px;}
.prepend-23 {padding-left:874px;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:22px;margin-right:23px;border-right:1px solid #eee;}
.pull-1 {margin-left:-38px;}
.pull-2 {margin-left:-76px;}
.pull-3 {margin-left:-114px;}
.pull-4 {margin-left:-152px;}
.pull-5 {margin-left:-190px;}
.pull-6 {margin-left:-228px;}
.pull-7 {margin-left:-266px;}
.pull-8 {margin-left:-304px;}
.pull-9 {margin-left:-342px;}
.pull-10 {margin-left:-380px;}
.pull-11 {margin-left:-418px;}
.pull-12 {margin-left:-456px;}
.pull-13 {margin-left:-494px;}
.pull-14 {margin-left:-532px;}
.pull-15 {margin-left:-570px;}
.pull-16 {margin-left:-608px;}
.pull-17 {margin-left:-646px;}
.pull-18 {margin-left:-684px;}
.pull-19 {margin-left:-722px;}
.pull-20 {margin-left:-760px;}
.pull-21 {margin-left:-798px;}
.pull-22 {margin-left:-836px;}
.pull-23 {margin-left:-874px;}
.pull-24 {margin-left:-912px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -38px 1.5em 38px;}
.push-2 {margin:0 -76px 1.5em 76px;}
.push-3 {margin:0 -114px 1.5em 114px;}
.push-4 {margin:0 -152px 1.5em 152px;}
.push-5 {margin:0 -190px 1.5em 190px;}
.push-6 {margin:0 -228px 1.5em 228px;}
.push-7 {margin:0 -266px 1.5em 266px;}
.push-8 {margin:0 -304px 1.5em 304px;}
.push-9 {margin:0 -342px 1.5em 342px;}
.push-10 {margin:0 -380px 1.5em 380px;}
.push-11 {margin:0 -418px 1.5em 418px;}
.push-12 {margin:0 -456px 1.5em 456px;}
.push-13 {margin:0 -494px 1.5em 494px;}
.push-14 {margin:0 -532px 1.5em 532px;}
.push-15 {margin:0 -570px 1.5em 570px;}
.push-16 {margin:0 -608px 1.5em 608px;}
.push-17 {margin:0 -646px 1.5em 646px;}
.push-18 {margin:0 -684px 1.5em 684px;}
.push-19 {margin:0 -722px 1.5em 722px;}
.push-20 {margin:0 -760px 1.5em 760px;}
.push-21 {margin:0 -798px 1.5em 798px;}
.push-22 {margin:0 -836px 1.5em 836px;}
.push-23 {margin:0 -874px 1.5em 874px;}
.push-24 {margin:0 -912px 1.5em 912px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:right;position:relative;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}