{% load i18n %}
{% load review_tags %}
{% load markdownify %}

<dl class="proposal-fields">
    <dt>{% trans "Submitted by" %}</dt>
    <dd>{{ proposal.speaker }}</dd>

    {% if is_reviewer %}
        <dt>{% trans "Tags" %}</dt>
        <dd>{{ proposal.get_tags_display }}&nbsp;</dd>
    {% endif %}

    {% if proposal.additional_speakers.all %}
        <dt>{% trans "Additional Speakers" %}</dt>
        <dd>
          <ul>
            {% for speaker in proposal.additional_speakers.all %}
                <li>
                    {% if speaker.user %}
                        <strong>{{ speaker.name }}</strong> &lt;{{ speaker.email }}&gt;
                    {% else %}
                        {{ speaker.email }} ({% trans "Invitation Sent" %})
                    {% endif %}
                </li>
            {% endfor %}
          </ul>
        </dd>
    {% endif %}

    <dt>{% trans "Description" %}</dt>
    <dd class="description significant-whitespace">{{ proposal.description }}&nbsp;</dd>

    {% if proposal.kind.slug == "tutorial" or proposal.kind.slug == "talk" %}
        <dt>{% trans "Audience" %}</dt>
        <dd class="significant-whitespace">{{ proposal.audience }}&nbsp;</dd>
    {% endif %}

    {% if proposal.kind.slug == "tutorial" or proposal.kind.slug == "talk" %}
        <dt>{% trans "Outline" %}</dt>
        <dd id="outline" class="significant-whitespace">{{ proposal.outline|indentation|bleach|safe }}&nbsp</dd>
    {% endif %}

    <dt>{% trans "Additional notes" %}</dt>
    <dd id="additional-notes" class="significant-whitespace">{{ proposal.additional_notes }}&nbsp</dd>
</dl>
