{% extends "auth_base.html" %}

{% load bootstrap_tags %}

{% block page_title %}{% blocktrans with title=proposal.title %}Upload Document to '{{ title }}'{% endblocktrans %}{% endblock %}

{% block body %}
    <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <input class="btn btn-primary" type="submit" value="{% trans "Upload" %}" />
        </div>
    </form>
{% endblock %}
