{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load i18n %}

{% block page_title %}{% blocktrans with name=kind.name %}Submit a Proposal for a {{ name }}{% endblocktrans %}{% endblock %}

{% block body %}
    {% box "example_proposal" %}

    <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
        {% csrf_token %}
        <fieldset>
            {{ form|as_bootstrap }}
        </fieldset>
        <div class="form-actions">
            <p>
                Saving your proposal will not immediately submit it for review! You can safely save at any time and come back before submission.
            </p>
            <input class="btn btn-primary" type="submit" name="finish" value="{% trans "Save" %}" />
            <!-- <span style="float: right; padding: 4px 6px">or</span> -->
            <input class="btn" type="submit" name="add-speakers" value="{% trans "Save and Add Additional Speakers" %}" />
        </div>
    </form>
{% endblock %}
