{% extends "site_base.html" %}
{% load i18n %}

{% load bootstrap_tags %}

{% block head_title %}{% trans "Submit Proposal" %}{% endblock %}

{% block body %}
    <h1>Submit: {{ proposal.title }}</h1>
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% blocktrans with title=proposal.title %}Are you sure you want to submit <b>{{ title }}</b>?{% endblocktrans %}</p>
        <p>Once submitted, you will not be able to edit it any further</p>
        <input class="btn danger" type="submit" value="{% trans "I am sure" %}" />
        <a class="btn" href="{% url 'proposal_detail' proposal.pk %}">{% trans "No, I'd like to edit it further" %}</a>
    </form>
{% endblock %}
