{% extends "site_base.html" %}

{% load bootstrap_tags %}

{% block extra_style %}
    <link rel="stylesheet" type="text/css"
            href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/themes/base/jquery-ui.css">
    <link type="text/css" media="all" rel="stylesheet"
            href="{{ STATIC_URL }}selectable/css/dj.selectable.css">
{% endblock extra_style %}

{% comment %}
Overwriting extra_head_base to remove markedit JS, which causes conflicts
with selectable (JQuery UI)
{% endcomment %}
{% block extra_head_base %}
    <meta property="og:image" content="https://us.pycon.org/2014/site_media/static/img/logo.png" />
    <link href="{{ STATIC_URL }}img/favicon.ico" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}


{% block body %}
    <h1>{% trans "Proposal:" %} {{ proposal.title }}</h1>

    <p><a href="{% url 'proposal_edit' proposal.pk %}">{% trans "Edit proposal" %}</a></p>

    <h2>{% trans "Current Speakers" %}</h2>
    {% for speaker in speakers %}
        {% if speaker.user %}
            <p><b>{{ speaker.name }}</b> &mdash; {{ speaker.email }}</p>
        {% else %}
            <p>{{ speaker.email }} &mdash; {% trans "pending invitation" %}</p>
        {% endif %}
    {% endfor %}

    <h2>{% trans "Add another speaker" %}</h2>

    <form method="POST" action="" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        <p>Lookup speaker by email, first, or last name. If a Speaker does not
        exist for the email provided, an invitation to create an account will be
        sent to them.
        </p>
        {{ add_speaker_form|as_bootstrap }}
        <div class="form-action">
            <input type="submit" value="{% trans "Add speaker" %}" class="btn btn-primary" />
        </div>
    </form>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
    $(function() {
        $("#id_email").focus();
    });
    </script>
{% endblock %}


{% block extra_script %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>
    {{ add_speaker_form.media.js }}
{% endblock extra_script %}
