{% extends "site_base.html" %}
{% load i18n %}

{% load bootstrap_tags %}

{% block head_title %}{% trans "Submit Proposal" %}{% endblock %}

{% block body %}
    <h1>Submit: {{ proposal.title }}</h1>
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{% blocktrans with title=proposal.title %}Are you sure you want to submit <b>{{ title }}</b>?{% endblocktrans %}</p>
        <p>You will be able to edit your proposal after it has been submitted. The program committee may ask questions, provide feedback, and even suggest changes to your proposal as part of the review processes.</p>
        <input class="btn danger" type="submit" value="{% trans "I am sure" %}" />
        <a class="btn" href="{% url 'proposal_detail' proposal.pk %}">{% trans "No, I'd like to edit it further" %}</a>
    </form>
{% endblock %}
