{% extends "auth_base.html" %}

{% load boxes_tags %}
{% load i18n %}

{% block page_title %}{% trans "Submit A Proposal" %}{% endblock %}

{% block body %}
    {% box "proposal_submit" %}
    
    {% if kinds %}
        <p>{% trans "Select what kind of proposal you'd like to submit:" %}</p>
    
        <ul class="btn-list">
            {% for kind in kinds %}
                <li><a class="btn" href="{% url 'proposal_submit_kind' kind.slug %}">{{ kind }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>{% trans "Proposals are not currently open for submission." %}</p>
    {% endif %}
{% endblock %}
