@import "bootstrap/bootstrap.less";

@darkBlue: #014354;

body {
  background:#f2ebdf url(../img/bg.png) repeat 0 0;
  padding-top:0;
}

h3 {
  text-transform:uppercase;
  font-size:@baseFontSize + 3;
  margin-bottom:15px;
}

a:hover {
  text-decoration:none;
}

.navbar {
  margin-bottom:30px;

  .navbar-inner {
    background:none;
    .box-shadow(none);
    margin:24px 0 0 40px;
  }

  .nav > li > a {
    color:#fff;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.88);
    font-size:@baseFontSize + 3;
    padding: 9px 15px 11px;
    margin:0 10px;
  }
}

header.main {
  background:url(../img/hd_bg.png) repeat-x 0 0;
}

// homepage
body.home .navbar {
  margin-bottom:0;
}

.banner {
  background:url(../img/banner_bg.png) repeat 0 0;
  padding:20px 0 0;
  margin-bottom:25px;

  h2 {
    display:none;
  }

  p.intro {
    font-size:16px;
    text-transform:uppercase;
    text-align:center;
    line-height:30px;
    margin-top:20px;
  }

  ul.unstyled {
    font-size:@baseFontSize + 1;

    li {
      margin-bottom:6px;

      a {
        color:@textColor;

        span {
          font-weight:bold;
          text-transform:uppercase;
          color:@darkBlue;
        }
      }
    }
  }

  h6 {
    color:@darkBlue;
    font-size:@baseFontSize + 1;
  }

  .presented {
    position:relative;
    padding:0 0 0 30px;

    .bdr {
      position:absolute;
      top:0;
      left:-20px;
      width:1px;
      height:85px;
      background:url(../img/dotted_ln_v.png) no-repeat 0 0;
    }

    .bdr-r {
      left:auto;
      right:20px;
    }

    a img {
      margin-right:20px;
    }
  }

  .tickets-info {
    position:relative;

    .tickets {
      background:url(../img/tickets.png) no-repeat 0 0;
      position:absolute;
      width:82px;
      height:75px;
      top:-40px;
      right:40px;
    }

    p {
      font-size:@baseFontSize + 2;
      margin:8px 0 0;
      line-height:20px;
    }
  }
}

h1 a.logo {
  display:block;
  width:534px;
  height:145px;
  background:url(../img/logo.png) no-repeat 0 0;
  text-indent:-9999px;
}

.dotted-ln {
  width:100%;
  height:1px;
  margin:20px 0;
  background:url(../img/dotted_ln.png) repeat-x 0 0;
}

.dotted-ln.no-mrg-btm {
  margin-bottom:0;
}

/* sponsor slideshow */
ul#slider {
  display: block;
  width: 100%;
  height: 260px;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom:1px solid #0092b7;

  li {
    margin-left:-9px;
    display:none;
  }

  li.first {
    display:block;
  }

  a img {
    margin:20px 12px 10px;
  }
}


/* slideshow nav */
nav#slider-nav {
  float:left;
  height:19px;
  margin:13px 0 20px;

  a {
    text-indent:-9999px;
    display:block;
    float:left;
    width:9px;
    height:9px;
    margin-right:5px;
    background:#c9c6c6;
    border:1px solid #aeadad;
  }

  a:hover {
    background:#b8b6b6;
    border:1px solid #989797;
  }

  a.activeSlide {
    background:#57aac2;
    border:1px solid #4d98ad;
  }
}

.blog-post {
  h2 {
    font-size:@baseFontSize + 5;
    line-height: 26px;
  }

  .date {
    display:block;
    float:left;
    background:#b2bbbe;
    text-align:center;
    color:@white;
    font-size:@baseFontSize + 5;
    font-weight:bold;
    width:41px;
    height:41px;
    padding:5px;
    margin:0 10px 0 0;

    span {
      display:block;
      font-size:@baseFontSize - 2;
      font-weight:normal;
      font-style:italic;
      font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
      line-height:12px;
    }
  }

  .post_dateline {
    color:#98a1a3;
    text-transform:uppercase;
    font-size:@baseFontSize - 2;
    font-weight:bold;
  }

  .post-content {
    float:left;
    width:540px;
  }
}

.read-more {
  display:block;
  float:right;
  background:#009db1;
  text-transform:uppercase;
  color:#fff;
  padding:5px 10px;
  font-size:@baseFontSize - 2;
  font-weight:bold;

  .arrow {
    display:inline-block;
    width:13px;
    height:14px;
    background:url(../img/arrow.png) no-repeat 0 0;
    margin:0 0 0 6px;
    vertical-align:bottom;
  }
}

.read-more:hover {
  background:darken(#009db1, 3%);
  color:#fff;
}

// sponsors
.sponsor {
  border:1px solid #d2d2cb;
  .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
  .border-radius(4px);
  padding:1px;
  background:@white;
  position:relative;
  margin-bottom:20px;

  .sponsor-content {
    border:3px solid #f7f7f3;
    padding:15px;
    height:260px;
  }

  h2 {
    text-align:center;
  }

  h5 {
    font-size:@baseFontSize + 3;
    line-height:30px;
  }

  .hiring {
    width:64px;
    height:38px;
    background:url(../img/stripe.png) no-repeat 0 0;
    position:absolute;
    top:20px;
    left:-7px;
    color:#fff;
    line-height:32px;
    text-indent:10px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.21);
    letter-spacing:0.08em;
    font-weight:bold;
    font-size:@baseFontSize - 1;
  }
}

