{% block extra_script %}
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}
<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th class="time">&nbsp;</th>
            {% for room in timetable.rooms %}
                <th>{{ room.name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in timetable %}
            <tr>
                <td class="time">{{ row.time|date:"h:iA" }}</td>
                {% for slot in row.slots %}
                    <td class="slot slot-{{ slot.kind.label }}" colspan="{{ slot.colspan }}" rowspan="{{ slot.rowspan }}">
                        {% if slot.kind.label == "talk" or slot.kind.label == "tutorial" or slot.kind.label == "sponsor-tutorial" %}
                            {% if not slot.content %}
                            {% else %}
                                <span class="title">
                                    <a href="{% url 'schedule_presentation_detail'  slot.content.pk %}" title="{{ slot.content.proposal.description|striptags|cut:'"' }}">{{ slot.content.proposal.title }}</a>
                                </span>
                                <span class="speaker">
                                    {{ slot.content.proposal.speakers|join:", " }}
                                </span>
                                <!-- <span class="audience_level">
                                    {{ slot.content.proposal.get_audience_level_display }}
                                </span> -->
                                {% if user.is_authenticated %}
                                <div class="badges">
                                    {% for session in slot.sessions.all %}
                                        <a href="{% url 'schedule_session_detail' session.id %}" class="btn btn-mini" style="padding: 0px; margin-top: 10px;" title="Volunteer!"><i class="fas fa-user-plus"></i></a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {% if slot.content_override %}
                                {{ slot.content_override }}
                            {% else %}
                                {{ slot.kind.label }}
                            {% endif %}
                        {% endif %}
                    </td>
                {% endfor %}
                {% if forloop.last %}
                    <td colspan="{{ timetable.rooms|length }}"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
