{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}
{% load cache %}
{% load sitetree %}

{% block head_title %}{{ schedule.section.name }}{% endblock %}

{% block page_title %}
    {{ schedule.section.name }}
{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block extra_head %}
  {% include "markedit/includes/markedit-js.html" %}
  <script type="text/javascript">
    $(function () {
      var converter = new Attacklab.showdown.converter();
      $('.presentation-description').each(function() {
        $(this).html(converter.makeHtml($(this).text()));
      });
    });
  </script>
{% endblock %}

{% block body_class %}presentation-list{% endblock %}

{% block body %}
  {% box "schedule_detail_"|add:schedule.section.name|slugify %}
  {% for presentation in presentations %}
    <h2>
      <a id="presentation-{{ presentation.id }}"
         href="{% url 'schedule_presentation_detail' presentation.pk %}">
        {{ presentation.title }}
      </a>
    </h2>
    <p>
      <b>
        {{ presentation.speakers|join:", " }}
        {% if presentation.proposal.category %}
          in {{ presentation.proposal.category }}
        {% endif %}
      </b>
    </p>
    <div class="presentation-description">{{ presentation.description }}</div>
    {% if presentation.slot %}
    <p>
      <b>
        {{ presentation.slot.day.date|date:"l" }}
        {{ presentation.slot.start}}&ndash;{{ presentation.slot.end }}
        in
        {{ presentation.slot.rooms|join:", " }}
      </b>
    </p>
    {% endif %}
  {% endfor %}
{% endblock %}
