{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}
{% load boxes_tags %}
{% load cache %}
{% load sitetree %}

{% block head_title %}{{ schedule.section.name }}{% blocktrans %} Schedule{% endblocktrans %}{% endblock %}

{% block page_title %}
  {{ schedule.section.name }}{% blocktrans %} Schedule{% endblocktrans %}
{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body_class %}schedule-page{% endblock %}

{% block page_content %}
  <div class="container">
    {% box "schedule_top_"|add:schedule.section.name|slugify %}

    {% if user.is_authenticated %}
      {% cache 120 "schedule-table-authenticated" schedule.section %}
        {% for timetable in timetables %}
          <h3>{{ timetable.day.date|date:"l" }} {{ timetable.day.date }}</h3>
          {% include "schedule/_grid.html" %}
        {% endfor %}
      {% endcache %}
    {% else %}
      {% cache 600 "schedule-table" schedule.section %}
        {% for timetable in timetables %}
          <h3>{{ timetable.day.date|date:"l" }} {{ timetable.day.date }}</h3>
          {% include "schedule/_grid.html" %}
        {% endfor %}
      {% endcache %}
    {% endif %}

    {% box "schedule_bottom_"|add:schedule.section.name|slugify %}
  </div>
{% endblock %}
