{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Conference Schedule Edit" %}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}chosen/chosen.css" />
{% endblock %}

{% block page_title %}
    {% trans "Conference Schedule Edit" %}
{% endblock %}

{% block page_content %}
    <div class="container">
        {% for timetable in timetables %}
            <h2>{{ timetable.day.date }}</h2>
            {% include "schedule/_edit_grid.html" %}
        {% endfor %}

        <div class="modal fade hide in" id="slotEditModal"></div>
    </div>
{% endblock %}

{% block extra_script %}
    <script src="{{ STATIC_URL }}chosen/chosen.jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $("a.edit-slot").click(function(e) {
                $("#slotEditModal").load($(this).data("action"), function() {
                    $("#id_presentation").chosen();
                    $("#slotEditModal").modal("show");
                });
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
