/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
//
// CSS Set by Kevin Papst - http://www.kevinpapst.de/
// ------------------------------------------------------------------*/
.markItUp .h1 a {
	background-image:url(images/h1.png);
}
.markItUp .h2 a {
	background-image:url(images/h2.png);
}	
.markItUp .h3 a {
	background-image:url(images/h3.png);
}	
.markItUp .h4 a {
	background-image:url(images/h4.png);
}
.markItUp .bold a {
	background-image:url(images/bold.png);
}	
.markItUp .italic a {
	background-image:url(images/italic.png);
}
.markItUp .list-bullet a {
	background-image:url(images/list-bullet.png);
}	
.markItUp .list-numeric a {
	background-image:url(images/list-numeric.png);
}
.markItUp .image a {
	background-image:url(images/picture.png);
}	
.markItUp .link a {
	background-image:url(images/link.png);
}
.markItUp .quotes a	{
	background-image:url(images/quotes.png);
}
.markItUp .code a	{
	background-image:url(images/page_white_code.png);
}
.markItUp .preview a {
	background-image:url(images/preview.png);
}
