{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sponsors" %}{% endblock %}

{% block body_class %}sponsors{% endblock %}

{% block body %}
<div class="row">
    <div class="span12">
        <div class="page-head">
            <h1>Sponsors</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Home</a> <span class="divider">/</span>
              </li>
              <li class="active">Sponsors</li>
            </ul>
            <a href="#" class="read-more">Learn how to become a sponsor <span class="arrow"></span></a>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <div class="hiring">Hiring</div>
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <div class="hiring">Hiring</div>
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
    <div class="span4">
        <div class="sponsor">
            <div class="sponsor-content">
                <h2><a href="#"><img src="{{ STATIC_URL }}img/temp/google.png" width="150" alt="Google" /></a></h2>
                <h5>Google</h5>
                <p><a href="#">http://google.com</a></p>
                <p>Google is a global technology leader focused on improving the ways people connect with information. Google's innovations in web search and advertising have made its website a top internet property and its brand one of the most recognized in the world.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

