{% extends "site_base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load review_tags %}
{% load sponsorship_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "PyCon Jobs Fair" %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var converter = new Attacklab.showdown.converter();
            $('.job-listing').each(function() {
                $(this).html(converter.makeHtml($(this).text()));
            })
        });
    </script>
{% endblock %}

{% block body_class %}job-fair{% endblock %}

{% block page_title %}
    {% trans "PyCon Jobs Fair" %}
    <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">
        {% trans "Learn how to become a sponsor " %}
        <i class="icon icon-arrow-right"></i>
    </a>
{% endblock %}

{% block page_content %}
    {% job_sponsors as grouped_sponsors %}
    <div class="callout">
        {% box "sponsor_jobs" %}
    </div>
            {% for level_name, sponsors in grouped_sponsors %}
                <h1>{{ level_name }} Sponsors</h1>
                <hr>
                {% for sponsor in sponsors %}
                    <h2 id="sponsor-{{ sponsor.id }}">{{ sponsor.name }}</h2>
                    <a class="sponsor-logo" href="{{ sponsor.external_url }}">
                        <img src="{% thumbnail sponsor.website_logo '150x80' %}" alt="{{ sponsor.name }}">
                    </a>
                    <p>
                        <a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a>
                    </p>
                    <div class="job-listing">{{ sponsor.joblisting_text|bleach }}</div>
                    <hr>
                {% endfor %}
            {% endfor %}
{% endblock %}
