{% extends "site_base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load review_tags %}
{% load sponsorship_tags %}
{% load thumbnail %}

{% block head_title %}{% trans "PyCon Jobs Fair" %}{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(function () {
            var converter = new Attacklab.showdown.converter();
            $('.job-listing').each(function() {
                $(this).html(converter.makeHtml($(this).text()));
            })
        });
    </script>
{% endblock %}

{% block body_class %}job-fair{% endblock %}

{% block page_title %}
    {% trans "PyCon Jobs Fair" %}
    <a href="{% url 'cms_page' "sponsors/prospectus/" %}" class="read-more">
        {% trans "Learn how to become a sponsor " %}
        <i class="icon icon-arrow-right"></i>
    </a>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row hidden-lg" id="jobs-nav">
          <div class="container">
            <div class="row center">
                <h4><a href="#job-fair-tables">Jump To Job Fair Directory</a></h4>
            </div>
          </div>
        </div>
        <div class="row">
          <blockquote class="callout">
            {% box "sponsor_jobs" %}
          </blockquote>
        </div>
        <div class="row">
          <div class="col-8">
            <div class="container center">
              <h1 id="job-listings">Job Listings</h1>
            </div>
            <hr>
            {% job_sponsors as grouped_sponsors %}
            <div class="joblistings">
            {% for level_name, sponsors in grouped_sponsors %}
                <div class="container center">
                  <h2>{{ level_name }} Sponsors</h2>
                </div>
                <hr>
                {% for sponsor in sponsors %}
                  <h2 id="sponsor-{{ sponsor.id }}">{{ sponsor.name }}</h2>
                  <a class="sponsor-logo" href="{{ sponsor.external_url }}">
                    <img src="{{ sponsor.website_logo|thumbnail_url:'sponsor_jobs' }}" alt="{{ sponsor.name }}">
                  </a>
                  <p>
                    <a href="{{ sponsor.external_url }}">{{ sponsor.get_display_url }}</a>
                  </p>
                  <div class="job-listing">{{ sponsor.joblisting_text|bleach }}</div>
                  <hr>
                {% endfor %}
            {% endfor %}
            </div>
          </div>
          <div class="col-4">
            <div class="container center">
              <h3 id="job-fair-tables">Job Fair Directory</h3>
            </div>
            {% job_fair_participants as grouped_sponsors %}
            <div class="jobfairparticpants container center">
              <table>
                <tr>
                  <th>Sponsor</th>
                  <th>Table #</th>
                </tr>
              {% for level_name, sponsors in grouped_sponsors %}
                {% for sponsor in sponsors %}
                <tr>
                  <td><a href="{{ sponsor.external_url }}">{{ sponsor.name }}</a></td>
                  <td>{{ sponsor.job_fair_table_number }}</td>
                </tr>
                {% endfor %}
              {% endfor %}
              </table>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
