<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Redirecting to CTE...</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pycon.css" />
</head>
<body>
    <form action="https://www.cteusa.com/pycon5/auth/verify.reg" method="POST" accept-charset="utf-8">
        <input type="hidden" name="pycon_id" value="{{ request.user.id }}">
        <input type="hidden" name="token" value="{{ token }}">
        <p>Please wait while we redirect you to registration.</p>
    </form>
    <script type="text/javascript" src="{% block jquery_src %}https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js{% endblock %}"></script>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $("form").submit();
        });
    </script>
</body>
</html>
