{% load i18n %}

{% comment %}@@@ why isn't this done as a form?{% endcomment %}
<form class="login uniForm" action="{% url openid-register %}" method="POST">
    {% csrf_token %}
    <fieldset class="inlineLabels">
        {% if url_required %}
            <div class="ctrlHolder error">
                <p class="errorField">
                    <strong>This field is required.</strong>
                </p>
                <label for="id_username">OpenID Identifier*</label>
                <input class="openid" type="text" name="openid_url" />
            </div>
        {% else %}
            <div class="ctrlHolder">
                <label for="id_username">* OpenID Identifier</label>
                <input class="openid" type="text" name="openid_url" />
            </div>
        {% endif %}
        <div class="form_block">
            <input type="submit" value="{% trans "Log in &raquo;" %}" />
        </div>
    </fieldset>
</form>
