<div id="nav">
    <div id="nav-one">
        <ul>
            <li><a class="active" href="#" title="All about PyCon">About</a></li>
            <li><a href="#" title="Conference registration &amp; hotel reservations">Registration</a></li>
            <li><a href="#" title="Wednesday &amp; Thursday, February 17 &amp; 18, 2011">Tutorials</a></li>
            <li><a href="#" title="Friday-Sunday, February 19 - 21, 2011">Conference</a></li>
            <li><a href="#" title="&quot;Unconference&quot;">Open Space</a></li>
            <li><a href="#" title="Sponsoring PyCon">Sponsors</a></li>
            <li><a href="#" title="Monday-Thursday, February 22 - 25, 2011">Sprints</a></li>
            <li><a href="#" title="All about Atlanta">Atlanta</a></li>
            <li><a class="last" href="#/" title="PyCon needs your help!">Help Out</a></li>
        </ul>
        <div class="defloat">&nbsp;</div>
    </div>
    <div id="nav-two">
        <ul>
            <li><a href="#" title="Overview of events during PyCon">Events</a></li>
            <li><a href="#" title="Summit Meetings">Summits</a></li>
            <li><a href="#" title="Notes for attendees on a variety of subjects">Attendee Notes</a></li>
            <li><a href="#" title="(external link)">News: PyCon Blog</a></li>
            <li><a href="#" title="PyCon on social networks">Connect</a></li>
            <li><a href="#" title="Wireless &amp; wired networking at PyCon">Network</a></li>
            <li><a href="#" title="Talks and interviews from PyCon (external link)">PyCon Podcast</a></li>
            <li><a href="#" title="A list of who is doing what">Staff</a></li>
            <li><a href="#" title="Press Releases, Podcasts, and Articles">Press</a></li>
            <li><a href="/2010/about/past/" title="Links to previous PyCon conferences">Past PyCons</a></li>
            <li><a class=" last" href="/2010/about/worldwide/" title="Python conferences around the world">Worldwide</a></li>
        </ul>
        <div class="defloat">&nbsp;</div>
    </div>
    <div class="ghost">&nbsp;</div>
</div>
