{% load openid_tags %}

<div class="account-bar">
{% if user.is_authenticated %}
    {% ifopenid %}<img src="{{ STATIC_URL }}images/openid-icon.png" alt="Logged in with OpenID" />{% endifopenid %}<b>{{ user }}</b>
    |
    <a href="{% url acct_email %}">Account</a>
    |
    {% if user.sponsorship and user.sponsorship.active %}
    <a href="{% url sponsor_detail user.sponsorship.pk %}">Manage Sponsorship</a>
    |
    {% endif %}
    {% if is_reviewer or is_reviewer_tutorials %}
        <a href="{% url review_list %}">Review</a>
        |
    {% endif %}
    {% if user.is_staff %}
        <a href="{% url admin:index %}">Admin</a>
        |
        <a href="#" onclick="$('a.boxes-edit-link').toggle();return false;">Edit Content</a>
        |
    {% endif %}
    <a href="{% if request.openid %}{% url openid-logout %}?next={% url acct_logout %}{% else %}{% url acct_logout %}{% endif %}">Logout</a>
{% else %}
    <a href="{% url acct_login %}">Log in</a> or <a href="{% url acct_signup %}">Sign Up</a>
{% endif %}
</div>
<div class="clear"></div>
