{% load sponsors_pro_tags %}
{% load thumbnail %}

{% web_sponsors as sponsors %}
<ul id="slider">
{% for sponsor in sponsors %}
    {% if forloop.first or forloop.counter|divisibleby:"6" %}
        <li {% if forloop.first %}class="first"{% endif %}>
    {% endif %}
    <div class="sponsor {% if forloop.counter|divisibleby:"5" %}last{% endif %}">
        {% thumbnail sponsor.website_logo "160x80" format="PNG" as logo %}
        {% if sponsor.external_url %}
            <a href="{{ sponsor.external_url }}">
                <img style="margin:{{ logo|margin:"160x80" }}" src="{{ logo.url }}" width="{{ logo.x }}" height="{{ logo.y }}" />
            </a>
        {% else %}
            <img style="margin:{{ logo|margin:"160x80" }}" src="{{ logo.url }}" width="{{ logo.x }}" height="{{ logo.y }}" />
        {% endif %}
        {% endthumbnail %}
        <span>{{ sponsor.level }}</span>
    </div>
    {% if forloop.counter|divisibleby:"5" or forloop.last %}</li>{% endif %}
{% endfor %}
</ul>
<nav id="slider-nav"></nav>
