{% load sponsors_pro_tags %}
{% load thumbnail %}

<ul id="slider">
{% for sponsor in sponsors %}
    {% if forloop.first or forloop.counter|divisibleby:"7" %}
        <li {% if forloop.first %}class="first"{% endif %}>
    {% endif %}
    <div class="sponsor {% if forloop.counter|divisibleby:"6" %}last{% endif %}">
        <a href="{% url about_sponsors %}">
        {% thumbnail sponsor.website_logo "130x60" format="PNG" as logo %}
            <img style="margin:{{ logo|margin:"130x60" }}" src="{{ logo.url }}" width="{{ logo.x }}" height="{{ logo.y }}" alt="{{ sponsor.name }}" />
        {% empty %}
            <img src="http://placehold.it/130x60/E9E6DD/333.png&text={{ sponsor.name }}" alt="{{ sponsor.name }}" />
        {% endthumbnail %}
        </a>
        <span>{{ sponsor.level }}</span>
    </div>
    {% if forloop.counter|divisibleby:"6" or forloop.last %}</li>{% endif %}
{% endfor %}
</ul>
<nav id="slider-nav"></nav>