<nav class="sidenav">
    <ul>
        <li>
            <a class="slug-one active" href="#">Current link</a>
        </li>
        <li>
            <a class="slug-two" href="#">Link two</a>
            
            <ul>
                <li>
                    <a class="sub-slug-one active" href="#">Sub link one</a>
                </li>
                <li>
                    <a class="sub-slug-two" href="#">Sub link two</a>
                </li>
                <li>
                    <a class="sub-slug-three" href="#">Sub link three</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="slug-three" href="#">Link three</a>
        </li>
    </ul>
</nav>