{% extends "site_base.html" %}

{% load boxes_tags %}
{% load biblion_tags %}

{% block body_class %}home{% endblock %}

{% block header_extra_base %}
    <div id="python"></div>
    <div class="dates">
        <div class="tutorials">
            <h4>Tutorials: March 7th&ndash;8th</h4>
        </div>
        <div class="talks">
            <h4>Talks: March 9th&ndash;11th</h4>
        </div>
        <div class="sprints">
            <h4>Sprints: March 12th&ndash;15th</h4>
        </div>
    </div>
{% endblock %}

{% block body %}
    
    <div class="mainbox">
        {% box "mainbox" %}
    </div>
    <h1>Blog</h1>
    {% latest_blog_posts as posts %}
    {% if posts %}
        {% for post in posts %}
            <div class="blog-post">
                <h2><a href="{{ post.get_absolute_url }}" class="post-link">{{ post.title }}</a></h2>
                {% include "biblion/dateline.html" %}
                <p class="teaser">{{ post.teaser_html|safe }}</p>
                <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts have been published.</p>
    {% endif %}
    
{% endblock %}