{% extends "site_base.html" %}

{% load boxes_tags %}
{% load biblion_tags %}

{% block body_class %}home{% endblock %}
{% block body %}
    
    <div class="mainbox">
        {% box "mainbox" %}
    </div>
    <h1>Blog</h1>
    {% latest_blog_posts as posts %}
    {% if posts %}
        {% for post in posts %}
            <div class="blog-post">
                <h2><a href="{{ post.get_absolute_url }}" class="post-link">{{ post.title }}</a></h2>
                {% include "biblion/dateline.html" %}
                <p class="teaser">{{ post.teaser_html|safe }}</p>
                <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
            </div>
        {% endfor %}
    {% else %}
        <p>No blog posts have been published.</p>
    {% endif %}
    
{% endblock %}