{% extends "site_base.html" %}

{% load biblion_tags %}
{% load i18n %}

{% block body_class %}home{% endblock %}

{% block content %}
    
    <h1>{% trans "PyCon 2011: Connecting The Python Community" %}</h1>
    
    <p>
        {% blocktrans %}

        <p>The Python Software Foundation is proud to present the annual
        Python community conference, PyCon 2010. PyCon 2010 was held at the
        Hyatt Regency Atlanta in downtown Atlanta, Georgia from February 17
        through 25.</p>

        <p>Thanks to all who made this the best PyCon yet!</p>
        {% endblocktrans %}
    </p>

{% endblock %}
