{% load wakawaka_tags %}
<ul>
    <li class="about_tab"><a href="{% url wakawaka_page 'about' %}">About</a></li>
<!--     <li class="schedule_tab"><a href="{% url schedule_list %}">Schedule</a></li> -->
    <li class="speaker_tab"><a href="{% url speaker_dashboard %}">Speakers</a></li>
    {% if is_reviewer %}
        <li class="reviewer_tab"><a href="{% url review_list %}/">Reviewers</a></li>
    {% endif %}
    <li class="tickets_tab"><a href="{% url wakawaka_page 'tickets' %}">Tickets</a></li>
    <li class="venue_tab"><a href="{% url wakawaka_page 'venue' %}">Venue</a></li>
    <li class="sponsors_tab"><a href="{% url wakawaka_page 'sponsors' %}">Sponsors</a></li>
    <li class="blog_tab"><a href="{% url blog %}">Blog</a></li>
</ul>
