{% extends "base.html" %}

{% load i18n %}

{% block extra_head_base %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/site_tabs.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/pycon.css" />
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="{{ STATIC_URL }}img/logo.gif" alt="PyCon"/></a>{% endblock %}

{% block tabhead_extra %}
<div id="icons-box">
    <a href="#"><img src="{{ STATIC_URL }}img/rss.png" id="rss" alt="Subscribe to the RSS Feed" /></a>
    <a href="http://twitter.com/pycon"><img src="{{ STATIC_URL }}img/twitter.png" alt="twitter" width="20" height="20" /></a>
</div>
<form id="search" action="">
  <input name="q" class="search-box" type="text" value="search" />
</form>
{% include "snippets/account_bar.html" %}
{% endblock %}

{% block left_tabs %}
    {% include "snippets/left_tabs.html" %}
{% endblock %}

{% comment %}
{% block right_tabs %}
    <ul class="tabs">{% spaceless %}
        <li id="tab_tab1"><a href="#">{% trans "Tab 1" %}</a></li>
    {% endspaceless %}</ul>
{% endblock %}
{% endcomment %}

{% block body %}
    <div id="sidebar">
    {% block sidebar %}
        {% include "snippets/sidebar.html" %}
    {% endblock %}
    </div>
    <div id="content">
    {% block content %}
        <p>Coming Soon!</p>
    {% endblock %}
    </div>
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2011 PyCon" %}
</div>
{% endblock %}