{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}

{% block body_class %}account{% endblock %}

{% block page_content %}
<aside>
  <h3>{% trans "Settings" %}</h3>
  <nav class="account-nav">
    <ul class="nav-list">
      <li><a href="{% url "account_settings" %}" class="btn">{% trans "Account" %}</a></li>
      <li><a href="{% url "account_password" %}" class="btn">{% trans "Change Password" %}</a></li>
      <li><a href="{% url "social_auth_associations" %}"class="btn">{% trans "Associations" %}</a></li>
      <li><a href="{% url "account_delete" %}" class="btn danger">{% trans "Delete Account" %}</a></li>
    </ul>
  </nav>
</aside>
{% block body %}{% endblock %}
{% endblock %}
