{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap_tags %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
    <form method="POST" action="">
        <legend><h1>{% trans "Change password" %}</h1></legend>
        <fieldset>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="form-actions">
                <button type="submit" class="btn btn-success">{% trans "Save" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
