{% extends "pycon/base.html" %}

{% load boxes_tags %}

{% block body_class %}about{% endblock %}

{% block main_content %}
    {% box "about" %}
{% endblock %}

{% block sidenav %}
	<nav class="sidenav">
	    <ul>
	        <li>
	            <a href="{% url about %}" class="active">What is Pycon?</a>
	        </li>
	        <li>
	            <a href="/2012/codeofconduct/">Code of Conduct</a>
	        </li>
	        <li>
	            <a href="/2012/diversity/">Conference Diversity</a>
	        </li>
	        {# <li>
	            <a href="/2012/volunteers/">Volunteers</a>
	        </li> #}
	    </ul>
	</nav>
{% endblock %}