{% load account_tags %}
{{ user.get_full_name|safe }},
<p> 
The deadline to submit proposals for PyCon 2019 {{ proposal_kind }}s is quickly approaching! For more information on the timelines see: <a href="https://{{current_site}}/2019/speaking/{{ proposal_kind }}s">https://{{current_site}}/2019/speaking/{{ proposal_kind }}s</a>.
</p>
<p>
We noticed that you have {{ proposals|length }} unsubmitted {{ proposal_kind }} proposal{% if proposals|length > 1 %}s{% endif %}: 
<ul>
{% for proposal in proposals %}
  {% url 'proposal_detail' proposal.id as detail_url %}<li>{{ proposal.title }}: <a href="https://{{ current_site }}{{ detail_url }}">https://{{current_site}}{{ detail_url }}</a></li>
{% endfor %}
</ul>
</p>
<p>
When you're ready, you can press submit for your proposals at <a href="https://{{ current_site }}/2019/dashboard/">https://{{current_site}}/2019/dashboard/</a>
</p>
- The PyCon Robot
