/** ACCOUNT **/

/* EMAIL ADDRESS */

.verified {
    color: #0A0;
    font-weight: bold;
    text-shadow: none;
}
.remove {
    color: #C00;
    font-weight: bold;
    text-shadow: none;
}
.unverified {
    color: #999;
    text-shadow: none;
}
.primary {
    font-weight: bold;
}
table.email_list {
    border-top:1px solid #D7CFC1;
}

/* OPEN ID */

.openid {
    font-size: 16pt;
}