/*
  AnythingSlider v1.5.10+ Default (base) theme
  By Chris Coyier: http://css-tricks.com
  with major improvements by Doug Neiner: http://pixelgraphics.us/
  based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
#slider {
  display: block;
  width: 850px;
  height: 153px;
  margin:0 0 0 0;
  overflow: hidden; /* needed for Opera and Safari */
  border: 1px solid #dad7cf;
  background:#fff;
}

/****** SET COLORS HERE *******/
/* Default State */
#slider .thumbNav a.cur, #slider .thumbNav a {
  background: #777;
  color: #000;
}
#slider .anythingWindow {
  border-top: 1px solid #777;
  border: 1px solid #777;
  background:#fff;
}
#slider .start-stop {
  background-color: #040;
  color: #fff;
}
#slider .start-stop.playing {
  background-color: #800;
}
#slider .start-stop:hover, #slider .start-stop.hover {
  color: #ddd;
}

/* Active State */
#slider.activeSlider .anythingWindow {
  border-color: #dad7cf;
}
#slider.activeSlider .thumbNav a.cur, #slider.activeSlider .thumbNav a {
  background-color: #7C9127;
}
#slider .start-stop {
  display:none;
  background-color: #080;
  color: #fff;
}
#slider .start-stop.playing {
  background-color: #d00;
}
#slider .start-stop:hover, #slider .start-stop.hover {
  color: #fff;
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
#slider .anythingWindow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
#slider {
  position: relative;
  padding: 0 25px 5px 25px;
}
/* anythingSlider base */
.anythingBase {
  background: transparent;
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}
.anythingBase .panel {
  background: transparent;
  display: block;
  overflow: hidden;
  float: left;
  padding: 0;
  margin: 0;
}

/* Navigation Arrows */
#slider .arrow {
  top: 50%;
  position: absolute;
  display: block;
}
#slider .arrow a {
  display: block;
  height: 40px;
  margin: -13px 0 0 0; /* half height of image */
  width: 25px;
  text-align: center;
  outline: 0;
  background: url(../../img/arrows.png) no-repeat;
}
#slider .arrow a span { display: block; text-indent: -9999px; }
#slider .forward { right: 0; }
#slider .back { left: 0; }
#slider .forward a { background-position: -25px 0; }
#slider .back a { background-position: 0 0; }
#slider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
#slider .back.disabled { display: none; }

/* Navigation Links */
#slider .anythingControls { outline: 0; display: none; }
#slider .thumbNav { margin: 0; padding: 0; }
#slider .thumbNav li { display: inline; }
#slider .thumbNav a {
  font: 11px/18px Georgia, Serif;
  display: inline-block;
  text-decoration: none;
  padding: 2px 8px;
  height: 18px;
  margin: 0 5px 0 0;
  background-repeat: repeat-x;
  text-align: center;
  outline: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#slider .thumbNav a:hover {
  background-image: none;
}

/* slider autoplay right-to-left, reverse order of nav links to look better */
#slider.rtl .thumbNav a { float: right; } /* reverse order of nav links */
#slider.rtl .thumbNav { float: left; }    /* move nav link group to left */
#slider.rtl .anythingWindow {
  direction: ltr;
  unicode-bidi: bidi-override;
}
/* #slider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
#slider .start-stop {
  background-repeat: repeat-x;
  background-position: center top;
  padding: 2px 5px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  float: right;
  z-index: 100;
  outline: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
}
#slider .start-stop:hover, #slider .start-stop.hover { background-image: none; }

#slider, #slider .anythingWindow, #slider .thumbNav a, #slider .arrow a, #slider .start-stop {
  transition-duration: 0;
  -o-transition-duration: 0;
  -moz-transition-duration: 0;
  -webkit-transition-duration: 0;
}

/* sponsor slideshow */
.sponsor {
  float:left;
  margin:10px;
  position:relative;
}

.sponsor.last {
  margin-right:0;
}

.sponsor span {
  display:block;
  text-align:center;
  border-top:1px solid #dcd6cb;
  text-transform:uppercase;
  color:#484746;
  padding-top:6px;
  position:absolute;
  top:100px;
  width:100%;
  font-weight:bold;
  font-size:77%;
}