{% extends "site_base.html" %}

{% load bootstrap_tags %}
{% load i18n %}

{% block head_title %}{{ team.name }}{% endblock %}

{% block body_class %}team{% endblock %}

{% block page_title %}{{ team.name }}{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="span12">
                {% if state %}
                    <h1>
                        {% blocktrans with name=team.name %}Your status is <em>{{ state }}</em> for {{ name }}.{% endblocktrans %}
                    </h1>
                {% endif %}

                {% if can_join %}
                    <form class="membership" method="post" action="{% url 'team_join' team.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="{% trans "JOIN" %}">
                    </form>
                {% endif %}

                {% if can_leave %}
                    <form class="membership" method="post" action="{% url 'team_leave' team.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="{% trans "LEAVE" %}">
                    </form>
                {% endif %}

                {% if can_apply %}
                    <form class="membership" method="post" action="{% url 'team_apply' team.slug %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="{% trans "APPLY" %}">
                    </form>
                {% endif %}

                {% if team.description %}<p>{{ team.description }}</p>{% endif %}

                {% if state == "invited" %}<p>{% trans "You have been invited to join this team. Click <b>join</b> to the right to accept." %}</p>{% endif %}

                {% if user.is_staff or state == "manager" %}
                    {% if team.managers %}
                        <h2>{% trans "Managers" %}</h2>
                        <table class="table table-striped">
                            {% for membership in team.managers %}
                                <tr>
                                    <td>{{ membership.user.email }}{% if user == membership.user %} <span class="label label-info">{% trans "you" %}</span>{% endif %}</td>
                                    <td>
                                        <form style="margin: 0;" method="post" action="{% url 'team_demote' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-mini">{% trans "DEMOTE" %}</button></form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if team.members %}
                        <h2>{% trans "Team Members" %}</h2>
                        <table class="table table-striped">
                            {% for membership in team.members %}
                                <tr>
                                    <td>{{ membership.user.email }}{% if user == membership.user %} <span class="label label-info">{% trans "you" %}</span>{% endif %}</td>
                                    <td>
                                        <form style="margin: 0;" method="post" action="{% url 'team_promote' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-mini">{% trans "promote" %}</button></form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if team.applicants and team.access == "application" %}
                        <h2>{% trans "Applicants" %}</h2>
                        <table class="table table-striped">
                            {% for membership in team.applicants %}
                                <tr>
                                    <td>{{ membership.user.email }}</td>
                                    <td>
                                        <form style="margin: 0; float: left;" method="post" action="{% url 'team_accept' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-mini">{% trans "accept" %}</button></form>
                                        <form style="margin: 0; float: left;" method="post" action="{% url 'team_reject' membership.pk %}">{% csrf_token %}<button type="submit" class="btn btn-mini">{% trans "reject" %}</button></form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if team.invitees %}
                        <h2>{% trans "Invitees" %}</h2>
                        <table class="table table-striped">
                            {% for membership in team.invitees %}
                                <tr>
                                    <td>{{ membership.user.email }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if invite_form %}
                        <form method="POST" action="" class="form-horizontal">
                            {% csrf_token %}
                            <legend>{% trans "Invite User to Team" %}</legend>
                            {{ invite_form|as_bootstrap }}
                            <div class="form-actions">
                                <input class="btn btn-primary" type="submit" value="{% trans "Invite" %}" />
                            </div>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
