{% load url from future %}
{% load account_tags %}
{% load i18n %}

<div class="account-links">
    {% if user.is_authenticated %}
        {% if request.user.get_full_name%}
            <span>
                <i class="icon icon-user"></i>
                <strong>{% user_display request.user %}</strong>
            </span>
            |
        {% endif %}
        {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="action">{% trans "Admin" %}</a> |
        {% endif %}
        <a href="{% url 'dashboard' %}">{% trans "Dashboard" %}</a>
        |
        <a href="{% url 'account_settings' %}">{% trans "Settings" %}</a>
        |
        <form action="{% url 'account_logout' %}" method="post">{% csrf_token %}
            <button class="logout" type="submit">{% trans "Log out" %}</button>
        </form>
    {% else %}
        <a class="login" href="{% url 'account_login' %}">{% trans "Log in" %}</a>
        |
        <a class="signup" href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
    {% endif %}
</div>
