{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load compress %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}
{% load biblion_tags %}

{% block head_title_base %}{{ SITE_NAME }} in Cleveland, Ohio | May 9-17{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block logo %}
<div class="home-banner">
  <div id="clouds">
    <div class="cloud x1"></div>
    <div class="cloud x2"></div>
    <div class="cloud x3"></div>
    <div class="cloud x4"></div>
    <div class="cloud x5"></div>
  </div>
  <div>
    <h1>PyCon 2018 in Portland, Oregon</h1>
    <p>
      <span>By the Community</span>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 9-17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <span>For the Community</span>
    </p>
  </div>
</div>
{% endblock %}

{% block banner %}
{% box "homepage-about" %}

<div class="front-page-facets">
  <div>
    <img src="{{ STATIC_URL }}img/tutorial-photo.jpg">
    <h2>Tutorials<br>May 17–18 • Wednesday, Thursday</h2>
    <p>
      The first 2 days of the conference
      offer a schedule packed with 3-hour tutorials
      to help both beginners and experienced developers
      learn new technologies and increase their skills.
    </p>
  </div><div>
    <img src="{{ STATIC_URL }}img/talks-photo.jpg">
    <h2>Talks and Events<br>May 19–21 • Friday, Saturday, Sunday</h2>
    <p>
      The 3 main conference days offer almost 100 talks,
      an Expo Hall where you can visit our sponsors,
      and events including an academic poster session,
      a Job Fair, and an annual benefit auction.
    </p>
  </div><div>
    <img src="{{ STATIC_URL }}img/sprints-photo.jpg">
    <h2>Sprints<br>May 22–25 • Monday through Thursday</h2>
    <p>
      The final 4 days are our developer sprints,
      where developers both veteran and novice
      enjoy several days of rare in-person collaboration
      on their favorite open source projects.
    </p>
  </div>
</div>

<hr>

<h2>
  Get Ready!
</h2>
<div class="front-page-facets narrow">
  <div>
    <img src="{{ STATIC_URL }}img/PNG/tutorials-icon.png">
    <h2>The conference is sold out!</h2>
    We thank everyone who is planning to attend.
    You can double-check your registration and hotel reservations
    at the <a href="/2018/registration/">registration page</a>.
  </div><div>
    <img src="{{ STATIC_URL }}img/PNG/conference-icon.png">
    <h2>The schedule is up!</h2>
    Visit the site’s “Schedule” drop-down menu
    to see our
    <a href="/2018/schedule/talks/">talks</a>,
    <a href="/2018/schedule/tutorials/">tutorials</a>,
    <a href="/2018/schedule/sponsor-tutorials/">sponsor workshops</a>,
    and more.
    Then visit the “Events” tab to see everything else we have planned!
  </div><div>
    <img src="{{ STATIC_URL }}img/PNG/Sprints-Icon.png">
    <h2><a href="/2018/sponsors/why-sponsor/"
           ><b>Become a sponsor</b></a></h2>
    The companies and organizations who sponsor PyCon
    make the conference possible,
    and get to connect with a wide array of Python programmers.
  </div>
</div>

<hr>

{% endblock %}

{% block body_outer %}

{# Sponsors #}

<h2>Sponsors</h2>

<p class="front-page-sponsors">
  {% sponsors as all_sponsors %}
  {% for sponsor in all_sponsors %}
  <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
    <img src="{% thumbnail sponsor.website_logo '300x300' %}">
  </a>
  {% endfor %}
</p>

{% endblock %}

{% block credits %}
<p>
  Thanks to Mike Pirnat for the
  <a href="https://www.flickr.com/photos/mikepirnat/27996834601/"
     >talk photo</a>
  and Kushal Das for the
  <a href="https://www.flickr.com/photos/kushaldas/16671966733/"
     >sprints photo</a>
  used above!
</p>
{% endblock %}

{% block debris %}

  {# Register #}
          <div class="row register">
            <div class="full">
              <div class="register-banner">
                {% if config.REGISTRATION_STATUS != 'open' %}
                <div class="promo no-link">
                    {% if config.REGISTRATION_STATUS == 'soon' %}
                        <p>{% trans "Registration will open mid-October" %}</p>
                    {% elif config.REGISTRATION_STATUS == 'closed' %}
                        <p class="small">{% trans "Registration Closed" %}</p>
                    {% else %}
                        <p>&nbsp;&nbsp;</p>
                    {% endif %}
                </div>
                {% endif %}
                {% if config.REGISTRATION_STATUS == 'open' %}
                <div class="promo" itemprop="tickets" itemscope itemtype="http://data-vocabulary.org/Offer">
                   <a href="{% url 'registration_start' %}">Register Now</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="container past-pycon-announcements">
    {# Announcements #}
            <div class="half pycon-announcements">
              <h2 class="scroll-title">{% trans "Announcements" %}</h2>
              <div class="announcement-bg">
                <img class="announcement-banner hide-mobile" src="{{ STATIC_URL }}img/PNG/announcement-banner.png" alt="announcements banner">
                <img class="announcement-banner hide-desktop" src="{{ STATIC_URL }}img/PNG/announcement-banner-mobile.png" alt="announcements banner">
              </div>
              {% latest_blog_posts as posts %}
              {% for post in posts|slice:"1" %}
              <div class="blog-post">
                  <div class="post-content">
                      <h3>{{ post.title }}</h3>
                      {% with author=post.author.get_full_name %}
                        <p class="post_dateline">by <span class="author">{{ author }}</span> &mdash; {{ post.published|date:"Y F d" }}</p>
                      {% endwith %}
                      <div class="teaser">
                        {{ post.teaser_html|safe }}
                        <p><a href="{{ post.get_absolute_url }}">Read&nbsp;more&nbsp;&raquo;</a></p>
                      </div>
                  </div>
              </div>
              {% empty %}
              <div class="col-centered span4">
                <div class="blog-post">
                  <div class="post-content">
                    <p>{% trans "Announcements coming soon." %}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
{% endblock %}

