{% extends "site_base.html" %}

{% load i18n %}
{% load cache %}
{% load compress %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}
{% load biblion_tags %}

{% block head_title_base %}{{ SITE_NAME }} in Portland, OR | May 28th &ndash; June 5th{% endblock %}

{% block body_class %}
    {{ block.super }}
    home
{% endblock %}

{% block banner %}
        <div itemscope itemtype="http://data-vocabulary.org/Event">
          <div class="row">
            <div class="full landing-banner">
              <div class="container">
                <div itemprop="summary" class="logo"></div>
                <div class="span3 by-the-com hide-tablet-down">
                  <div class="rule"></div>
                  <p>By the python<br>community</p>
                  <div class="rule"></div>
                </div>
                <div class="span6"><img src="{{ STATIC_URL }}img/SVG/PyCon16-logo.svg" width=460 height=285 alt="PyCon 2017 logo"></image></div>
                <div class="span3 for-the-com hide-tablet-down">
                  <div class="rule"></div>
                  <p>For the python<br>community</p>
                  <div class="rule"></div>
                </div>
                <div class="span3 by-for-the-com hide-tablet-up">
                  <div class="rule"></div>
                  <p>By the python community<br>For the python community</p>
                  <div class="rule"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="row landing-hills">
            <div class="hills">
              <img class="skyline" src="{{ STATIC_URL }}img/SVG/landing-hills.svg" src="{{ STATIC_URL }}img/PNG/landing-hills.png" width=100% height=auto alt="Evergreen tree covered hills illustration">
            </div>
          </div>
  {# About #}
          <div class="row about">
            <div class="full">
              <h2 class="scroll-title">About PyCon</h2>
              <div class="col-centered two-thirds">
                {% box "homepage-about" %}
              </div>
            </div>
          </div>
          <div class="city">
            <img class="skyline" src="{{ STATIC_URL }}img/SVG/Skyline.svg" src="{{ STATIC_URL }}img/PNG/skyline.png" width=100% height=auto alt="city of Portland, OR city skyline illustration">
          </div>
  {# Schedule Overview #}
          <div class="row">
            <div class="schedule-overview full">
              <div class="container">
                <div class="schedule third">
                  <img class="schedule-icon" xlink:href="{{ STATIC_URL }}img/SVG/tutorials-icon.svg" src="{{ STATIC_URL }}img/PNG/tutorials-icon.png" width=130 height=130 alt="Tutorials icon">
                  <h3>{% trans "Tutorials" %}<span class="dates"> May 28&ndash;29</span></h3>
                  <p>PyCon is proud to once again offer a stellar array
                    of tutorials prior to PyCon's main conference days!
                    These are multi-hour tutorial taught by experienced
                    Pythonistas and instructors.</p>
                </div>
                <div class="schedule third">
                  <img class="schedule-icon" xlink:href="{{ STATIC_URL }}img/SVG/conference-icon.svg" src="{{ STATIC_URL }}img/PNG/conference-icon.png" width=130 height=130 alt="Conference icon">
                  <h3>{% trans "Conference" %}<span class="dates"> May 30&ndash;June 1</h3>
                  <p>PyCon is the largest annual gathering for the community
                    using and developing the open-source Python programming language.</p>
                </div>
                <div class="schedule third">
                  <img class="schedule-icon" xlink:href="{{ STATIC_URL }}img/SVG/Sprints-Icon.svg" src="{{ STATIC_URL }}img/PNG/Sprints-Icon.png" width=130 height=130 alt="Sprints icon">
                  <h3>{% trans "Sprints" %}<span class="dates"> Starting June 2</span></h3>
                  <p>Development sprints are a key part of PyCon, and a chance
                    for the contributors to open-source projects to get together
                    face-to-face for up to four days of intensive learning, development
                    and camaraderie.</p>
                </div>
              </div>
            </div>
          </div>
  {# Register #}
          <div class="row register">
            <div class="full">
              <div class="register-banner">
                {% if config.REGISTRATION_STATUS != 'open' %}
                <div class="promo no-link">
                    {% if config.REGISTRATION_STATUS == 'soon' %}
                        <p>{% trans "Registration will open mid-October" %}</p>
                    {% elif config.REGISTRATION_STATUS == 'closed' %}
                        <p class="small">{% trans "Registration Closed" %}</p>
                    {% else %}
                        <p>&nbsp;&nbsp;</p>
                    {% endif %}
                </div>
                {% endif %}
                {% if config.REGISTRATION_STATUS == 'open' %}
                <div class="promo" itemprop="tickets" itemscope itemtype="http://data-vocabulary.org/Offer">
                   <a href="{% url 'registration_start' %}">Register Now</a>
                </div>
                {% endif %}
              </div>
            </div>
          </div>

          <div class="container past-pycon-announcements">
  {# PyCons Past #}
            <div class="half pycon-past">
              <h2 class="scroll-title">{% trans "A look at past PyCons" %}</h2>
              <!-- Past PyCon Carousel -->
              <div class="js-flickity main-gallery"
              data-flickity-options='{ "contain": true, "wrapAround": true, "imagesLoaded": true }'>
                <img src="{{ STATIC_URL }}img/landing-slideshow/Small/2015-escalator-sm.jpg" alt="interior of Palais des congrès de Montréal" />
                <img src="{{ STATIC_URL }}img/landing-slideshow/Small/2014-speaker-sm.jpg" alt="speaker at PyCon 2014" />
                <img src="{{ STATIC_URL }}img/landing-slideshow/Small/2014-conference-hall-sm.jpg" alt="2014 conference hall" />
                <img src="{{ STATIC_URL }}img/landing-slideshow/Small/2012-speaker-sm.jpg" alt="speaker at PyCon 2012" />
                <img src="{{ STATIC_URL }}img/landing-slideshow/Small/psf-booth-sm.jpg" alt="Python software foundation booth" />
              </div>
            </div>
    {# Announcements #}
            <div class="half pycon-announcements">
              <h2 class="scroll-title">{% trans "Announcements" %}</h2>
              <div class="announcement-bg">
                <img class="announcement-banner hide-mobile" src="{{ STATIC_URL }}img/PNG/announcement-banner.png" alt="announcements banner">
                <img class="announcement-banner hide-desktop" src="{{ STATIC_URL }}img/PNG/announcement-banner-mobile.png" alt="announcements banner">
              </div>
              {% latest_blog_posts as posts %}
              {% for post in posts|slice:"1" %}
              <div class="blog-post">
                  <div class="post-content">
                      <h3>{{ post.title }}</h3>
                      {% with author=post.author.get_full_name %}
                        <p class="post_dateline">by <span class="author">{{ author }}</span> &mdash; {{ post.published|date:"Y F d" }}</p>
                      {% endwith %}
                      <div class="teaser">
                        {{ post.teaser_html|safe }}
                        <p><a href="{{ post.get_absolute_url }}">Read&nbsp;more&nbsp;&raquo;</a></p>
                      </div>
                  </div>
              </div>
              {% empty %}
              <div class="col-centered span4">
                <div class="blog-post">
                  <div class="post-content">
                    <p>{% trans "Announcements coming soon." %}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
{% endblock %}

{# Sponsor Carousel #}

{% block body_outer %}
<div class="container">
    <div class="row col-centered">
        <div class="col-centered full sponsor-crawl">
            {% cache 600 "homepage-sponsor-slider" %}
                <h1 class="scroll-title-first">Sponsors</h1>
                <div class="col-centered span6 horizontalline"></div>
                {% sponsors "diamond" as diamond_sponsors %}
                <div id="sponsorslider" class="carousel slide col-centered">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        {% sponsors as all_sponsors %}
                        {# sponsors without levels, 12 per each slide #}
                        {% for sponsor in all_sponsors %}
                            {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
                            {% endif %}

                            <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                                <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '300x300' %}')" data-background-2x="{% thumbnail sponsor.website_logo '500x500' %}"></div>
                            </a>
                            {% if forloop.counter|divisibleby:"12" or forloop.last %}</div>{% endif %}
                        {% endfor %}
                    </div>


                    {% if all_sponsors.count > 12 %}
                      <!-- Carousel nav -->
                      <nav id="slider-nav">
                        <div class="slider-nav">
                            <div class="nav-container">
                            {% for sponsor in all_sponsors %}
                                {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                    <a href="#" class="{% if forloop.first %}activeSlide{% endif %}"></a>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                      </nav>
                    {% endif %}
                </div>
            {% endcache %}
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}
