{% extends "cms/page_detail.html" %}

{% block box %}
  <h2>{{ event.location }}</h2>
  <p>
    {% if event.start|date == event.end|date %}
      {{ event.start|date }}, {{ event.start|time }} &ndash; {{ event.end|time }}
    {% else %}
      {{ event.start|date }}, {{ event.start|time }} &ndash; {{ event.end|date }}, {{ event.end|time }}
    {% endif %}
  </p>
  {# class box-content will cause this to get rendered as markdown #}
  <div class="box-content">{{ event.description|safe }}</div>
{% endblock box %}
