{% extends "theme_base.html" %}

{% load url from future %}

{% load cache %}
{% load compress %}
{% load static %}
{% load metron_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}

{% block head_title_base %}{% block head_title %}{% endblock %} | {{ SITE_NAME }} in Portland, OR{% endblock %}

{% block style_base %}
    {% compress css %}
        <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet" type="text/css">
    {% endcompress %}

    {% if debug %}
        <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}less/site.less" />

        <!-- Trying this out -->
        <!-- <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/responsive-site.less" /> -->

        <script src="{{ STATIC_URL }}js/less-1.3.3.min.js"></script>
    {% else %}
        {% compress css %}
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/site.less" />
            <link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}css/flickity.css" />
        {% endcompress %}
    {% endif %}

    {% compress css %}
        {% include "markedit/includes/markedit-css.html" %}
    {% endcompress %}

    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <meta property="og:image" content="{% static "img/pycon2016-logo.png" %}" />
    <link href="{{ STATIC_URL }}img/pycon-2016.png" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% block topbar_base %}
    {% include "_messages.html" %}
    <header class="main">
        <a id="skip" href="#content">{% trans "Skip to main content" %}</a>
        <a class="logo-smaller" href="{% url 'home' %}">{{ SITE_NAME }} in Portland, Or</a>

        <div class="container">

        {% block main_nav %}
            <nav>
                <a class="logo-small" href="{% url 'home' %}">{{ SITE_NAME }} in Portland, Or</a>

                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">

                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>

                        <div class="nav-collapse collapse">
                          <div class="account-bar{% if user.is_authenticated %} {% trans "loggedin" %}{% endif %}">
                              {% block account_bar %}
                              {% include "_account_bar.html" %}
                              {% endblock %}
                          </div>
                          {% block topbar %}
                              {% block nav %}
                              {% sitetree_menu from "main" include "trunk" %}
                              {% endblock %}
                          {% endblock %}
                        </div>

                    </div>
                </div>
            </nav>
        {% endblock %}


        </div>
        <div class="page-head">
            <img src="{{ STATIC_URL }}img/PNG/breadcrumbs-hills-left.png" width=460 height=180 alt="hills next to breadcrumb illustration">
            <div class="container">
                {% block breadcrumbs %}{% endblock %}
            </div>
        </div>
    </header>
    {% block banner %}{% endblock %}
{% endblock %}

{% block body_base %}
    <div id="content">
        {% block body_outer %}
            <div class="page-content">
                {% block page_content %}
                <div class="container">
                    {% block edit_page %}{% endblock %}
                    <h1>{% block page_title %}{% endblock %}</h1>
                    <div class="box">
                        <div class="box-content">{% block body %}{% endblock %}</div>
                    </div>
                 </div>

                <div class="span12 col-centered sponsor-crawl">
                    {% cache 600 "homepage-sponsor-slider" %}
                        <h2 class="scroll-title-first">Sponsors</h2>
                        {% sponsors "diamond" as diamond_sponsors %}
                        <div id="sponsorslider" class="carousel slide col-centered">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                {% sponsors as all_sponsors %}
                                {# sponsors without levels, 12 per each slide #}
                                {% for sponsor in all_sponsors %}
                                    {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                        <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
                                    {% endif %}

                                    <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                                        <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '300x300' %}')" data-background-2x="{% thumbnail sponsor.website_logo '500x500' %}"></div>
                                    </a>
                                    {% if forloop.counter|divisibleby:"12" or forloop.last %}</div>{% endif %}
                                {% endfor %}
                            </div>


                            {% if all_sponsors.count > 12 %}
                              <!-- Carousel nav -->
                              <nav id="slider-nav">
                                <div class="slider-nav">
                                    <div class="nav-container">
                                    {% for sponsor in all_sponsors %}
                                        {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                            <a href="#" class="{% if forloop.first %}activeSlide{% endif %}">●</a>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                              </nav>
                            {% endif %}
                        </div>
                    {% endcache %}
                </div>
                </div>

                {% endblock %}
            </div>
        {% endblock %}
    </div>
    <div class="python-footer-block">
      <div class="logo-block">
        <img class="python-logo" src="{{ STATIC_URL }}img/PNG/python-logo.png" width=200 height=80 alt="Python Software Foundation logo">
        {{ SITE_NAME }} in Portland, OR is a production of the <a href="http://python.org/psf/">Python Software Foundation</a>.
      </div>
      <img class="footer-forest" src="{{ STATIC_URL }}img/PNG/footer-trees.png" width=400 height=180 alt="Evergreen tree illustration above footer content">
    </div>
    <footer>
        <div class="container">
        {% block footer %}
            <div class="row-fluid footer-content col-centered">
                <div class="span6">
                  <p>
                    {% blocktrans %}
                      Site utilizes <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>
                    {% endblocktrans %}
                  </p>
                  <p>
                  {% blocktrans %}
                    Hosting provided by <a href="http://www.rackspace.com/">Rackspace US, Inc.</a>
                  {% endblocktrans %}
                  </p>
                </div>
                <div class="span6">
                  <p>
                    {% blocktrans %}
                      Questions? Comments? Contact <a href="mailto:pycon-reg@python.org">pycon-reg@python.org</a></br>
                    {% endblocktrans %}
                  </p>
                  <div class="footer-center">
                      <p>
                          Site built and designed by <a href="http://caktusgroup.com">Caktus Consulting Group, LLC.</a>
                      </p>
                  </div>
                </div>
            </div>
        {% endblock %}
        </div>
    </footer>
{% endblock %}

{% block script_base %}
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "pinax/js/theme.js" %}"></script>
    <script src="{% static "js/flickity.pkgd.js" %}"></script>
    {% block extra_script %}{% endblock %}
{% endblock %}
