<!doctype html>
<html>
<head>

{% load url from future %}

{% load cache %}
{% load compress %}
{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}

<title>{% block head_title_base %}{% block head_title %}{% endblock %} | {{ SITE_NAME }} in Cleveland, Ohio{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
{% block style_base %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/slight.css"%}"/>
    {% include "markedit/includes/markedit-css.html" %}
    {% block extra_style %}{% endblock %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static "css/simple-grid.css" %}"/>
{% endblock %}

{% block extra_head_base %}
    <meta property="og:image" content="{% static "img/pycon2019.png" %}" />
    <link href="{% static "img/pycon2019.png" %}" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(document).on('click', '.message button', function(event) {
        $(this).parent().hide();
        return false;
      });
    </script>

    <script src="{% static "js/site.js"%}"></script>

    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />


{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% include "_messages.html" %}

<div id="content-wrapper"> <!-- wrap everything but footer for sticky footer -->
  <header class="header-container">
    {% include "_account_bar.html" %}
    {% block header-imagery %}
      <a class="logo-banner" href="{% url "home" %}">
        <img src="{% static "img/website-header-wordmark.svg" %}" alt="{{ SITE_NAME }} in Cleveland, Ohio">
      </a>
    {% endblock %}
    {% sitetree_menu from "main" include "trunk" %}
  </header>

  {% block banner %}{% endblock %}

  {% block body_base %}
    <div id="content" class="{% block content_class %}{% endblock %}">
        {% block body_outer %}
          <div class="page-content">
            {% block page_content %}
              <div class="container">
                {% block edit_page %}{% endblock %}
                <h1>{% block page_title %}{% endblock %}</h1>
                <div class="box">
                  {% block box %}
                    <div class="box-content">{% block body %}{% endblock %}</div>
                  {% endblock %}
                </div>
              </div>
            </div>
            {% endblock %}
          </div>
        {% endblock %}
    </div>
  {% endblock %}
</div>
<footer>
  <div class="footer-container">
    <img class="python-logo" src="{% static "img/psf-logo.png" %}"
         width=300 alt="PSF logo">
    {% block credits %}{% endblock %}
    <p>
      The PyCon 2019 conference in Cleveland, Ohio, USA, is a production of the
      <a href="http://python.org/psf/">Python Software Foundation</a>.
      This site is built using
      <a href="https://www.djangoproject.com/">Django</a>
      and
      <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
      Hosting is provided by
      <a href="http://heroku.com/">Heroku</a>.
    </p>
    <p>
      Logo and Branding by
      <a href="http://hellofizz.com/"><img title="Fizz Creative" alt="Fizz Creative" src="{% static "img/fizz.png" %}"/></a>.
    </p>
  </div>
</footer>

{% block extra_script %}{% endblock %}

</body>
</html>
