<!doctype html>
<html>
<head>

{% load url from future %}

{% load cache %}
{% load compress %}
{% load static %}
{% load metron_tags %}
{% load i18n %}
{% load sponsorship_tags %}
{% load thumbnail %}
{% load sitetree %}

<title>{% block head_title_base %}{% block head_title %}{% endblock %} | {{ SITE_NAME }} in Portland, Oregon{% endblock %}</title>

{% block style_base %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}css/slight.css" />
    {% include "markedit/includes/markedit-css.html" %}
    {% block extra_style %}{% endblock %}
{% endblock %}

{% block extra_head_base %}
    <meta property="og:image" content="{% static "img/pycon2017-logo.png" %}" />
    <link href="{{ STATIC_URL }}img/pycon-2017.png" rel="shortcut icon" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    {% include "markedit/includes/markedit-js.html" %}
    {% block extra_head %}{% endblock %}
    <meta name="google-site-verification" content="fG_DG4G4eFtBcgIKht-bJKdirGhDa_51X6yeCS8daDs" />
{% endblock %}

</head>
<body class="{% block body_class %}{% endblock %}">

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}

{% include "_messages.html" %}

<header class="main">
  {% include "_account_bar.html" %}
  {% block logo %}
    <a class="beatrix-banner" href="{% url "home" %}">
      <img src="{{ STATIC_URL }}/img/pycon-cityscape.png">
    </a>
  {% endblock %}
  <nav>{% sitetree_menu from "main" include "trunk" %}</nav>
</header>

{% block banner %}{% endblock %}

{% block body_base %}
    <div id="content">
        {% block body_outer %}
            <div class="page-content">
                {% block page_content %}
                <div class="container">
                    {% block edit_page %}{% endblock %}
                    <h1>{% block page_title %}{% endblock %}</h1>
                    <div class="box">
                      {% block box %}
                        <div class="box-content">{% block body %}{% endblock %}</div>
                      {% endblock %}
                    </div>
                 </div>

                <!--
                <div class="span12 col-centered sponsor-crawl">
                    {% cache 600 "homepage-sponsor-slider" %}
                        <h2 class="scroll-title-first">Sponsors</h2>
                        {% sponsors "diamond" as diamond_sponsors %}
                        <div id="sponsorslider" class="carousel slide col-centered">
                            <!-- Carousel items
                            <div class="carousel-inner">
                                {% sponsors as all_sponsors %}
                                {# sponsors without levels, 12 per each slide #}
                                {% for sponsor in all_sponsors %}
                                    {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                        <div class="item {% if forloop.first %}active{% endif %}" style="margin: auto;">
                                    {% endif %}

                                    <a href="{{ sponsor.external_url }}" title="{{ sponsor.name }}">
                                        <div class="sponsor-scroll-item" style="background-image: url('{% thumbnail sponsor.website_logo '300x300' %}')" data-background-2x="{% thumbnail sponsor.website_logo '500x500' %}"></div>
                                    </a>
                                    {% if forloop.counter|divisibleby:"12" or forloop.last %}</div>{% endif %}
                                {% endfor %}
                            </div>


                            {% if all_sponsors.count > 12 %}
                              <!-- Carousel nav
                              <nav id="slider-nav">
                                <div class="slider-nav">
                                    <div class="nav-container">
                                    {% for sponsor in all_sponsors %}
                                        {% if forloop.first or forloop.counter0|divisibleby:"12" %}
                                            <a href="#" class="{% if forloop.first %}activeSlide{% endif %}">●</a>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                </div>
                              </nav>
                            {% endif %}
                        </div>
                    {% endcache %}
                </div>
                -->
                </div>

                {% endblock %}
            </div>
        {% endblock %}
    </div>

<footer>
  <div>
    <img class="python-logo" src="{{ STATIC_URL }}img/psf-logo.png"
         width=334 height=82 alt="PSF logo">
    <p>
      PyCon 2017 in Portland, Oregon, is a production of the
      <a href="http://python.org/psf/">Python Software Foundation</a>.
      Site utilizes
      <a href="http://eldarion.com/symposion/" title="Symposion — An Open Platform for Conference Websites">Symposion</a>.
      Hosting provided by
      <a href="http://www.rackspace.com/">Rackspace US, Inc</a>.
    </p>
  </div>
</footer>
{% endblock %}

</body>
</html>
