/* Imports
==================== */
@import "site.less";
@import "bootstrap/responsive.less";

/* Variables
==================== */
@breakDesktopXL:			1600px;
@breakDesktopXLS:           1400px;
@breakDesktopLarge:			1200px;
@breakDesktop:				979px;
@breakTablet:				767px;
@breakMobileLandscape:		480px;
@breakMobile:				321px;


/* Generic
==================== */
body {
	@media (max-width: @breakTablet) {
		padding-left: 0;
		padding-right: 0;
	}
	.col-centered {
		float: none;
		margin: 0 auto;
	}
	.python-footer-block {
		@media (min-width: @breakTablet) {
			padding-top: 4em;
		}
		@media (min-width: @breakDesktopLarge) {
			padding-top: 1em;
		}
		.logo-block {
	    @media (min-width: @breakTablet) {
	      top: 1em;
	    }
	    @media (min-width: @breakDesktop) {
	      top: 2em;
	    }
			@media (min-width: @breakDesktopLarge) {
	      top: 5em;
	    }
		}
	}

	.page-head {
		@media (max-width: @breakTablet) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.page-content {
		@media (max-width: @breakTablet) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	aside .sponsor-list {
		@media (max-width: @breakTablet) {
			padding: 0;
			border-left: none;
			border-top: 1px solid @grayLighter;
			h2 {
				font-size: 36px;
				padding-top: 20px;
			}
		}
	}
	header.main {
		@media (min-width: @breakDesktopLarge) {
			.navbar .nav li a {
				padding-right: 1.5em;
				font-size: @baseFontSize + 3;
			}
		}
		@media (min-width: @breakDesktop) {
			nav {
				a.logo-small {
					top: 15px;
					left: 5%;
				}
				ul {
					width: 100%;
					z-index: 0;
				}
				.navbar .nav li a {
					padding-right: 1em;
				}
				.account-bar {
					margin: 0;
					float: right;
					text-transform: uppercase;
					position: absolute;
					top: -1em;
					right: 0;
					background-color: transparent;
					padding: 0;
					z-index: 1;
					&.loggedin {
						position: relative;
						span {
							margin-left: 0;
						}
					}
					.account-links {
						button.logout,
						a {
							&.login,
							&.logout,
							&.signup {
								display: inline-block;
							}
						}
					}
					.login {
						right: -5px;
						border-right: 2px solid @maroon;
						border-bottom-color: @red;
					}
				}
			}
			a.logo-smaller { display: none; }
		}
		@media (max-width: @breakDesktop) {
			padding-top: 0;
			.navbar {
				position: fixed;
				top: 0;
				right: 0;
				width :100%;
				.btn-navbar {
					float: right;
					padding: 20px;
					margin: 0;
			    .box-shadow(none);
			    background-image: none;
			    background-color: @red;
					border: none;
					border-radius: 0;
			    &:hover {
		    		background-color: @maroon;
			    }
					.icon-bar { box-shadow: none; }
				}

				.nav-collapse .nav {
					background-color: white;
					li.dropdown .dropdown-toggle:hover {
						background-color: @maroon;
						color: white;
					}
					li a {
						padding: 1em;
						border-radius: 0;
						display: block;
						&:hover {
							color: white;
							background-color: @maroon;
						}
						.caret {
							border-top-color: white;
						}
					}
				}
			}
			nav {
				.navbar .navbar-inner {
					margin: 0;
					padding: 0;
				}
				a.logo-small {
					display: none;
				}
				.account-bar form button[type=submit] {
					margin: 1em 0 0;
					width: 100%;
				}
			}
			a.logo-smaller {
			    width: 120px;
			    height: 75px;
			    background:url(../img/PNG/pycon16-logo-small.png) no-repeat 0 0;
			    text-indent: -9999px;
			    display: block;
			    background-size: 120px auto;
			    margin: 0 0 10px 5px;
					border-bottom: none;
			}
		}
	}
}

.row {
	@media (min-width: @breakDesktopLarge) {
		margin-left: 0;
	}
}

p {
	font-size: 12pt;
}

.hide-mobile {
	display: none;
  @media (min-width: @breakDesktop ) {
		display: inline-block;
	}
}

.hide-tablet-up {
	display: inline-block;
  @media (min-width: @breakTablet ) {
		display: none;
	}
}

.hide-tablet-down {
	display: none;
  @media (min-width: @breakTablet ) {
		display: inline-block;
	}
}

.hide-desktop {
	display: inline-block;
  @media (min-width: @breakDesktop ) {
		display: none;
	}
}

/* Homepage
==================== */
body.home {

	@media (min-width: @breakDesktop) {
		.landing-banner img {
			padding: 4em 0 1em;
			width: 100%;
			.by-the-com,
	    .for-the-com {
	      float: left;
	      position: relative;
	      top: 11.35em;
	      font-family: 'roboto condensed', sans-serif;
	      p {
	        display: table;
	        margin: 0 auto;
	      }
	    }
	    .by-the-com {
	      float: left;
	    }
	    .for-the-com {
	      float: right;
	    }
		}
	}
	@media (max-width: @breakDesktop) {
		.landing-banner img {
			padding: 7em 0 3em;
		}
	}
	@media (max-width: @breakDesktop) {
		header.main {
			a.logo-smaller { display: none; }
			@media (max-width: @breakMobileLandscape) {
				.account-links {
					span { display: none; }
				}
			}
		}
	}

	.promo {
		&.no-link {
			@media (max-width: @breakDesktop) {
				top: 20px;
			}
		}
		a {
			@media (max-width: @breakMobileLandscape) {
				font-size: 12px;
				margin: 0 0 20px;
				padding: 10px 50px;
			}
		}
	}

	.pycon-past {
		@media (min-width:@breakMobileLandscape ) {
		}
		@media (min-width:@breakTablet ) {}
		@media (min-width:@breakDesktop ) {}
	}

	.past-pycon-announcements {
		.half {
			@media (max-width:@breakDesktop) {
				width: 100%;
			}
			@media (min-width:@breakDesktop) {
				width: 50%;
			}
		}
		.pycon-past,
		.pycon-announcements {
			@media (min-width:@breakDesktop) {
				float: left;
			}
		}
		.pycon-announcements {
			@media (min-width:@breakMobileLandscape ) {
				height: 400px;
			}
	    .announcement-bg {
				@media (min-width:@breakMobileLandscape ) {
					height: 370px;
					width: 98%;
					right: 1%;
				}
				@media (min-width:@breakDesktop ) {
					width: 50%;
					right: 0;
				}
	    }
			.blog-post {
				@media (min-width:@breakTablet) and (max-width:@breakDesktop) {
					padding: 1em 10% 1em 0;
				}
		    .post-content {
					@media (min-width:@breakDesktop ) {
						padding: 0.5em 3em;
					}
					@media (min-width:@breakDesktopLarge ) {
						padding: 0.5em 5em 0.5em 3em;
					}
		    }
			}
		}
	}

	.schedule-overview {
		@media (max-width: @breakTablet) {
			padding: 60px 0 0;
		}
		.schedule {
			@media (max-width: @breakDesktop) {
				ul {
		        margin: 0 0;
		        text-align: right;
		        li {
		            margin-left: 10px;
	  				}
	    		}
			}
			@media (max-width: @breakTablet) {
				max-width: 400px;
				margin: 0 auto;
				float: none;
			}
			p {
				margin-bottom: 3em;
			}
		}
	}

	  /* Slideshow nav
  ==================== */
	.scroll-title {
		@media (max-width: @breakTablet) {
			font-size: 30px;
			margin: 20px 0 5px;
		}
	}
	.homepage-content {
		@media (max-width: @breakTablet) {
			padding: 0 20px;
		}
		text-align: center;
		.home-schedule {
    		margin: 0 0;
    	}
	}
	.about {
		padding: 3em 0 5em;
		@media (min-width: @breakMobileLandscape) {
			padding-bottom: 7em
		}
		@media (min-width: @breakTablet) {
			padding-bottom: 9em
		}
		@media (min-width: @breakDesktop) {
			padding-bottom: 12em
		}
		@media (min-width: @breakDesktopLarge) {
			padding-bottom: 15em
		}
		@media (max-width: @breakDesktop) {
			p {
	      font-size: @baseFontSize * 1.25;
	      line-height: 1.85em;
	    }
		}
	}
	.hidden-breakDesktop {
		@media (max-width: @breakDesktop) {
	      display: none;
	    }
	}
	.hidden-breakTablet {
		@media (max-width: @breakTablet) {
	      display: none;
	    }
	}
}

/* Sponsor Carousel
==================== */
.sponsor-crawl {
	@media (max-width: @breakMobileLandscape) {
		padding: 20px 0;
	}
	.sponsorship-link {
		@media (max-width: @breakTablet) {
			position: relative;
			display: block;
			top: auto;
			right: auto;
			margin: 0 auto;
			text-align: center;
				}
	}

	.sponsor-scroll-item {
		@media (max-width: @breakDesktopLarge) {
			width: 21%;
			margin: .5em 2%;
		}
		@media (max-width: @breakTablet) {
			width: 46%;
			margin: .5em 2%;
		}
		@media (max-width: @breakMobileLandscape) {
			width: 90%;
			margin: .5em 5%;
		}
	}
}

/* CMS Page
==================== */
body.cms-page {
	.page-head {
		@media (min-width: @breakDesktop) {
			margin-left: 20%;
		}
		.container {
			@media (min-width: @breakTablet) {
				width: 76%;
				margin: 0 12%;
			}
			@media (min-width: @breakDesktop) {
				width: 100%;
				margin: 0;
			}
		}
		img {
			@media (min-width: @breakDesktop) {
				display: inline-block;
			}
		}
	}
	header.main,
	.page-content {
		@media (min-width: @breakTablet) {
	    .container {
	      width: 76%;
	      margin: 0 12%;
	    }
			.box-content p {
		    font-size: @baseFontSize * 1.5;
		  }
		}
		@media (min-width: @breakDesktop) {
			.container {
		    width: 60%;
		    margin: 0 20%;
		  }
		}
	}
	header.main {
		@media (min-width: @breakDesktop) {
			.container {
		    width: 64%;
		    margin: 0 16% 0 20%;
		  }
		}
	}
}

.top-banner {
	@media (max-width: @breakTablet) {
		ul.breadcrumb {
			font-size: 10pt;
			margin-bottom: 30px;
		}
	}
	@media (max-width: @breakMobileLandscape) {
		h1 {
			font-size: 30px;
			margin-bottom: 0;
		}
		ul.breadcrumb {
			margin-bottom: 30px;
		}
	}
}

/* Login + Register
======================= */
body.login, body.signup {
	.page-content {
		@media (max-width: @breakTablet) {
			.box {
				border: none;
			}
		}
	}
}

/* Sponsorship List
======================= */
body.sponsors {
	.page-head {
		a.read-more {
			@media (max-width: @breakMobileLandscape) {
				font-size: 11px;
				width: 225px;
			}
		}
	}
	.page-content {
		.sponsor .sponsor-content {
			@media (max-width: @breakTablet) {
				min-height: 250px;
				height: auto;
			}
		}
	}
}

/* Flickity Viewport
======================= */

@media (min-width: @breakDesktop) {
	.js-flickity {
		.flickity-viewport {
			height: 370px !important;
		}
		.flickity-prev-next-button {
			top: 34%;
		}
	}
}
