/* Imports
==================== */
@import "site.less";
@import "bootstrap/responsive.less";

/* Variables
==================== */
@breakDesktopXL:			1600px;
@breakDesktopXLS:           1400px;
@breakDesktopLarge:			1200px;
@breakDesktop:				979px;
@breakTablet:				767px;
@breakMobileLandscape:		480px;
@breakMobile:				321px;


/* Generic
==================== */
body {
	@media (max-width: @breakTablet) {
		padding-left: 0;
		padding-right: 0;
	}
	.col-centered {
		float: none;
		margin: 0 auto;
	}
	footer {
		@media (max-width: @breakDesktop) {
			height: auto;
		}
		@media (max-width: @breakTablet) {
			top: 0;
		}
		.footer-content {
			@media (max-width: @breakDesktopLarge) {
			    .footer-right {
			      text-align: left;
			      margin-bottom: 10px;
			      margin-left: -40px;
			    }
			    img.caktus-logo {
			      margin-top: 10px;	
			      margin-left: 0;
			      max-width: 100px;
			    }
			}
			@media (max-width: @breakDesktop) {
				top: 0;
				padding-bottom: 0;
				.footer-right {
			      text-align: left;
			      margin-bottom: 10px;
			      margin-left: -20px;
			    }
			    img.caktus-logo {
			      margin-left: 0;
			      max-width: 80px;
			    }
			}
			@media (max-width: @breakTablet) {
				top: 0;
				padding-bottom: 0;
				.footer-left {
					text-align: center;
					margin: 0 20px;
				}
				.footer-right {
			      margin: -30px 20px 10px 20px;
			      text-align: center;

			    }
			    img.caktus-logo {
			    	display: none;
			    }
			}
		}
		a.logo img {
			@media (max-width: @breakMobileLandscape) {
				height: 25px;
				width: 275px;
			}
		}
	}
	.page-head {
		@media (max-width: @breakTablet) {
			padding-right: 20px;
			padding-left: 20px;
		}
		// .skyline {
		// 	@media (min-width: @breakDesktopLarge) {
		// 		left: 57%;
		// 	}
		// 	@media (max-width: @breakDesktop) {
		// 		left: 35%;
		// 		height: 60px;
		// 	}
		// 	@media (max-width: @breakTablet) {
		// 		background-size: 350px 50px;
		// 		width: 350px;
		// 		bottom: -10px;
		// 		left: 40%;
		// 	}
		// 	@media (max-width: 600px) {
		// 		display: none;
		// 	}
		// }
	}
	.page-content {
		@media (max-width: @breakTablet) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	aside .sponsor-list {
		@media (max-width: @breakTablet) {
			padding: 0;
			border-left: none;
			border-top: 1px solid @grayLighter;
			h2 {
				font-size: 36px;
				padding-top: 20px;
			}
		}
	}
	header.main {
		@media (min-width: @breakDesktop) {
			nav {
				a.logo-small {
					top: 15px;
					left: auto;
				}
				.navbar .nav li a {
					margin: 0 10px 0 0;
				}
			}
			a.logo-smaller { display: none; }
		}
		@media (max-width: @breakDesktop) {
			.navbar {
				.nav { margin: 10px 0; }
				.btn-navbar {
					float: left;
				    position: relative;
				    top: -5px;
				    .box-shadow(none);
				    background-image: none;
				    background-color: @blueDark;
				    border: 3px solid @blueDark;
				    &:hover {
				    	background-color: @blueLight;
				    	border-color: @blueLight;
				    }
				}
			}
			.account-bar {
				margin: 0 5px 0 0;
				.account-links {
					position: absolute;
				    right: 0;
				    top: 10px;
				}
			}
			nav {
				.navbar .navbar-inner {
					margin: 0;
					padding: 0;
				}
				a.logo-small {
					display: none;
				}
			}
			a.logo-smaller {
			    width: 300px;
			    height: 27px;
			    background:url(../img/pycon2015-logo_sub.png) no-repeat 0 0;
			    text-indent: -9999px;
			    display: block;
			    background-size: 300px auto;
			    margin: 0 0 10px 5px;
			    @media (max-width: @breakMobileLandscape) {
			    	 background-size: 290px auto;
			    	 width: 290px;
			    }
			}
		}
	}
}

p {
	font-size: 12pt;
}

/* Homepage
==================== */
body.home {
	@media (max-width: @breakDesktopXL) {
		.banner {
			min-height: 570px;
	    	padding-top: 70px;
		}
	}
	@media (max-width: @breakDesktopXLS) {
		.banner {
			min-height: 505px;
		}
	}
	@media (max-width: @breakDesktopLarge) {
		.banner {
			min-height: 440px;
		}
	}
	@media (max-width: @breakTablet) {
		.banner {
			min-height: 300px;
	    	.logo {
	    		background:url(../img/pycon2015-logo_sub.png) no-repeat 0 0;
	    		background-size: 300px auto;
	    		width: 300px;
	    		height: 60px;
	    		margin-left: 10px;
	    	}
		}
	}
	@media (max-width: @breakMobileLandscape) {
		.banner {
			min-height: 200px;
	    	.logo {
	    		margin: 0 auto;
	    	}
		}
	}
	@media (max-width: @breakMobile) {
		.banner {
			background: url("../img/headergraphic.png") no-repeat center 130px;
			-webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
			min-height: 180px;
	    	padding-top: 65px;
		}
		.logo {
			margin: 0 auto;
		}		
	}
	@media (max-width: @breakDesktop) {
		header.main {
			a.logo-smaller { display: none; }
			@media (max-width: @breakMobileLandscape) {
				.account-links {
					span { display: none; }
				}
			}
		}
	}
	
	.promo {
		&.no-link {
			@media (max-width: @breakDesktop) {
				top: 20px;
			}
		}
		a {
			@media (max-width: @breakMobileLandscape) {
				font-size: 12px;
				margin: 0 0 20px;
				padding: 10px 50px;
			}
		}
	}

	.announcements :first-child .blog-post{
	  	@media (max-width: @breakTablet) {
	    margin-left: 15px;
		}
	}

	.announcements :last-child .blog-post{
	  	@media (max-width: @breakTablet) {
	    margin-left: 15px;
		}
	}

	.announcements {
		.blog-post {
			@media (max-width: @breakDesktop) {
				margin: 15px;
				padding: 20px;
				margin-bottom: 15px;
	        	padding-bottom: 20px;
			}
			@media (max-width: @breakTablet) {
				margin: 15px;
				padding: 20px;
				margin-bottom: 15px;
	        	padding-bottom: 20px;
			}
			@media (max-width: @breakMobileLandscape) {
				margin: 15px;
				padding: 20px;
				height: auto;
			}
		}
	}
	.schedule {
		@media (max-width: @breakDesktop) {
			ul {
		        margin: 0 0;
		        text-align: right;
		        li {
		            margin-left: 10px;
  				}
    		}
		}
		@media (max-width: @breakTablet) {
			display: none;
		}
	}
	.home-schedule {
		.tutorial {
			@media (max-width: @breakDesktop) {
			  padding: 10px;
			  height: 230px;
			}
			@media (max-width: @breakTablet) {
			  height: auto;
			}
		}

		.conference {
			@media (max-width: @breakDesktop) {
			  padding: 10px;
			  height: 290px;
			}
			@media (max-width: @breakTablet) {
			  padding: 10px;
			  height: auto;
			}
		}

		.sprints {
			@media (max-width: @breakDesktop) {
			  padding: 10px;
			  height: 180px;
			}
			@media (max-width: @breakTablet) {
			  height: auto;
			}
		}
	}

	.sponsor-crawl {
		@media (max-width: @breakMobileLandscape) {
			padding: 20px 0;
		}
		.sponsorship-link {
			@media (max-width: @breakTablet) {
				position: relative;
				display: block;
				top: auto;
				right: auto;
				margin: 0 auto;
				text-align: center;
	      	}
		}
	}
	.carousel-inner { 
		@media (max-width: 1200px) {
			height: 300px;
		}
		@media (max-width: @breakTablet) {
			height: 450px;
		}
		@media (max-width: @breakMobileLandscape) {
			height: 100%;
		}
	}
	.sponsor-scroll-item {
		@media (max-width: 1200px) {
			width: 20%;
		}
		@media (max-width: @breakTablet) {
			width: 50%;
		}
		@media (max-width: @breakMobileLandscape) {
			width: 100%;
		}
	}
	  /* Slideshow nav
  ==================== */
    nav#slider-nav {
    	@media (max-width: @breakTablet) {
	    	margin-left: 39%; 
	    }
    	@media (max-width: @breakMobileLandscape) {
	    	margin-left: 35%; 
	    }
    	@media (max-width: @breakMobile) {
	    	margin-left: 27%; 
	    }
    }
	.scroll-title {
		@media (max-width: @breakTablet) {
			font-size: 30px;
			margin: 20px 0 5px;
		}
	}
	.horizontalline {
		@media (max-width: @breakTablet) {
			margin-bottom: 20px;
		}
	}
	.homepage-content {
		@media (max-width: @breakTablet) {
			padding: 0 20px;
		}
		text-align: center;
		.home-schedule {
    		margin: 0 0;
    	}
	}
	.about {
		@media (max-width: @breakTablet) {
			margin-top: 20px;
		}
	}
	.hidden-breakDesktop {
		@media (max-width: @breakDesktop) {
	      display: none;
	    }
	}
	.hidden-breakTablet {
		@media (max-width: @breakTablet) {
	      display: none;
	    }
	}

	/* Side & bottom Illustrations
  =============================== */
	.leftbg {
		@media (max-width: @breakTablet) {
			display: none;
		}
	}
	.rightbg {
		@media (max-width: @breakDesktopLarge) {
	    	top: -400px;
	    	width: 180px;
		}
		@media (max-width: @breakDesktop) {
	    	width: 160px;
		}
		@media (max-width: @breakTablet) {
	    	display: none;
		}
	}
	.topRightbg {
		@media (max-width: @breakDesktopXL) {
	    	top: 320px;
	    	width: 180px;
		}
		@media (max-width: @breakDesktopLarge) {
	    	top: 350px;
	    	width: 180px;
		}
		@media (max-width: @breakDesktop) {
	    	width: 160px;
		}
		@media (max-width: @breakTablet) {
	    	display: none;
		}
	}
	.bottombg {
		@media (max-width: @breakTablet) {
	    	top: 0;
	    }
	}
}

/* CMS Page
==================== */
body.cms-page {
	aside .sponsor-list {
		@media (max-width: @breakTablet) {
			padding: 0;
			border-left: none;
			border-top: 1px solid @grayLighter;
			h2 {
				font-size: 36px;
				padding-top: 20px;
			}
		}
	}
}

.page-head {
	@media (min-width: @breakDesktopXL) {
	    background: url("../img/headergraphicSm2.png") no-repeat right -40px;
	    background-size: 100% ;
	    padding: 110px 0 10px 0;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 55px;
	    background-color: #ccf5ff;
	}
	@media (max-width: @breakDesktopLarge) {
	    background: url("../img/headergraphicSm2.png") no-repeat right -10px;
	    background-size: 100% ;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 55px;
	    background-color: #ccf5ff;
	}
	@media (max-width: @breakDesktop) {
	    background: url("../img/headergraphicSm2.png") no-repeat right 30px;
	    background-size: 100% ;
	    padding: 110px 0 0 0;
	    background-position-x: 170px;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 55px;
	    background-color: #ccf5ff;
	}
	@media (max-width: @breakTablet) {
		background: url("../img/headergraphicSm2.png") no-repeat right 40px;
	    background-size: 120% ;
	    background-position-x: 190px;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 55px;
	    background-color: #ccf5ff;
	}
	@media (max-width: @breakMobileLandscape) {
	    background: none;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 40px;
	    background-color: #ccf5ff;
	}
	@media (max-width: @breakMobile) {
		background: none;
	    martgin-bottom: 20px;
	    position: relative;
	    min-height: 55px;
	    background-color: #ccf5ff;
	}
}

/* Login + Register
======================= */
body.login, body.signup {
	.page-content {
		@media (max-width: @breakTablet) {
			.box {
				border: none;
			}
		}
	}
}

/* Sponsorship List
======================= */
body.sponsors {
	.page-head {
		a.read-more {
			@media (max-width: @breakMobileLandscape) {
				font-size: 11px;
				width: 225px;
			}
		}
	}
	.page-content {
		.sponsor .sponsor-content {
			@media (max-width: @breakTablet) {
				min-height: 250px;
				height: auto;
			}
		}
	}
}
