// Table of Contents
// ==================

// Imports
// Fonts
// Variables
// Mixins
// Navigation
// Homepage
// Sponsor slideshow
// Slideshow nav
// Subpage
// Sponsors
// Venue
// Speaker profile
// Auth pages
// Boxes
// Retina
// Reviews
// Job fair

/* Imports
==================== */
@import "bootstrap/bootstrap.less";

/* Fonts
==================== */
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,700,900);

/* Variables
==================== */

@blueLight:   #55b6d9;
@blueDark:    #2871ba;
@blueSky:     #ade2f5;

@greenLight:  #76c34d;
@greenDark:   #62a83d;
@yellowBeak:  #f6b34a;

@danger:      #cd0000;

@button-text:           @white;
@button-hover:          mix(@grayLight, white, 80%);
@button-active:         mix(@grayLight, black, 85%);
@button-primary-hover:  mix(@blueLight, white, 80%);
@button-primary-active: mix(@blueLight, black, 85%);
@button-info-hover:     mix(@greenDark, white, 80%);
@button-info-active:    mix(@greenDark, black, 85%);
@button-success-hover:  mix(@greenLight, white, 80%);
@button-success-active: mix(@greenLight, black, 85%);
@button-danger-hover:   mix(@danger, white, 80%);
@button-danger-active:  mix(@danger, black, 85%);
@button-warning-hover:  overlay(@yellowBeak, darken(white, 37.5%));
@button-warning-active: mix(@yellowBeak, black, 85%);
@button-inverse-hover:  overlay(@blueDark, darken(white, 37.5%));
@button-inverse-active: mix(@blueDark, black, 85%);


/* Mixins
==================== */
.swap-button-color(@color, @hover, @active) {
  background-color: @color;
  color: @grayDark;
  &:hover,
  &:focus,
  .btn-group:focus &.dropdown-toggle {
    background-color: @hover;
  }
  &:active,
  .btn-group.open &.dropdown-toggle,
  &.active {
    background-color: @active;
  }
}

.inline-block {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* Generic
==================== */
body {
  background: @white;
  padding-top: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

h1 { font-size: @baseFontSize * 2; }
h2 { font-size: @baseFontSize * 1.75; }
h3 { font-size: @baseFontSize * 1.5; }
h4 { font-size: @baseFontSize * 1.25; }
h5 { font-size: @baseFontSize; }
h6 { font-size: @baseFontSize * 0.85; }
h1, h2, h3 { line-height: 1.4em; }

h1 small { font-size: @baseFontSize * 1.5; }
h2 small { font-size: @baseFontSize; }
h3 small { font-size: @baseFontSize; }
h4 small { font-size: @baseFontSize; }

a {
  color: @blueDark;
  cursor: pointer;
  &:hover {
    color: @blueLight;
  }
}

img.diamond-sponsors {
  width: 100px;
}

#skip {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

// Buttons
.btn,
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: @baseFontSize;
  font-weight: 500;
}

.btn {
  border: none;
  color: @white;
  background: @grayLight;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  .border-radius(6px);
  .box-shadow(none);
  .transition(0.25s);

  // Alternate states
  // --------------------------------------------------
  &:hover,
  &:focus,
  .btn-group:focus &.dropdown-toggle {
    background-color: @button-hover;
    color: @button-text;
    outline: none;
    .transition(0.25s);
  }

  // Active State
  &:active,
  .btn-group.open &.dropdown-toggle,
  &.active {
    background-color: @button-active;
    color: fade(@button-text, 75%);
    .box-shadow(none);
  }

  // Disabled state
  &.disabled,
  &[disabled] {
    background-color: @grayLight;
    color: fade(@button-text, 75%);
    .box-shadow(none);
    .opacity(70);
  }

  // Button sizes
  // --------------------------------------------------

  // Large
  &.btn-large {
    font-size: @baseFontSize * 1.214; /* 17px */
    line-height: 20px;
    padding: 12px 18px 13px;

    > [class^="fui-"] {
      top: 0;

      &.pull-right {
        margin-right: -2px;
      }
    }
  }

  // Set the backgrounds
  // -------------------------
  &.btn-primary {
    .swap-button-color(@blueDark, @button-primary-hover, @button-primary-active);
  }
  &.btn-info    {
    .swap-button-color(@blueLight, @button-info-hover, @button-info-active);
  }
  &.btn-danger  {
    .swap-button-color(@danger, @button-danger-hover, @button-danger-active);
  }
  &.btn-success {
    .swap-button-color(@greenLight, @button-success-hover, @button-success-active);
  }
  &.btn-warning {
    .swap-button-color(@yellowBeak, @button-warning-hover, @button-warning-active);
  }
  &.btn-inverse {
    .swap-button-color(@white, @button-inverse-hover, @button-inverse-active);    
  }

  // Button icon
  // --------------------------------------------------
  > [class^="fui-"] {
    margin: 0 4px;
    position: relative;
    top: 1px;
    vertical-align: top;
    .inline-block();

    &.pull-right {
      margin-right: 0px;
    }
  }
}

footer {
  text-align: center;
  font-size: 13px;
  padding: 25px 0;
  border-top: 1px solid @grayLighter;
  margin-top: 20px;
  img {
    height: 27px;
    width: 314px;
    margin-bottom: 20px;
  }
  p {
    padding: 0;
    margin: 0;
  }
}

/* Navigation
==================== */
.account-bar {
  position: relative;
  a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: @baseFontSize - 3;
  }
}

.breadcrumb {
  margin: 0 0 8px;
}

nav {
  background: transparent;
  .container { position: relative; }
  .navbar {
    margin-bottom:0;

    .navbar-inner {
      background: transparent;
      .box-shadow(none);
      margin: 42px 0 0 40px;
      border: none;
    }

    .nav { 
      li { 
         a {
          font-size: @baseFontSize + 3;
          margin: 0 20px 0 0;
          padding: 5px 10px 6px;
          box-shadow: none !important;
          text-shadow: none;
          color: @grayDark;
          font-weight: 400;
          &:hover {
            background-color: @blueLight;
            .border-radius(6px);
          }
          &:active {
            background-color: darken(@blueLight, 20%);
          }
          &:focus {
            color: @grayDark;
            background-color: transparent;
          }
        }
        &.dropdown {
          &.open > .dropdown-toggle,
          &.active > .dropdown-toggle,
          &.open.active > .dropdown-toggle {
            background-color: @blueDark;
            .border-radius(8px);
          }
        }
      }

      .dropdown-menu {
        .border-radius(6px);
        border-top: 6px solid @blueLight;
        border-right: 1px solid @grayLighter;
        border-left: 1px solid @grayLighter;
        border-bottom: 1px solid @grayLighter;
        margin: 8px 0 0 0;
        &:after {
          top: -12px;
          border-bottom: 6px solid @blueLight;
        }
        &:before {
          top: -13px;
        }
        li {
          &.active {
            a {
              color: @white;
            }
          }
          a {
            margin: 0;
            color: @grayDark;
            &:hover {
              background-color: @blueLight;
              color: @white;
              background-image: none;
              .border-radius(0);
            }
          }
        }
      }
    }
  }
    
    a.logo-small {
      position:absolute;
      top: 5px;
      left: 0;
      width: 365px;
      height: 65px;
      background:url(../img/pycon2014-logo_sub.png) no-repeat 0 0;
      text-indent: -9999px;
    }
}

/* Homepage
==================== */
body.home {
  .logo-small {
    display: none;
  }
  nav .navbar .navbar-inner {
    margin: 0 0 0 40px;
  }
  .banner {
    margin-bottom: 25px;
  }
  .sky {
    background-color: @blueSky;
    padding-top: 50px;
    .logo {
      background: url("../img/pycon2014-logo.png") no-repeat scroll 0 0 transparent;
      display: block;
      height: 105px;
      text-indent: -9999px;
      width: 522px;
      whitespace: nowrap;
    }
    .details { display: none; }
    .promo {
      a {
        .btn;
        .btn-inverse;
        font-weight: 900;
        padding: 20px 15px 21px;
        font-size: 30px;
        float: right;
        border: 9px solid lighten(@blueLight, 12%);
      }
    }
  }
  .city {
    position: relative;
    background-color: @blueSky;
    height: 250px;
    .montreal {
      position: absolute;
      background: url("../img/montreal.png") no-repeat scroll 0 0 transparent;
      height: 230px;
      margin-left: 155px;
      bottom: -55px;
      width: 827px;
      z-index: 99;
    }
    .water {
      background-color: @blueDark;
      height: 65px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .clouds {
    position: relative;
    padding-top: 25px;
    #one-cloud {
      width: 99px;
      height: 53px;
      position: absolute;
      right: 25px;
      background: url("../img/one-cloud.png") no-repeat transparent;
    }
    #two-clouds {
      width: 173px;
      height: 63px;
      position: absolute;
      background: url("../img/two-clouds.png") no-repeat transparent;
    }
  }
}

/* Sponsor slideshow
==================== */
ul#slider {
  display: block;
  width: 100%;
  height:120px; /* 260px - actual height */
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom:1px solid #0092b7;

  li {
    margin-left:-19px;
    display:none;
  }

  li.first {
    display:block;
  }

  a {
    display:block;
    float:left;

    .sp-logo {
      display:block;
      height:70px;
    }

    img {
      margin:0 0 10px 19px;
    }

    .level {
      display:block;
      margin:0 0 10px 19px;
      padding:5px 0 0 0;
      width:100px;
      text-align:center;
      background:url(../img/dotted_ln_b.png) repeat-x left top;
      text-transform:uppercase;
      color:#666;
      font-size:11px;
    }
  }
}

.scroll-title {
  margin-bottom: 5px;
}

.carousel-inner div.item {
  width: 100%;
  border-bottom: 1px solid #0092b7;
  padding-bottom: 40px;
  height: 250px;
  background: #f2ebdf url(../img/bg.png) repeat 0 0;
}

.sponsor-scroll-item {
  cursor: pointer;
  float:left;
  width:133px;
  height: 95px;
  background: none center center no-repeat;
  background-size: 95px auto;
}

.carousel {

  .item {
    .transition(.7s ease-in-out opacity);
    left: 0 !important;
  }

  .next.left, .prev.right {
    opacity: 1;
    z-index: 1;
  }

  .active.left, .active.right {
    opacity: 0;
    z-index: 2;
  }

}

/* Slideshow nav
==================== */
nav#slider-nav {
  float:left;
  height:19px;
  margin:13px 0 20px;

  a {
    text-indent:-9999px;
    display:block;
    float:left;
    width:9px;
    height:9px;
    margin-right:5px;
    background:#c9c6c6;
    border:1px solid #aeadad;
  }

  a:hover {
    background:#b8b6b6;
    border:1px solid #989797;
  }

  a.activeSlide {
    background:#57aac2;
    border:1px solid #4d98ad;
  }
}

.blog-post {
  h2 {
    font-size:@baseFontSize + 5;
    line-height: 26px;
  }

  .date {
    display:block;
    float:left;
    text-align:center;
    color:@white;
    font-size:@baseFontSize + 5;
    font-weight:bold;
    width:41px;
    height:41px;
    padding:5px;
    margin:0 10px 0 0;

    span {
      display:block;
      font-size:@baseFontSize - 2;
      font-weight:normal;
      font-style:italic;
      line-height:12px;
    }
  }

  .post_dateline {
    color:#98a1a3;
    text-transform:uppercase;
    font-size:@baseFontSize - 2;
    font-weight:bold;
  }

  .post-content {
    float:left;
    width:540px;
  }
}

.read-more {
  display:block;
  float:right;
  background:#009db1;
  text-transform:uppercase;
  color: @white;
  padding:5px 10px;
  font-size:@baseFontSize - 2;
  font-weight:bold;

  .arrow {
    display:inline-block;
    width:13px;
    height:14px;
    background:url(../img/arrow.png) no-repeat 0 0;
    margin:0 0 0 6px;
    vertical-align:bottom;
  }
}

.read-more:hover {
  background:darken(#009db1, 3%);
  color: @white;
}

/* Subpage
==================== */
.page-head {
  padding:0 0 10px;
  margin-bottom:20px;
  position: relative;
  border-bottom: 2px dotted @grayLighter;

  h1 {
    text-transform:uppercase;
    font-size: @baseFontSize + 18;

    span {
      font-size:@baseFontSize + 1;
      display:block;
      line-height:15px;
    }
  }

  a.read-more {
    position:absolute;
    top:10px;
    right:0;
  }
}

/* Sponsors
==================== */
.sponsor {
  border:1px solid #d2d2cb;
  .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
  .border-radius(4px);
  padding:1px;
  background:@white;
  position:relative;
  margin-bottom:20px;

  .sponsor-content {
    border:3px solid #f7f7f3;
    padding:15px;
    height:450px;
    overflow:auto;
  }

  h2 {
    text-align:center;
  }

  h5 {
    font-size:@baseFontSize + 3;
    line-height:30px;
  }

  .hiring {
    width:64px;
    height:38px;
    background:url(../img/stripe.png) no-repeat 0 0;
    position:absolute;
    top:20px;
    left:-7px;
    color: @white;
    line-height:32px;
    text-indent:10px;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.21);
    letter-spacing:0.08em;
    font-weight:bold;
    font-size:@baseFontSize - 1;
  }
}

.box {
  border:1px solid #d2d2cb;
  .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
  .border-radius(4px);
  padding:1px;
  background:@white;
  position:relative;
  margin-bottom:20px;

  .box-content {
    border:3px solid #f7f7f3;
    padding:15px;
    overflow:hidden;

    h1 {
      font-weight:normal;
      margin-bottom:10px;
    }
  }
}

/* Venue
==================== */
body.venue {

  p.intro {
    font-size:@baseFontSize + 1;
    margin:15px 0 25px 0;
    font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
    font-style:italic;
  }

  .map {
    iframe {
      border:1px solid #ddd;
    }

    a {
      font-size:@baseFontSize - 2;
    }
  }
}

.span45 {
  width: 340px;
}

.place {
  h5 {
    color: @white;
    float:left;
    font-weight:normal;
    font-style:italic;
    padding: 4px 15px;
    margin:-2px 0 15px -19px;
  }

  h4 {
    clear:both;
    margin-left:20px;
    margin-bottom:6px;
  }

  p {
    margin-left:20px;
  }
}

/* Speaker profile
==================== */
.avatar {
  float:left;
  margin:0 20px 0 0;
  border:1px solid #d2d2cb;
  padding:2px;
}

.speaker-details {
  float:left;
  width:430px;
}

.presentation {
  //border-left: 2px solid @yellow;
  padding-left:10px;
  margin-bottom:5px;
}

/* Auth pages
==================== */
body.auth {

  .form-horizontal {
    .help-block {
      color:@grayLight;
    }

    textarea {
      width:500px;
    }
  }

  .box {
    padding:0;
    border:0;
    .box-shadow(none);

    .box-content {
      padding: 40px 15px 15px;
      border: 1px solid #D5D5D5;
      .border-radius(5px);
      .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));

      h2 {
        font-size:@baseFontSize + 6;
        font-weight: 800;
        line-height: 20px;
        margin-bottom:20px;
      }

      .actions {

        .action {
          width: 22.50%;
          display: inline-block;
          padding: 12px 0;
          margin: 0 .9% 1em;
          vertical-align: top;
          text-decoration: none;
          background: #F3F3F3;
          border-radius: 5px;
          text-align:center;

            .widget-icon {
              margin-top: .25em;
              margin-bottom: .25em;
              font-size: 32px;
              color: #888;
            }

            .widget-label {
              display: block;
              font-weight: 400;
              color: #666;
            }
        }

        .action:hover {
          background: #E8E8E8;
        }
      }

    }

    .box-head + .box-content {
      border-top: none;
      padding-top: 20px;
      .border-radius(0 0 4px 4px);
    }
  }

  .box > .box-head {
    position: relative;
    height: 40px;
    line-height: 40px;
    #gradient > .vertical(#FAFAFA, #E9E9E9);
    border: 1px solid #D5D5D5;
    .border-radius(4px 4px 0 0);

    h2 {
      position: relative;
      top: 2px;
      left: 10px;
      display: inline-block;
      margin-right: 3em;
      font-size:@baseFontSize + 3;
      font-weight: 800;
      line-height: 18px;
      text-shadow: 1px 1px 2px rgba(255, 255, 255, .5);
    }
  }

  section.subsection {
    background:url(../img/dotted_ln_light.png) repeat-x left top;
    padding:15px 0;
    margin-top:10px;

    h4 {
      font-size:@baseFontSize + 1;
      margin-bottom:10px;
    }
  }
}

/* Boxes
==================== */
.content-box.editable {
    border: 1px dashed #bbb;
    padding: 5px;
    min-height: 30px;
}
.edit-toggle {
    position: relative;
    float: right;
}

section.widget {
  padding:0 0 10px 0;
  margin-bottom:20px;
  background: url(../img/dotted_ln_b.png) repeat-x left bottom;

  &.last {
    background:none;
  }

  h4 {
    font-weight:uppercase;
    margin-bottom:10px;
    font-size:16px;
  }
}

/*  Retina media query.
  Overrides styles for devices with a
  device-pixel-ratio of 2+, such as iPhone 4.
=========================================== */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {

  h3.logo a {
    width: 213px;
    height: 63px;
    background-image: url(../img/pycon2014-logo_sub@2x.png);
    background-size: 213px 63px;
  }

  body.home .logo {
    background-image: url(../img/pycon2014-logo@2x.png);
    background-size: 522px 105px;
  }
  .montreal {
    background: url("../img/montreal@2x.png") no-repeat scroll 0 0 transparent;
    height: 230px;
    width: 827px;
  }
}

/* Reviews
==================== */
.nav {
    margin-bottom: 0px;
}

div.tab-content {
    background: @white;
    padding: 20px 30px;
    border: 1px solid #ddd;
    border-top: none;
    .border-radius(0 0 4px 4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");
}

dd {
    margin-bottom: 1.5em;
}

div.review-box {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    width: 500px;
    .border-radius(4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");

    div.vote {
        margin-top:10px;
        width: 50px;
    }
    div.vote span {
        font-size: 18pt;
        font-weight: 600;
        text-shadow: 1px 1px 2px rgba(255,255,255,.5);
    }

    div.review-content {
        margin-left: 60px;
    }
}

div.comment-box {
    padding: 10px;
    background: #fafafa;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    width: 500px;
    .border-radius(4px);
    .box-shadow(~"0 1px 1px rgba(0,0,0,0.1)");
}

.dashboard-panel {
    position: relative;
    clear: both;
    width: auto;
    margin-bottom: 2em;
    overflow: hidden;

    .dashboard-panel-header {


        position: relative;
        height: 40px;
        line-height: 40px;
        #gradient > .vertical(#FAFAFA, #E9E9E9);
        border: 1px solid #D5D5D5;
        .border-radius(4px 4px 0 0);
        -webkit-background-clip: padding-box;

        .header-actions {
            padding-right: 10px;
        }

        h3 {
            position: relative;
            top: 2px;
            left: 10px;
            display: inline-block;
            margin-right: 3em;
            font-size: 14px;
            font-weight: 600;
            color: @grayDark;
            line-height: 18px;
            text-shadow: 1px 1px 2px rgba(255,255,255,.5);
        }

        > [class^="icon-"], > [class*=" icon-"] {
            display: inline-block;
            margin-left: 13px;
            margin-right: -2px;
            font-size: 16px;
            color: @grayDark;
            vertical-align: middle;
        }
    }

    .dashboard-panel-content {
        padding: 40px 15px 15px;
        border: 1px solid #D5D5D5;
        .border-radius(5px);
        .box-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
        background-color: @white;

        h3 {
            font-size:@baseFontSize + 6;
            font-weight: 800;
            line-height: 20px;
            margin-bottom:20px;
        }

        .actions {
            .action {
                width: 22.50%;
                display: inline-block;
                padding: 12px 0;
                margin: 0 .9% 1em;
                vertical-align: top;
                text-decoration: none;
                background: #F3F3F3;
                border-radius: 5px;
                text-align:center;

                .widget-icon {
                    margin-top: .25em;
                    margin-bottom: .25em;
                    font-size: 32px;
                    color: #888;
                }

                .widget-label {
                    display: block;
                    font-weight: 400;
                    color: #666;
                }
            }

            .action:hover {
                background: #E8E8E8;
            }
        }
    }

    .dashboard-panel-header + .dashboard-panel-content {
        border-top: none;
        padding-top: 20px;
        .border-radius(0 0 4px 4px);
    }
}

/* Job fair
==================== */
.job-post {
  border:1px solid #d2d2cb;
  .box-shadow(0 2px 2px rgba(0, 0, 0, 0.15));
  .border-radius(4px);
  padding:1px;
  background:@white;
  position:relative;
  margin-bottom:20px;

  .post-content {
    border:3px solid #f7f7f3;
    padding:15px;
    overflow:auto;
  }

  h5 {
    font-size:@baseFontSize + 3;
    line-height:30px;
  }
}

table.calendar {
  background-color: lighten(#f2ebdf, 7%);
  table-layout: fixed;
  font-size: 12px;

  tr {
    min-height: 36px;
  }

  th {
    text-align: center;

    &.time {
      width: 40px;
    }
  }

  td {
    text-align: center;
    vertical-align: middle;

    &.time {
      vertical-align: top;
      padding-top: 0;
      margin-top: 0;
      color: #444;
      font-size: 11px;
    }

    &.slot {
      font-weight: bold;
      background-color: lighten(#FDFFD9, 2%);
      text-shadow: @white 0px 1px 0px;

      &.slot-Breakfast, &.slot-Break, &.slot-Lunch { background-color: #ECFFFF; }
      &.slot-plenary, &.slot-lightning { background-color: lighten(#DCDCFF, 3%); }
      p {
        padding: 0;
        margin: 0;
      }
    }

    span.title {
      font-weight: bold;
      display: block;
    }
    span.speaker {
      font-weight: normal;
      display:block;
    }
  }
}
