@blueSky: #a6dde6;
@greenHill: #325959;
@greenForest: #08302d;
@greenDark: #141b11;
@tanLight: #fffbf4;
@tanCity: #fff5ea;
@gold: #bba06f;
@red: #e12228;
@maroon: #a41e22;


@blueEXLight:   #97e7ff;
@blueLight:     #33c5f4;
@blueDark:      #27A9E1;
@blueEXDark:    #0099cc;

@greenLight:    #76c34d;
@yellowBeak:    #f6b34a;
@yellowEXLight: #faed23;
@yellowLight:   #ffcb04;
@yellowDark:    #FBAF17;
@grayDark:      #333333;
@orangeLight:   #F68A1E;
@pinkEXLight:   #ff3399;
@pinkLight:     #ed1967;
@pinkDark:      #990066;

@danger:        #cd0000;

@button-text:           @white;
@button-hover:          @blueLight;
@button-active:         @blueLight;
@button-primary-hover:  #27A9E1;
@button-primary-active: #27A9E1;
@button-info-hover:     mix(@blueLight, white, 80%);
@button-info-active:    mix(@blueLight, black, 85%);
@button-success-hover:  #27A9E1;
@button-success-active: #27A9E1;
@button-danger-hover:   mix(@danger, white, 80%);
@button-danger-active:  mix(@danger, black, 85%);
@button-warning-hover:  overlay(@yellowBeak, darken(white, 37.5%));
@button-warning-active: mix(@yellowBeak, black, 85%);
@button-white-hover:  overlay(@blueDark, darken(white, 37.5%));
@button-white-active: mix(@blueDark, black, 85%);
