{% load sponsors_pro_tags %}
{% load thumbnail %}

{% sponsors as sponsors %}
{% regroup sponsors by level as level_list %}

<div class="sponsors-side">
    {% for level in level_list %}
        <div class="level {{ level.grouper|lower }}">
            <h6>{{ level.grouper }}</h6>
            {% for sponsor in level.list %}
            <a href="{{ sponsor.external_url }}">
                {% if forloop.parentloop.counter == 1 %}
                    {% thumbnail sponsor.website_logo "140" format="PNG" as logo %}
                        <img src="{{ logo.url }}" alt="{{ sponsor.name }}" />
                    {% endthumbnail %}
                {% endif %}
                {% if forloop.parentloop.counter == 2 %}
                    {% thumbnail sponsor.website_logo "115" format="PNG" as logo %}
                        <img src="{{ logo.url }}" alt="{{ sponsor.name }}" />
                    {% endthumbnail %}
                {% endif %}
                {% if forloop.parentloop.counter == 3 %}
                    {% thumbnail sponsor.website_logo "115" format="PNG" as logo %}
                        <img src="{{ logo.url }}" alt="{{ sponsor.name }}" />
                    {% endthumbnail %}
                {% endif %}
                {% if forloop.parentloop.counter >= 4 %}
                    {% thumbnail sponsor.website_logo "75" format="PNG" as logo %}
                        <img src="{{ logo.url }}" alt="{{ sponsor.name }}" />
                    {% endthumbnail %}
                {% endif %}
            </a>
            {% endfor %}
            
        </div>
    {% endfor %}
</div>