{% load sponsors_pro_tags %}

{% sponsors as sponsors %}
{% regroup sponsors by level as level_list %}

<div class="sponsors-side">
    {% for level in level_list %}
        <div class="level {{ level.grouper|lower }}">
            <h6>{{ level.grouper }}</h6>
            {% for sponsor in level.list %}
            <a href="{{ sponsor.external_url }}">
                {% if forloop.parentloop.counter == 1 %}
                    <img src="{{ sponsor.website_logo.url }}" width="140" />
                {% endif %}
                {% if forloop.parentloop.counter == 2 %}
                    <img src="{{ sponsor.website_logo.url }}" width="115" />
                {% endif %}
                {% if forloop.parentloop.counter == 3 %}
                    <img src="{{ sponsor.website_logo.url }}" width="115" />
                {% endif %}
                {% if forloop.parentloop.counter == 4 %}
                    <img src="{{ sponsor.website_logo.url }}" width="75" />
                {% endif %}
                {% if forloop.parentloop.counter == 5 %}
                    <img src="{{ sponsor.website_logo.url }}" width="75" />
                {% endif %}
            </a>
            {% endfor %}
            
        </div>
    {% endfor %}
</div>