<nav class="sidenav sponsor-sidenav">
    <ul>
        <li>
            <a href="#">Google</a>
        </li>
        <li>
            <a href="#">Nasuni</a>
        </li>
        <li>
            <a href="#">Microsoft</a>
        </li>
        <li>
            <a href="#">Walt Disney</a>
        </li>
        <li>
            <a href="#">Gondor</a>
        </li>
        <li>
            <a href="#">CoxMedia</a>
        </li>
        <li>
            <a href="#">Google</a>
        </li>
        <li>
            <a href="#">Nasuni</a>
        </li>
        <li>
            <a href="#">Microsoft</a>
        </li>
        <li>
            <a href="#">Walt Disney</a>
        </li>
        <li>
            <a href="#">Gondor</a>
        </li>
        <li>
            <a href="#">CoxMedia</a>
        </li>
        <li>
            <a href="#">Google</a>
        </li>
        <li>
            <a href="#">Nasuni</a>
        </li>
        <li>
            <a href="#">Microsoft</a>
        </li>
        <li>
            <a href="#">Walt Disney</a>
        </li>
        <li>
            <a href="#">Gondor</a>
        </li>
        <li>
            <a href="#">CoxMedia</a>
        </li>
    </ul>
</nav>