{% extends "sponsors/base.html" %}

{% load sponsors_pro_tags %}

{% block body %}
    <div class="span-20 spacer main-content">
        <h1 class="section-title">{% block subpage_title %}About PyCon <span>Sponsors</span>{% endblock %}</h1>
        <div class="sponsor-list">
            {% sponsors as sponsors %}
            {% regroup sponsors by level as level_list %}
            {% for level in level_list %}
                <h5 class="sponsor-level">{{ level.grouper }}</h5>

            {% for sponsor in level.list %}
            <div class="sponsor-details">
                <div class="col-1">
                    <a href="#">
                        <img src="http://cl071.o1.gondor.io/2012/site_media/media/cache/23/9b/239bc07c43ef2c821e617bb8cf6cf796.png" alt="" />
                    </a>
                </div>
                <div class="col-2">
                    <h2>{{ sponsor.name }}</h2>
                    <p class="site-link"><a href="{{ sponsor.external_url }}">{{ sponsor.external_url }}</a></p>
                    <p>
                        {{ sponsor.annotation }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="span-4 last">
        {% include "sponsors/_subnav.html" %}
    </div>
{% endblock %}