{% extends "sponsors/base.html" %}

{% load boxes_tags %}

{% block body %}
<div class="span-8">
    <h1 class="section-title">Pycon <span>Sponsors</span></h1>
</div>
<div class="span-16 last">
    <h3>PyCon relies on corporate sponsors to make PyCon happen every year.</h3>

    <p>PyCon 2011 will bring together an estimated 1500 Python developers and
    enthusiasts from a variety of backgrounds. Your sponsorship helps keep PyCon
    affordable and accessible to the widest possible audience - and helps you connect
    to the Python community. </p>

    <p><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">
    A wide variety of sponsorships</a> are available to match your goals and your budget.
    Don't see what you want? Contact us, we are flexible and willing to work with you.</p>

    <p>With your help PyCon 2011 will be the best yet!</p>

    <div class="section" id="available-options-include">
      <h2><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Available sponsorships include:</a></h2>

      <ul class="simple">
        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Diamond level sponsorships (limited)</a></li>

        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Platinum level sponsorships (limited)</a></li>


        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Gold level sponsorships</a></li>


        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Silver level sponsorships</a></li>


        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Sprint sponsorships</a></li>


        <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Media sponsorships</a></li>

       <li><a title="Sponsorship Prospectus - Click me!" href="/2011/sponsors/prospectus">Lanyard sponsorship</a></li>

      </ul>
    </div>

    {% if user.is_authenticated %}
        {% if user.sponsorship %}
            <p>Your sponsorship application is being processed.</p>
        {% else %}
            <p>{% box "sponsorship-info" %}</p>

            <p>To sponsor PyCon 2011:</p>

            <ol class="steps">
                <li class="done">sign up and log in</li>
                <li class="next"><a href="{% url sponsor_apply %}">apply to be a sponsor</a></li>
                <li>await application processing</li>
            </ol>

        {% endif %}
    {% else %}
        <p>{% box "sponsorship-info" %}</p>

        <p>To sponsor PyCon 2011:</p>

        <ol class="steps">
            <li class="next"><a href="{% url acct_signup %}?next={{ request.path }}">sign up</a> and <a href="{% url acct_login %}?next={{ request.path }}">log in</a></li>
            <li>apply to be a sponsor</li>
            <li>await application processing</li>
        </ol>
    {% endif %}

</div>
{% endblock %}
