{% extends "sponsors/base.html" %}

{% load boxes_tags %}
{% load sponsors_pro_tags %}
{% load markitup_tags %}
{% load thumbnail %}

{% block body_class %}jobs{% endblock %}

{% block body %}
    {% sponsors jobs as sponsors %}
    <div class="span-20 spacer main-content">
        <h1 class="section-title">{% block subpage_title %}PyCon <span>Jobs Fair</span>{% endblock %}</h1>
        {% box "sponsors_jobspage" %}
        <div class="sponsor-list">
            {% regroup sponsors by level as level_list %}
            {% for level in level_list %}
                <h5 class="sponsor-level">{{ level.grouper }}</h5>
                {% for sponsor in level.list %}
                {% if sponsor.joblisting_text %}
                    {% thumbnail sponsor.website_logo "160x80" format="PNG" as logo %}
                    <div class="sponsor-details">
                        <div class="col-1">
                            <a href="{{ sponsor.external_url }}">
                                <img src="{{ logo.url }}" alt="" />
                            </a>
                        </div>
                        <div class="col-2">
                            <h3>{{ sponsor.name }}<a name="sponsor-{{ sponsor.id }}">&nbsp;</a></h3>
                            <p class="site-link"><a href="{{ sponsor.external_url }}">{{ sponsor.external_url }}</a></p>
                            <p>
                                {{ sponsor.joblisting_text|render_markup|safe }}
                            </p>
                        </div>
                    </div>
                    {% endthumbnail %}
                {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="span-4 last">
        <p><a href="{% url sponsor_info %}" class="btn-sponsor"><span>Learn how to<br />become a <b>sponsor</b></span></a></p>
        <nav class="sidenav sponsor-sidenav">
            <ul>
                {% for sponsor in sponsors %}
                    {% if sponsor.joblisting_text %}
                        <li><a href="#sponsor-{{ sponsor.id }}">{{ sponsor.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}