{% load sitetree %}

<div class="nav-container">
    <a href="#!" tabindex="0" id="nav-toggle" class="nav-toggle" role="button">
        Menu
    </a>
    <nav id="nav" class="primary-site-nav">
        <ul class="nav-primary-list">
            {% for item in sitetree_items %}
                <li class="{% if item.has_children %}has-dropdown{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
                    <a href="#!" class="nav-primary-link" role="button">{{ item.title_resolved }}</a>
                    {% if item.has_children %}
                        {% sitetree_children of item for menu template "sitetree/menu_bootstrap_dropdown.html" %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>
