{% load compress %}
{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
      {% if config.REGISTRATION_STATUS != 'soon' and config.REGISTRATION_URL %}
        {% trans "Redirecting to CTE..." %}
      {% elif config.REGISTRATION_STATUS == 'closed' and not config.REGISTRATION_URL%}
        {% trans "Registration is closed" %}
      {% else %}
        {% trans "Registration not ready" %}
      {% endif %}
    </title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</head>
<body class="registration">
{% if config.REGISTRATION_STATUS != 'soon' and config.REGISTRATION_URL %}
    <form action="{{ config.REGISTRATION_URL }}" method="POST" accept-charset="utf-8">
        {% csrf_token %}
        <input type="hidden" name="pycon_id" value="{{ request.user.id }}" />
        <input type="hidden" name="token" value="{{ token }}" />
        <input type="hidden" name="email" value="{{ request.user.email }}" />
        <p>{% trans "Please wait while we redirect you to registration." %}</p>
    </form>
    <script type="text/javascript" charset="utf-8">
        $(function(){
            $("form").submit();
        });
    </script>
{% elif config.REGISTRATION_STATUS == 'closed' and not config.REGISTRATION_URL%}
  <p>{% trans "Registration is closed." %}</p>
{% else %}
  <p>{% trans "Registration is not yet ready, please come back later." %}</p>
{% endif %}
</body>
</html>
