{% extends "site_base.html" %}

{% load sitetree %}
{% load i18n %}

{% block head_title %}{% trans "Registration and Housing" %}{% endblock %}
{% block body_class %}registration{% endblock %}

{% block extra_head %}
<script language="javascript">
  function sizeandscroll(o) {
    scroll(0,0);
    o.style.height=o.contentWindow.document.body.scrollHeight+"px";
  };
</script>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="box">
            {# height of tallest registration page is currently 1255 #}
            {# the iframe should be bigger than that to avoid internal scrollbars #}
            <iframe src="{% url 'registration_login' %}" width="100%" height="1900" frameBorder="0" onload="sizeandscroll(this)"></iframe>
        </div>
    </div>
    <div class="row">
        <p align="center">Need Assistance? Contact us at <a href="mailto:pycon-reg@python.org">pycon-reg@python.org</a></p>
    </div>
{% endblock %}

