{% extends "proposals/base.html" %}

{% load markitup_tags %}
{% load uni_form_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
    <style>
        .uniForm .formHint {
            width: 99%;
            line-height: 12pt;
            margin-top: 8px;
        }
        #div_id_extreme label {
            display: inline;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Edit: {{ proposal.title }}</h1>
    
    <p><a href="{% url proposal_speaker_manage proposal.pk %}">Manage speakers</a></p>
    
    {% markitup_media %}
    <form method="POST" action="" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" value="save" />
            </div>
        </fieldset>
    </form>
{% endblock %}
