{% extends "proposals/base.html" %}

{% load boxes_tags %}
{% load markitup_tags %}
{% load uni_form_tags %}

{% block extra_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/facebox.css" />
    <style>
        .uniForm select,
        .uniForm textarea
        {
            width: 99%;
        }
        .uniForm input[type=text]
        {
            width: 95%;
        }
        .uniForm .formHint {
            width: 99%;
            line-height: 12pt;
            margin-top: 8px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/proposals.css" />
{% endblock %}


{% block content %}
    <h1>Submit A Proposal</h1>
    
    {% box "example_proposal" %}
    
    {% markitup_media %}
    <form method="POST" action="" enctype="multipart/form-data" class="uniForm">
        {% csrf_token %}
        <fieldset>
            {{ form|as_uni_form }}
            <div class="form_block">
                <input type="submit" name="finish" value="submit and finish" />
                <span style="float: right; padding: 4px 6px">or</span>
                <input type="submit" name="add-speakers" value="submit and add additional speakers" />
            </div>
        </fieldset>
    </form>
{% endblock %}
