{% extends "site_base.html" %}

{% load i18n %}
{% load tz %}

{% block head_title %}{{ post.title }}{% endblock %}

{% block body_class %}blog{% endblock %}

{% block body %}
    {% localtime off %}

    <p><a href="{% url 'blog' %}">{{ SITE_NAME }} in Cleveland, OH, USA</a> &raquo;</p>

    <div class="row">
        <div class="span7">
            <h1>{{ post.title }}</h1>

            <div class="newsdate">
              <p>
                {% if post.published %}{{ post.published|date:"Y F d" }}{% else %}{% trans "Not published yet" %}{% endif %}
                <br>
                by {{ post.author.get_full_name }}
              </p>
            </div>

            <div class="blog-teaser">{{ post.teaser_html|safe }}</div>
            <div class="blog-content">{{ post.content_html|safe }}</div>
        </div>
    </div>
    {% endlocaltime %}
{% endblock %}
