<table>
    <tr>
        <th>&nbsp;</th>
        {% for track in day.tracks %}
            <th>{{ track.name }}</th>
        {% endfor %}
    </tr>
    {% for row in day %}
        <tr>
            <td class="time">{{ row.time|date:"h:iA" }}</td>
            {% for slot in row.slots %}
                <td colspan="{{ row.colspan }}" rowspan="{{ slot.rowspan }}" class="slot {{ slot.kind.name }} rowspan-{{ slot.rowspan }} colspan-{{ row.colspan }}">
                    {% if not slot.content %}
                        <span class="controls"><a href="{% url schedule_slot_add slot.pk "plenary" %}" title="add plenary">pl</a> | <a href="{% url schedule_slot_add slot.pk "break" %}" title="add break">br</a> | <a href="{% url schedule_slot_add slot.pk "presentation" %}" title="add presentation">pr</a></span>
                    {% else %}
                        @@@ CONTENT
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
