<table>
    <tr>
        <th>&nbsp;</th>
        {% for track in day.tracks %}
            <th>{{ track.name }}</th>
        {% endfor %}
    </tr>
    {% for row in day %}
        <tr>
            <td class="time">{{ row.time|date:"h:iA" }}</td>
            {% for slot in row.slots %}
                <td colspan="{{ row.colspan }}" rowspan="{{ slot.rowspan }}" class="slot {{ slot.kind.name }} rowspan-{{ slot.rowspan }} colspan-{{ row.colspan }}">
                    {% if slot.kind.name == "recess" %}
                        <div class="title">{{ slot.content.title }}</div>
                    {% else %}
                        {% if slot.kind.name == "plenary" %}
                            <div class="title">{{ slot.content.title }}</div>
                            {% if slot.content.speaker %}
                                <div class="speaker">{{ slot.content.speaker }}</div>
                            {% endif %}
                        {% else %}
                            <div class="badges">
                                {% if slot.content.extreme_pycon %}
                                    <div class="badge extreme">E</div>
                                {% endif %}
                                {% if slot.content.invited %}
                                    <div class="badge invited">I</div>
                                {% endif %}
                            </div>
                            <div class="title"><a href="{% url schedule_presentation slot.content.pk %}">{{ slot.content.title }}</a></div>
                            {% if slot.content.speaker %}
                                <div class="speaker">{{ slot.content.speaker }}</div>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>
