<nav class="sidenav schedule-sidenav">
    <ul>
        <li>
            <a href="{% url schedule_conference %}" id="l-schedule">Conference Schedule</a>
        </li>
        <li>
            <a href="/2012/community/openspaces/" id="l-spaces">Open Spaces</a>
        </li>
        <li>
            <a href="/2012/5k/" id="l-5k">Pycon 5K</a>
        </li>
        <li>
            <a href="/2012/community/sprints/" id="l-sprints">Sprints</a>
        </li>
        <li>
            <a href="{% url schedule_tutorials %}" id="l-tutorials">Tutorials</a>
        </li>
        {% comment %}
	        <li>
	            <a href="/2012/schedule/acceptedposters/" id="l-posters">Accepted Posters</a>
	        </li>
	        <li>
	            <a href="/2012/schedule/keynotes/" id="l-speakers">Keynote Speakers</a>
	        </li>
	        <li>
	            <a href="/2012/community/languagesummit/" id="l-langsummit">Language Summit</a>
	        </li>
	        <li>
	            <a href="/2012/community/webdevsummit/" id="l-webdevsummit">WebDev Summit</a>
	        </li>
        {% endcomment %}
    </ul>
</nav>