{% extends "schedule/base.html" %}

{% load boxes_tags %}

{% block extra_head %}
    <style>
        .session {
            margin-top: 10px;
        }
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Accepted Posters</h1>
    
    <div>
        {% box "posters-intro" %}
    </div>
    
    {% for poster in posters %}
        <div class="session">
            <div class="title">
                <a href="{% url schedule_presentation poster.pk %}">{{ poster.title }}</a>
            </div>
            <div class="metadata">
                {{ poster.get_audience_level_display }}
                {{ poster.get_session_type_display }}
                by
                {{ poster.speaker }}
                {% if poster.additional_speakers.all %}
                    with
                    {{ poster.additional_speakers.all|join:", " }}
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No accepted posters yet.</p>
    {% endfor %}
    
{% endblock %}