{% extends "schedule/base.html" %}

{% block extra_head %}
    <style>
        .session {
            margin-top: 10px;
        }
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Accepted Tutorials</h1>
    
    {# @@@ this is currently based on proposal object data but needs to be changed to a schedule.Session #}
    {% for tutorial in tutorials %}
        <div class="session">
            <div class="title">
                {{ tutorial.proposal.title }}
            </div>
            <div class="metadata">
                {{ tutorial.proposal.get_audience_level_display }}
                {{ tutorial.proposal.get_session_type_display }}
                by
                {{ tutorial.proposal.speaker }}
                {% if tutorial.proposal.additional_speakers.all %}
                    with
                    {{ tutorial.proposal.additional_speakers.all|join:", " }}
                {% endif %}
            </div>
        </div>
    {% empty %}
        <p>No accepted tutorials yet.</p>
    {% endfor %}
    
{% endblock %}