{% extends "schedule/base.html" %}

{% load timezone_filters %}

{% block subnav %}
    <a href="{% url schedule_list_talks %}">List of Accepted Talks and Panels</a>
    |
    <a href="{% url schedule_tutorials %}">Tutorial Schedule</a>
{% endblock %}

{% block body %}
    <h1>{{ presentation.title }}</h1>
    
    <div class="presentation_types">{{ presentation.get_audience_level_display }} / {{ presentation.get_presentation_type_display }}</div>
    
    <div class="speakers">
        {% for speaker in presentation.speakers %}
        <a href="{% url speaker_profile speaker.id %}">{{ speaker }}</a>
        {% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    
    {% if presentation.slot %}
        <div class="slot">{{ presentation.slot.start|localtime:timezone|date:"F jS" }} {{ presentation.slot.start|localtime:timezone|date:"P" }} &ndash; {{ presentation.slot.end|localtime:timezone|date:"P" }}</div>
    {% endif %}
    
    <div class="description">{{ presentation.description }}</div>
    
    <h3>Abstract</h3>
    
    <div class="abstract">{{ presentation.abstract_html|safe }}</div>
{% endblock %}