{% extends "schedule/base.html" %}

{% load timezone_filters %}

{% block head_title %}Presentation: {{ presentation.title }}{% endblock %}

{% block extra_head %}
    <style>
        a.unbookmark {
            text-decoration: none;
            padding-left: 20px;
            background: url(/2011/site_media/static/img/star.png) no-repeat left;
        }
        a.bookmark {
            text-decoration: none;
            padding-left: 20px;
            background: url(/2011/site_media/static/img/star_unselected.png) no-repeat left;
        }
        div.slot {
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    
    <h1>{{ presentation.title }}</h1>

    <div class="badges">
        {% if presentation.extreme %}
            <div class="badge extreme">E</div>
        {% endif %}
    </div>

    {% if presentation.cancelled %}
        <p class="cancelled">Cancelled</p>
    {% endif %}

    <div class="speakers">
        {% for speaker in presentation.speakers %}
            <a href="{% url speaker_profile speaker.id %}">{{ speaker }}</a>
        {% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    
    <div class="badges">
        {% if presentation.extreme_pycon %}
            <div class="badge extreme">E</div>
        {% endif %}
        <div class="clear"></div>
    </div>

    <dl class="inline mod">
        <dt>Type:</dt>
        <dd>{{ presentation.kind.name }}</dd>

        <dt>Audience level:</dt>
        <dd>{{ presentation.get_audience_level_display }}</dd>

        <dt>Category:</dt>
        <dd>{{ presentation.category.name }}</dd>
    </dl>
    
    {% if presentation.slot %}
        <div class="slot">{{ presentation.slot.start|localtime:timezone|date:"F jS" }} {{ presentation.slot.start|localtime:timezone|date:"P" }} &ndash; {{ presentation.slot.end|localtime:timezone|date:"P" }}</div>
    {% endif %}

    <hr />

    <h3>Description</h3>

    <div class="description">{{ presentation.description }}</div>
    
    <hr />

    <h3>Abstract</h3>
    
    <div class="abstract">{{ presentation.abstract|safe }}</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.bookmark").live("click", function() {
                aElem = $(this);
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=add;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function() {
                        aElem.text("unbookmark");
                        aElem.removeClass("bookmark");
                        aElem.addClass("unbookmark");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
            $("a.unbookmark").live("click", function() {
                aElem = $(this);
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=delete;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function(response) {
                        aElem.text("bookmark");
                        aElem.removeClass("unbookmark");
                        aElem.addClass("bookmark");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}