{% extends "schedule/base.html" %}

{% load timezone_filters %}

{% block subnav %}
    <a href="{% url schedule_tutorials %}">Tutorial Schedule</a>
    |
    <a href="{% url schedule_conference %}">Conference Schedule</a>
{% endblock %}

{% block body %}
    <h1>{{ presentation.title }}</h1>
    
    {% if user.is_authenticated %}
        {% if presentation.bookmarked %}
            <p><a href="{% url schedule_user_slot_manage presentation.id %}" class="unbookmark">unbookmark</a></p>
        {% else %}
            <p><a href="{% url schedule_user_slot_manage presentation.id %}" class="bookmark">bookmark</a></p>
        {% endif %}
    {% else %}
        <p><a href="{% url acct_login %}?next={{ request.path }}">log in</a> to bookmark this presentaton</p>
    {% endif %}
    
    <div class="badges">
        {% if presentation.extreme_pycon %}
            <div class="badge extreme">E</div>
        {% endif %}
        {% if presentation.invited %}
            <div class="badge invited">I</div>
        {% endif %}
        <div class="clear"></div>
    </div>
    
    <div class="presentation_types">{{ presentation.get_audience_level_display }} / {{ presentation.get_presentation_type_display }}</div>
    
    <div class="speakers">
        {% for speaker in presentation.speakers %}
        <a href="{% url speaker_profile speaker.id %}">{{ speaker }}</a>
        {% if not forloop.last %}, {% endif %}{% endfor %}
    </div>
    
    {% if presentation.slot %}
        <div class="slot">{{ presentation.slot.start|localtime:timezone|date:"F jS" }} {{ presentation.slot.start|localtime:timezone|date:"P" }} &ndash; {{ presentation.slot.end|localtime:timezone|date:"P" }}</div>
    {% endif %}
    
    <div class="description">{{ presentation.description }}</div>
    
    <h3>Abstract</h3>
    
    <div class="abstract">{{ presentation.abstract_html|safe }}</div>
{% endblock %}

{% block extra_body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.bookmark").live("click", function() {
                aElem = $(this);
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=add;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function() {
                        aElem.text("unbookmark");
                        aElem.removeClass("bookmark");
                        aElem.addClass("unbookmark");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
            $("a.unbookmark").live("click", function() {
                aElem = $(this);
                $.ajax({
                    type: "POST",
                    url: this.href,
                    data: "action=delete;csrfmiddlewaretoken={{ csrf_token }}",
                    success: function(response) {
                        aElem.text("bookmark");
                        aElem.removeClass("unbookmark");
                        aElem.addClass("bookmark");
                    },
                    error: function(xhr, options, error) {
                        alert(xhr.status);
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}