{% extends "schedule/base.html" %}

{% block body %}
    <h1>Sessions</h1>
    
    <ul>
        {% for session in sessions %}
            {% if session.sorted_slots %}
            <li>
                <a href="{% url schedule_session_detail session.pk %}">[{{ session.track }}] {{ session }}</a>
                ({% for role in session.sessionrole_set.all %}{{ role.get_role_display }}: {{ role.user }}{% if not forloop.last %}; {% endif %}{% endfor %})
            </li>
            {% endif %}
        {% empty %}
            <li>No sessions defined.</li>
        {% endfor %}
    </ul>
    
{% endblock %}