{% extends "schedule/base.html" %}

{% block body %}
    
    <p><a href="{% url schedule_track_detail session.track.pk %}">{{ session.track }}</a> &raquo;</p>
    
    <h1>{{ session }}</h1>
    
    <div>
    {% if chair %}
        Chair: {{ chair }}
    {% else %}
        {% if user.is_authenticated %}
            {% if not chair_denied %}
                volunteer to be session chair
            {% endif %}
        {% else %}
            Sign up and <a href="{% url acct_login %}?next={{ request.path }}">log in</a> to volunteer to be session chair.
        {% endif %}
    {% endif %}
    </div>
    
    <div>
    {% if runner %}
        Runner: {{ runner }}
    {% else %}
        {% if user.is_authenticated %}
            {% if not runner_denied %}
                volunteer to be session runner
            {% endif %}
        {% else %}
            Sign up and <a href="{% url acct_login %}?next={{ request.path }}">log in</a> to volunteer to be session runner.
        {% endif %}
    {% endif %}
    </div>
    
    <h2>Slots</h2>
    
    <ul>
        {% for slot in session.slots.all %}
            <li>{{ slot }}: {% if slot.content %}<a href="{% url schedule_presentation slot.content.pk %}">{{ slot.content }}</a>{% endif %}</li>
        {% empty %}
            <li>No slots in session.</li>
        {% endfor %}
    </ul>
    
{% endblock %}