{% extends "schedule/base.html" %}

{% block body %}
    
    <h1><a href="{% url schedule_track_detail session.track.pk %}">{{ session.track }}</a> {{ session }}</h1>
    
    <h2>Slots</h2>
    
    <ul>
        {% for slot in session.slots.all %}
            <li>{{ slot }}: {% if slot.content %}<a href="{% url schedule_presentation slot.content.pk %}">{{ slot.content }}</a>{% endif %}</li>
        {% empty %}
            <li>No slots in session.</li>
        {% endfor %}
    </ul>
    
{% endblock %}