{% extends "schedule/base.html" %}

{% block body %}
    
    <p><a href="{% url schedule_track_list %}">Tracks</a> &raquo;</p>
    
    <h1>Track: {{ track }}</h1>
    
    <h2>Sessions</h2>
    
    <ul>
        {% for session in track.sessions.all %}
            {% if session.sorted_slots %}
                <li>
                    <a href="{% url schedule_session_detail session.pk %}">[{{ session.track }}] {{ session }}</a>
                    <ul>
                        {% for role in session.sessionrole_set.all %}
                            <li><b>{{ role.get_role_display }}: {{ role.user }}</b></li>
                        {% empty %}
                            <li><b>No volunteers signed up</b></li>
                        {% endfor %}
                        {% for slot in session.sorted_slots %}
                            <li>{{ slot }}: {% if slot.content %}<a href="{% url schedule_presentation slot.content.pk %}">{{ slot.content }}</a>{% endif %}</li>
                        {% empty %}
                            <li>No slots in session.</li>
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% empty %}
            <li>No sessions in track.</li>
        {% endfor %}
    </ul>
    
{% endblock %}