{% extends "schedule/base.html" %}

{% block extra_head %}
    <style>
        .session {
            margin-top: 10px;
        }
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block subnav %}
    <a href="{% url schedule_list_talks %}">List of Accepted Talks and Panels</a>
{% endblock %}

{% block body %}
    <h1>Tutorial Schedule</h1>
    
    <h2>Wednesday, March 9th</h2>
    
    <h3>Morning ({{ tutorials.wed.morning.slot.start|time }} &ndash; {{ tutorials.wed.morning.slot.end|time }})</h3>
    
    {% for session in tutorials.wed.morning.sessions %}
        {% include "schedule/_session.html" %}
    {% endfor %}
    
    <h3>Afternoon ({{ tutorials.wed.afternoon.slot.start|time }} &ndash; {{ tutorials.wed.afternoon.slot.end|time }})</h3>
    
    {% for session in tutorials.wed.afternoon.sessions %}
        {% include "schedule/_session.html" %}
    {% endfor %}
    
    <h2>Thursday, March 10th</h2>
    
    <h3>Morning ({{ tutorials.thurs.morning.slot.start|time }} &ndash; {{ tutorials.thurs.morning.slot.end|time }})</h3>
    
    {% for session in tutorials.thurs.morning.sessions %}
        {% include "schedule/_session.html" %}
    {% endfor %}
    
    <h3>Afternoon ({{ tutorials.thurs.afternoon.slot.start|time }} &ndash; {{ tutorials.thurs.afternoon.slot.end|time }})</h3>
    
    {% for session in tutorials.thurs.afternoon.sessions %}
        {% include "schedule/_session.html" %}
    {% endfor %}
    
    
{% endblock %}