{% extends "schedule/base.html" %}

{% block extra_head %}
    <style>
        .presentation {
            margin-top: 10px;
        }
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="span-8"></div>
    <div class="span-16 last spacer">
        <div class="page">
            <h1 class="shift">Schedule <span>Tutorials</span></h1>
            <h1>Wednesday, March 7th</h1>
            
            <h2>Morning ({{ tutorials.wed.morning.slot.0|time }} &ndash; {{ tutorials.wed.morning.slot.1|time }})</h2>
            
            {% for presentation in tutorials.wed.morning.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h2>Afternoon ({{ tutorials.wed.afternoon.slot.0|time }} &ndash; {{ tutorials.wed.afternoon.slot.1|time }})</h2>
            
            {% for presentation in tutorials.wed.afternoon.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h1>Thursday, March 8th</h1>
            
            <h2>Morning ({{ tutorials.thurs.morning.slot.0|time }} &ndash; {{ tutorials.thurs.morning.slot.1|time }})</h2>
            
            {% for presentation in tutorials.thurs.morning.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h2>Afternoon ({{ tutorials.thurs.afternoon.slot.0|time }} &ndash; {{ tutorials.thurs.afternoon.slot.1|time }})</h2>
            
            {% for presentation in tutorials.thurs.afternoon.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
        </div>
    </div>
</div>
    
{% endblock %}