{% extends "schedule/base.html" %}

{% load timezone_filters %}

{% block extra_head %}
    <style>
        .presentation {
            margin-top: 10px;
        }
        .title {
            font-size: 14pt;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body_class %}wiki{% endblock body_class %}

{% block body %}
    <div class="span-17">
        <h1 class="section-title">Schedule <span>Tutorials</span></h1>
        <div class="page">
            <h2>Wednesday, March 7th</h2>
            
            <h3>Morning ({{ tutorials.wed.morning.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.wed.morning.slot.1|localtime:timezone|time }})</h3>
            
            {% for presentation in tutorials.wed.morning.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h3>Afternoon ({{ tutorials.wed.afternoon.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.wed.afternoon.slot.1|localtime:timezone|time }})</h3>
            
            {% for presentation in tutorials.wed.afternoon.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h2>Thursday, March 8th</h2>
            
            <h3>Morning ({{ tutorials.thurs.morning.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.thurs.morning.slot.1|localtime:timezone|time }})</h3>
            
            {% for presentation in tutorials.thurs.morning.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
            
            <h3>Afternoon ({{ tutorials.thurs.afternoon.slot.0|localtime:timezone|time }} &ndash; {{ tutorials.thurs.afternoon.slot.1|localtime:timezone|time }})</h3>
            
            {% for presentation in tutorials.thurs.afternoon.presentations %}
                {% include "schedule/_presentation.html" %}
            {% endfor %}
        </div>
    </div>
    <div class="span-7 last">
        {% include "schedule/_subnav.html" %}
    </div>

{% endblock %}