{% extends "venue/base.html" %}

{% load boxes_tags %}
{% load i18n %}
{% load sitetree %}

{% block head_title %}{% trans "Venue Details" %}{% endblock %}

{% block page_title %}{% trans "Venue Details" %}{% endblock %}

{% block body %}
  <h1 class="text-center">
    Palais des congrès de Montréal <br />
    <small>Montreal Convention Center</small>
  </h1>

  <p class="text-center">
    201 Viger Ave West <br />
    Montréal, Québec, Canada <br />
    <a href="http://congresmtl.com">http://congresmtl.com</a>
  </p>

  <div class="map-container">
    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps/ms?msid=214917590088528861512.0004e3dadb02c2df86c48&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=45.506588,-73.560848&amp;spn=0.028873,0.054932&amp;z=14&amp;output=embed"></iframe>
  </div>

  <small>View <a href="https://maps.google.ca/maps/ms?msid=214917590088528861512.0004e3dadb02c2df86c48&amp;msa=0&amp;ie=UTF8&amp;t=m&amp;ll=45.506588,-73.560848&amp;spn=0.028873,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">{{ SITE_NAME }}</a> in a larger map</small>

  <div class="hotels">
    <h2><i class="icon icon-home"></i> {% trans "Hotels" %}</h2>

    <div class="row-fluid">
      <div class="place span4">{% box "hotel-1" %}</div>
      <div class="place span4">{% box "hotel-2" %}</div>
      <div class="place span4">{% box "hotel-3" %}</div>
    </div>

    <div class="row-fluid">
      <div class="place span4">{% box "hotel-4" %}</div>
      <div class="place span4">{% box "hotel-5" %}</div>
      <div class="place span4">{% box "hotel-6" %}</div>
    </div>
  </div>
{% endblock %}
