{% extends "venue/base.html" %}

{% load i18n %}
{% load sitetree %}

{% block head_title %}Venue Details{% endblock %}

{% block page_title %}Venue Details{% endblock %}

{% block body %}
    <p class="intro">All Tutorial and Conference events are being held at the Montr&#233;al Convention Center.</p>
    <div class="map">
        <iframe width="695" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;cid=1717205379190898583&amp;q=Montreal+Convention+Centre&amp;gl=US&amp;hl=en&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>

        <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=1717205379190898583&amp;q=Montreal+Convention+Centre&amp;gl=US&amp;hl=en&amp;t=m&amp;z=16&amp;iwloc=A&amp;source=embed" class="btn btn-primary">View Larger Map</a>
    </div>
    <div class="hotels">
        <h2>Hotels</h2>
        <a class="place" href="http://montreal.hyatt.com/en/hotel/home.html">
            <h3><i class="icon icon-home"></i> Hyatt Regency</h3>
            <p>1255 Jeanne-Mance<br/>
            Montréal (Québec)<br/>
            H5B 1E5 - Canada</p>
        </a>
    
        <a class="place" href="http://www.westinmontreal.com/">
            <h3><i class="icon icon-home"></i> Westin Hotels</h3>
            <p>270 St. Antoine West<br/>
            Montréal (Québec) <br/>
            H2Y 0A3 - Canada</p>
        </a>
    </div>
{% endblock %}
