{% extends "venue/base.html" %}

{% load i18n %}
{% load sitetree %}

{% block head_title %}{% trans "Venue Details" %}{% endblock %}

{% block page_title %}{% trans "Venue Details" %}{% endblock %}

{% block body %}
    <h1>Palais des congrès de Montréal</h1>
    <p>159 Rue Saint Antoine Ouest<br>
    Montreal, QC H2Z 1H2, Canada</p>
    {% comment %}
    {# Commenting this out for now, until we verify where the sprints are being held #}
    <p class="intro">All Tutorial and Conference events are being held here.</p>
    {% endcomment %}
    <div class="map-container">
        <iframe width="695" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?ie=UTF8&amp;cid=1717205379190898583&amp;q=Montreal+Convention+Centre&amp;gl=US&amp;hl=en&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe>

        <a href="https://maps.google.com/maps?ie=UTF8&amp;cid=1717205379190898583&amp;q=Montreal+Convention+Centre&amp;gl=US&amp;hl=en&amp;t=m6&amp;z=16&amp;iwloc=A&amp;source=embed" class="btn btn-primary">{% trans "View Larger Map" %}</a>
    </div>
    <div class="hotels">
        <h2>{% trans "Hotels" %}</h2>
        <div class="place">
            <h3><i class="icon icon-home"></i> Hyatt Regency</h3>
            <p>1255 Jeanne-Mance<br/>
            Montréal (Québec)<br/>
            H5B 1E5 - Canada</p>
            <a href="http://montreal.hyatt.com/en/hotel/home.html">Website</a>
        </div>
    
        <div class="place">
            <h3><i class="icon icon-home"></i> Westin Hotels</h3>
            <p>270 St. Antoine West<br/>
            Montréal (Québec) <br/>
            H2Y 0A3 - Canada</p>
            <a href="http://www.westinmontreal.com/">Website</a>
        </div>
    </div>
{% endblock %}
