{% extends "auth_base.html" %}

{% load bootstrap_tags %}
{% load boxes_tags %}
{% load i18n %}

{% block head_title %}{% blocktrans with name=kind.name %}Submit a proposal for our {{ name }}{% endblocktrans %}{% endblock %}

{% block body %}
    <div class="span12">
        {% box kind.slug|add:"-proposal" %}
        <form method="POST" action="" enctype="multipart/form-data" class="form-horizontal">
            {% csrf_token %}
            <legend><h1>
                {% blocktrans with name=kind.name %}{{ name }} proposal form{% endblocktrans %}
            </h1></legend>
            <fieldset>
                {{ form|as_bootstrap }}
                 <div class="form-actions">
                <p>
                    Saving your proposal will not immediately submit if for review!
                    You can safely save at any time and come back before submission.
                </p>
                <input class="btn" type="submit" name="add-speakers" value="{% trans "Save and Add Additional Speakers" %}" />
                <input class="btn" type="submit" name="finish" value="{% trans "Save" %}" />
            </div>
            </fieldset>
           
        </form>
    </div>
{% endblock %}
