{% load i18n %}
{% load compress %}

<table class="table table-bordered table-reviews">
    <thead>
        <th>#</th>
        <th>{% trans "Speaker" %}</th>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Category" %}</th>
        <th>{% trans "Tags" %}</th>
        {% if section_slug == "talks" %}
            <th>{% trans "Review Start" %}</th>
        {% endif %}
        <th><i class="icon-comment-alt"></i></th>
        {% if section_slug == "talks" %}
            <th>{% trans "Voting Start" %}</th>
        {% endif %}
        <th>+1</th>
        <th>+0</th>
        <th>-0</th>
        <th>-1</th>
        <th>{% trans "Online Result Status" %}</th>
        <th>{% trans "Overall Status" %}</th>
        {% if can_manage %}
            <th>{% trans "Update Overall Status" %}</th>
        {% endif %}
        {% if request.user.is_superuser %}
            <th>{% trans "Rejection Status" %}</th>
            <th>{% trans "Damage Score" %}</th>
        {% endif %}
    </thead>

    <tbody>
        {% for proposal in proposals %}
            <tr class="{{ proposal.user_vote_css }}">
                <td>{{ proposal.number }}</td>
                <td>
                    <a href="{% url 'review_detail' proposal.pk %}">
                        {{ proposal.speaker }}
                        <br />
                        &lt;{{ proposal.speaker.email }}&gt;
                    </a>
                </td>
                <td>{{ proposal.title }}</td>
                <td>{{ proposal.category }}</td>
                <td>{{ proposal.get_tags_display }}</td>
                {% if section_slug == "talks" %}
                    <td>{{ proposal.result.group.review_start|date:"M. j H:i T" }}</td>
                {% endif %}
                <td>{{ proposal.comment_count }}</td>
                {% if section_slug == "talks" %}
                    <td>{{ proposal.result.group.vote_start|date:"M. j H:i T" }}</td>
                {% endif %}
                <td>{{ proposal.plus_one }}</td>
                <td>{{ proposal.plus_zero }}</td>
                <td>{{ proposal.minus_zero }}</td>
                <td>{{ proposal.minus_one }}</td>
                <td>
                    {% with proposal.result.status as status %}
                        <div class="{{ status }}">
                            {% if status != "undecided" %}
                                <span>{{ status }}</span>
                            {% endif %}
                        </div>
                    {% endwith %}
                </td>
                <td>{{ proposal.get_overall_status_display }}</td>
                {% if can_manage %}
                    <td>
                        <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="pk" value="{{ proposal.pk }}" />
                                <select name="status" onChange="this.form.submit();">
                                    {% for k, v in status_options %}
                                    <option value="{{ k }}" {% if proposal.overall_status == k %}selected="selected"{% endif %}>
                                        {{ v }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </form>
                    </td>
                {% endif %}
                {% if request.user.is_superuser %}
                    <td>
                        {% with proposal.get_rejection_status_display as status %}
                            {% if status %}
                                {{ status }}
                            {% else %}
                                N/A
                            {% endif %}
                        {% endwith %}
                    </td>
                    <td>
                        {{ proposal.damage }}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<!-- To change the status of multiple proposals at the same time -->
<form action="" method="POST">
  {% csrf_token %}
  <button id="button" type="submit" class="btn btn-primary">
    <i class="icon-check"></i>
    Change status of selected rows to
  </button>

<!-- We use jQuery below to change the value of this input to the selected rows -->
  <input id="multiInput" type="hidden" name="pk" value="" />
  <select name="status">
    {% for k, v in status_options %}
      <option value="{{ k }}" {% if proposal.overall_status == k %}selected="selected"{% endif %}>
        {{ v }}
      </option>
    {% endfor %}
  </select>
</form>


{% compress js %}
<script src="{{ STATIC_URL }}datatables/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}datatables/js/jquery.dataTables-1.10.7.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}tabletools/js/TableTools.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}datatables/js/dataTables.bootstrap.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function() {
        $(".tip").tooltip();
        var cols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9{% if request.user.is_superuser %}, 11, 12{% endif %}];
        $("table.table-reviews").DataTable({
            "sDom": "<'row'<'span3'l><'span3'T><'span4'f>r>t<'row'<'span3'i><'span5'p>>",
            "sPaginationType": "bootstrap",
            "bStateSave": true,
            "oTableTools": {
                "aButtons": [
                    {
                        "sExtends": "copy",
                        "mColumns": cols
                    },
                    {
                        "sExtends": "csv",
                        "mColumns": cols,
                        "sFileName": "{{ section }} Review.csv"
                    },
                    {
                        "sExtends": "print",
                        "mColumns": cols
                    },
                ],
                "sSwfPath": "{{ STATIC_URL }}tabletools/swf/copy_csv_xls.swf"
            }
        });
    });
</script>

<script type="text/javascript">
$(document).ready(function() {
    var table = $("table.table-reviews").DataTable();

    // When a row is clicked it becomes selected
    $('table tbody').on( 'click', 'tr', function () {
        $(this).toggleClass('selected');
    } );

    // When the submit button is clicked all the selected rows are found and are sent as the value of multiInput
    $('#button').click( function () {
        var new_list=[];
        for (i=0; i<table.rows('.selected').data().length; i++){
          our_data = table.rows('.selected').data()[i][0];
          new_list.push(our_data);
        };
        $( "#multiInput" ).val( new_list );
    } );

} );
</script>

{% endcompress %}
