{% extends "reviews/base.html" %}
{% load compress %}

{% block body %}
    <h3>{{ section }}</h3>
    {% include "reviews/_review_table.html" %}
{% endblock %}

{% block extra_script %}
  {% compress js %}
    <script src="{{ STATIC_URL }}datatables/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}tabletools/js/TableTools.min.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}datatables/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $(".tip").tooltip();
            var cols = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9{% if request.user.is_superuser %}, 11, 12{% endif %}];
            $("table.table-reviews").dataTable({
                "sDom": "<'row'<'span3'l><'span3'T><'span4'f>r>t<'row'<'span3'i><'span5'p>>",
                "sPaginationType": "bootstrap",
                "bStateSave": true,
                "oTableTools": {
                    "aButtons": [
                        {
                            "sExtends": "copy",
                            "mColumns": cols
                        },
                        {
                            "sExtends": "csv",
                            "mColumns": cols,
                            "sFileName": "{{ section }} Review Summary.csv"
                        },
                        {
                            "sExtends": "print",
                            "mColumns": cols
                        },
                    ],
                    "sSwfPath": "{{ STATIC_URL }}tabletools/swf/copy_csv_xls.swf"
                }
            });
        });
    </script>
  {% endcompress %}
{% endblock %}
