<nav class="sidenav venue-sidenav">
    <ul>
        <li>
            <a id="l-info" href="{% url venue_detail %}">Venue Info</a>
        </li>
        <li>
            <a id="l-travel" href="{% url traveling %}">Traveling to Santa Clara</a>
        </li>
        <li>
            <a id="l-directions" href="{% url directions %}">Directions to the Venue</a>
        </li>
        <li>
            <a id="l-around" href="{% url getting_around %}">Getting Around Santa Clara</a>
        </li>
        <li>
            <a id="l-weather" href="{% url weather %}">Weather</a>
        </li>
        <li>
            <a id="l-explore" href="{% url explore %}">Explore Santa Clara</a>
        </li>
        <li>
            <a id="l-restaurants" href="{% url restaurants %}">Restaurants</a>
        </li>
        <li>
            <a id="l-bars" href="{% url bars %}">Bars</a>
        </li>
        <li>
            <a id="l-shopping" href="{% url shopping %}">Shopping</a>
        </li>
        <li>
            <a id="l-share" href="{% url share_room %}">Need to share a room?</a>
        </li>
    </ul>
</nav>