{% extends "site_base.html" %}

{% block body_class %}venue{% endblock %}

{% load boxes_tags %}

{% block body %}
    <div class="span-8">
        <h1 class="section-title">{% block section_title %}PyCon <span>Venue</span>{% endblock %}</h1>
        <nav class="sidenav">
            <ul>
                <li><a id="l-info" href="travel#traveling to atlanta">Venue Info</a>
                </li>
                <li><a id="l-travel" href="travel#traveling to atlanta">Traveling to Atlanta</a>
                </li>
                <li><a id="venue-info" href="directions#directions to the venue">Directions to the Venue</a>
                </li>
                <li><a id="venue-info" href="transit#directions to the venue">Getting Around Atlanta</a>
                </li>
                <li><a id="l-weather" href="weather#directions to the venue">Weather</a>
                </li>
                <li><a id="venue-info" href="explore#directions to the venue">Explore Atlanta</a>
                </li>
                <li><a id="venue-info" href="restaurants#directions to the venue">Restaurants</a>
                </li>
                <li><a id="l-bars" href="bars#directions to the venue">Bars</a>
                </li>
                <li><a id="l-shopping" href="shopping#directions to the venue">Shopping</a>
                </li>
                <li><a id="venue-info" href="http://us.pycon.org/2011/tickets/room_sharing">Need to share a room?</a></li>
            </ul>
        </nav>
    </div>
    <div class="span-16 last spacer">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
